<template>
    <store-front-layout>
        <div>
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 break-words">
                <div class="grid sm:grid-cols-4 sm:gap-3 my-3 grid-cols-1 gap-3">
                    <div class="bg-white col-span-1">
                        <div class="container w-full flex flex-col h-full">
                            <div class="container h-auto ">
                                <category-navigation :category="category"></category-navigation>
                            </div>
                            <div class="container h-auto ">
                                <div class="grid grid-cols-12 p-4 border-b border-grey-line">
                                    <div class="col-span-1 my-auto">
                                        <img src="/images/icons/prod_scr.svg" />
                                    </div>
                                    <div class="col-span-11 text-pink-darken text-xl pl-2">
                                        <p>{{ trans.get('__JSON__.貨品篩選') }} <span class="text-sm">(12)</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="container h-auto ">
                                <div class="grid grid-cols-12 p-4 border-b border-grey-line">
                                    <div class="col-span-1 my-auto">
                                        <img src="/images/icons/pop-prod.svg" />
                                    </div>
                                    <div class="col-span-11 text-pink-darken text-xl pl-2">
                                        <p>{{ trans.get('__JSON__.熱門產品') }} <span class="text-sm">(12)</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="container h-auto ">
                                <div class="grid grid-cols-12 p-4 border-b border-grey-line">
                                    <div class="col-span-1 my-auto">
                                        <img src="/images/icons/double_points.svg" />
                                    </div>
                                    <div class="col-span-11 text-pink-darken text-xl pl-2">
                                        <p>{{ trans.get('__JSON__.雙倍積分') }} <span class="text-sm">(23)</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="container h-auto ">
                                <div class="grid grid-cols-12 p-4 border-b border-grey-line">
                                    <div class="col-span-1 my-auto">
                                        <img src="/images/icons/sale.svg" />
                                    </div>
                                    <div class="col-span-11 text-pink-darken text-xl pl-2">
                                        <p>{{ trans.get('__JSON__.多買多平') }} <span class="text-sm">(45)</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="container h-auto ">
                                <div class="grid grid-cols-12 p-4 border-b border-grey-line">
                                    <div class="col-span-1 my-auto">
                                        <img src="/images/icons/shop_owner.svg" />
                                    </div>
                                    <div class="col-span-11 text-pink-darken text-xl pl-2">
                                        <p>{{ trans.get('__JSON__.店主推介') }} <span class="text-sm">(45)</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="container h-auto ">
                                <div class="grid grid-cols-12 p-4 border-b border-grey-line">
                                    <div class="col-span-1 my-auto">
                                        <img src="/images/icons/disc_goods.svg" />
                                    </div>
                                    <div class="col-span-11 text-pink-darken text-xl pl-2">
                                        <p>{{ trans.get('__JSON__.減價貨品') }} <span class="text-sm">(45)</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="container h-auto ">
                                <div class="grid grid-cols-12 p-4 border-b border-grey-line">
                                    <div class="col-span-12 text-pink-darken text-xl pb-4">
                                        <p>{{ trans.get('__JSON__.用家評分') }}</p>
                                    </div>
                                    <div class="col-span-12">
                                        <Product-category-slider :min="1" :max="5" :amount="3"></Product-category-slider>
                                    </div>
                                    <div class="col-span-4 mr-auto flex pt-2">
                                        <p>1 </p> 
                                        <img src="/images/icons/single_star.svg" class="h-5"/>
                                    </div>
                                    <div class="col-span-4 mx-auto pt-2 flex">
                                        <p>3 </p> 
                                        <img src="/images/icons/single_star.svg" class="h-5"/>
                                    </div>
                                    <div class="col-span-4 ml-auto pt-2 flex">
                                        <p>5 </p>
                                        <img src="/images/icons/single_star.svg"  class="h-5"/>
                                    </div>
                                </div>
                            </div>
                            <div class="container h-auto ">
                                <div class="grid grid-cols-12 p-4 border-b border-grey-line">
                                    <div class="col-span-12 text-pink-darken text-xl pb-2">
                                        <p>{{ trans.get('__JSON__.品牌') }}</p>
                                    </div>
                                <div class="col-span-12 border-2 border-grey-borderdark rounded">
                                    <ul class="">
                                            <li class="p-2 text-grey-strong font-medium bg-grey-soft text-base"><input type="checkbox" name="" class=""> YSL (10)</li>
                                            <li class="p-2 text-grey-strong font-medium bg-grey-light text-base"><input type="checkbox" name="" class=""> RA MERCIER (10)</li>
                                            <li class="p-2 text-grey-strong font-medium bg-grey-soft text-base"><input type="checkbox" name="" class=""> MANI (1)</li>
                                            <li class="p-2 text-grey-strong font-medium bg-grey-light text-base"><input type="checkbox" name="" class=""> DIOR (10)</li>
                                            <li class="p-2 text-grey-strong font-medium bg-grey-soft text-base"><input type="checkbox" name="" class=""> RLAIN (10)</li>
                                        </ul>   
                                        <p class="text-right p-2 bg-grey-light text-grey-strong cursor-pointer">{{ trans.get('__JSON__.更多品牌') }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container h-auto ">
                                <div class="grid grid-cols-12 p-4 border-b border-grey-line">
                                    <div class="col-span-12 text-pink-darken text-xl pb-4">
                                        <p>{{ trans.get('__JSON__.產品價錢') }}</p>
                                    </div>
                                    <div class="col-span-12">
                                        <Product-category-slider :min="1" :max="5" :amount="3"></Product-category-slider>
                                    </div>
                                    <div class="grid grid-cols-5 col-span-12 pt-4 text-pink-darken">
                                        <div class="col-span-1 mr-auto">
                                            <p>$10</p>
                                        </div>
                                        <div class="col-span-1 mx-auto">
                                            <p>$200</p>
                                        </div>
                                        <div class="col-span-1 mx-auto">
                                            <p>$500</p>
                                        </div>
                                        <div class="col-span-1 mx-auto">
                                            <p>$1000</p>
                                        </div>
                                        <div class="col-span-1 ml-auto">
                                            <p>$2000</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden lg:block flex-grow">
                                <div class="h-1/2">
                                    <img class="w-full h-full" src="/images/icons/productsidebar1.jpg">
                                </div>
                                <div class="h-1/2">
                                    <img class="w-full h-full" src="/images/icons/productsidebar2.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sm:col-span-3 col-span-1 px-4">
                        <div class="container w-full">
                            <img v-lazy="banners.desktop" class="w-full h-auto hidden md:hidden lg:block">
                            <img v-lazy="banners.tablet" class="w-full h-auto hidden md:block lg:hidden">
                            <img v-lazy="banners.mobile" class="w-full h-auto block md:hidden lg:hidden">
                        </div>
                        <div class="grid grid-cols-12 gap-2 mt-8">
                            <div class="lg:col-span-6 col-span-12">
                                <breadcrumb :category="category"></breadcrumb>
                                <div class="text-pink-darken py-2 float-left flex w-full flex-wrap">
                                    <span class="block lg:inline-block mr-1">{{ trans.get('__JSON__.篩選結果') }}: {{ products.total }}{{ trans.get('__JSON__.件商品') }}&nbsp;</span>
                                    <span class="flex-grow block lg:inline-block">
                                        {{ trans.get('__JSON__.排序') }}:&nbsp;
                                        <span>{{ trans.get('__JSON__.價格') }}:&nbsp;</span>
                                        <a class="cursor-pointer" @click.prevent="sort('low to high')">{{ trans.get('__JSON__.低至高') }}</a>
                                        &nbsp;/&nbsp;
                                        <a class="cursor-pointer" @click.prevent="sort('high to low')">{{ trans.get('__JSON__.高到低') }}</a>
                                        &nbsp;/&nbsp;
                                        <a class="cursor-pointer" @click.prevent="sort('latest arrival')">{{ trans.get('__JSON__.最新上架日期') }}</a>
                                    </span>
                                </div>
                            </div>
                            <div class="lg:col-span-6 col-span-12 mt-auto">
                                <div class="grid grid-cols-12 gap-1">
                                    <div class="col-span-3">
                                        <button class="cursor-pointer text-base focus:outline-none focus:ring focus:border-0 bg-pink-strong w-full py-1 rounded text-white tracking-widest font-medium inline-flex items-center justify-center"><img class="w-3" src="/images/icons/lessthan.svg"/> FIRST</button>
                                    </div> 
                                    <div class="col-span-6 flex shopping-summary">
                                        <div class="sm:w-24 w-22"> 
                                            <v-select :options="items" placeholder="" :components="{OpenIndicator3}" class="px-1"></v-select>
                                        </div>
                                        <span class="font-medium text-sm text-grey pt-1.5">/ {{ trans.get('__JSON__.共') }} 25 {{ trans.get('__JSON__.頁') }}</span>
                                    </div>
                                    <div class="col-span-3">
                                        <button class="cursor-pointer text-base focus:outline-none focus:ring focus:border-0 bg-pink-strong w-full py-1 rounded text-white tracking-widest font-medium inline-flex items-center justify-center">LAST <img class="w-3" src="/images/icons/greaterthan.svg"/></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <products-list :products="products"></products-list>
                    </div>
                </div>
            </div>
        </div>
    </store-front-layout>
</template>

<script>
import StoreFrontLayout from '@/Layouts/StoreFrontLayout';
import CategoryNavigation from '@/StoreTemplates/CategoryNavigation';
import ProductsList from '@/StoreTemplates/ProductsList';
import Breadcrumb from '@/Shared/Breadcrumb';
import ProductCategorySlider from '@/StoreTemplates/ProductCategorySlider';
import vSelect from 'vue-select';
export default {
    components: {
        StoreFrontLayout,
        CategoryNavigation,
        ProductsList,
        Breadcrumb,
        ProductCategorySlider,
        'v-select': vSelect
    },

    data() {
        return {
            stars: 3.5,
            pagination: {
                first: true,
                previous: true,
                one: 1,
                two: 2,
                active: 2,
                three: 3,
                four: 4,
                dots: true,
                minusthree: 26,
                minustwo: 27,
                minusone: 28,
                next: true,
                last: true
            },

            items: ['test1', 'test2', 'test3', 'test4'],
            OpenIndicator1: {
                render: createElement => createElement('span', {
                    class: {
                        'toggle': true,
                        'caret-down': true
                    }
                }),
            },
            OpenIndicator2: {
                render: createElement => createElement('span', {
                    class: {
                        'toggle': true,
                        'caret-down': true
                    }
                }),
            },
            OpenIndicator3: {
                render: createElement => createElement('span', {
                    class: {
                        'toggle': true,
                        'caret-down': true
                    }
                }),
            }
        }
    },

    methods: {
        sort: function(opt){
            console.log(opt);
        },
    },

    props: ['meta', 'page', 'category', 'products', 'banners'],

    mounted() {
        // console.log(this.products);
    },

    watch: {
        meta: {
            immediate: true,
            handler(meta) {
                document.title = meta.title + ' - ' + this.$page.appName
            },
        },
    },
}
</script>
<style>
    .shopping-summary .vs__selected-options {
        border: 1px solid #e1dcdd;
    }
    .shopping-summary .vs__selected-options input{
        padding-bottom:2px;
    }
    .shopping-summary .vs__actions {
        border: 1px solid #e1dcdd;
        margin-left: 2px;
        padding: 6px;
        background: #aeacac;
    }
    .shopping-summary  .vs__open-indicator {
        fill: white;
    }
</style>
