<template>
     <store-front-layout>
        <div class="break-words">
            <div class="container mx-auto px-3 lg:px-4 xl:px-8">
                <div class="container w-full py-4 bg-white">
                    <div class="grid md:grid-cols-4 grid-cols-1 gap-6">
                        <div class="py-4 md:col-span-3 bg-pink-itemstrong col-span-1">
                            <div class="px-6 border-b border-grey">
                                <p class="text-2xl my-1 text-pink-darken">{{ trans.get('__JSON__.購物車共有 兩件 商品') }}</p>
                                <p class="text-xl text-pink-darken">{{ trans.get('__JSON__.額外選購多 HK$500 即可享免費送貨服務') }}</p>
                                <div class="grid pb-5 lg:grid-cols-3 grid-cols-1 lg:pt-0 py-3 lg:gap-2 gap-5">
                                    <div class="col-span-2 table h-full">
                                        <shopping-cart-slider class="table-cell align-middle" :min="0" :max="100" :amount="amount"></shopping-cart-slider>
                                    </div>
                                    <div class="col-span-1">
                                        <button class="bg-pink-stronger w-full text-white text-base py-2 px-5 rounded-full flex items-center">
                                            <img class="lg:w-1/5 w-10" src="/images/icons/whiteShare.svg"/>
                                            <p class="mx-1 text-xl text-white">{{ trans.get('__JSON__.分享購物清單') }}</p>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="container w-full py-4">
                                <div class="mx-6">
                                   <div class="grid border border-pink-darken grid-cols-4">
                                        <div class="col-span-1 border-r border-pink-darken">
                                              <img class="h-full w-full" src="/images/icons/product3.svg"/>
                                        </div>
                                        <div class="col-span-3 flex flex-col relative justify-between">
                                           <p class="px-3 my-1 text-grey-strong text-lg"> IPSA </p>
                                           <p class="px-3 my-1 text-grey-strong text-lg"> 零瑕修飾三色遮瑕膏 </p>
                                            <p class="px-3 text-grey-thin pt-3 text-base break-words"><del>HK$693.00</del></p>
                                            <p class="px-3  text-purple-light text-lg py-1 font-medium break-words">HK$488.80</p>
                                            <p class="p-3 w-full border-t justify-last bottom-0 border-pink-darken my-1 text-grey-strong text-base flex justify-between"> {{ trans.get('__JSON__.數量') }} ：1<span class="justify-self-end"> HK$255.60</span></p>
                                        </div>
                                    </div>
                                    <div class="grid border border-pink-darken border-t-0 grid-cols-4">
                                        <div class="col-span-1 text-center border-r border-b-0  border-pink-darken">
                                            <div class="py-5">
                                              <p class="text-pink-700 underline md:text-xl text-sm"> {{ trans.get('__JSON__.更改數量')}}</p>
                                            </div>
                                        </div>
                                        <div class="col-span-3 relative">
                                             <div class="grid h-full grid-cols-5 ">
                                                <div class="col-span-4 py-5">
                                                    <div class="px-3 flex items-center justify-start">
                                                        <img class="md:w-10 w-6" src="/images/icons/heart.svg"/>
                                                        <span class="ml-3 text-pink-700 underline md:text-xl text-sm">{{ trans.get('__JSON__.加入我的清單')}}</span>
                                                    </div>
                                                 </div>
                                                 <div class="col-span-1 py-5 border-l border-t-0  border-pink-darken">
                                                    <div class="md:w-26 w-12 mx-auto">
                                                    <img class="md:w-full w-60 mx-auto" src="/images/icons/trash.svg">
                                                    </div>
                                                 </div>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container w-full py-4">
                                <div class="mx-6">
                                   <div class="grid border border-pink-darken grid-cols-4 ">
                                        <div class="col-span-1 border-r border-pink-darken">
                                              <img class="h-full w-full" src="/images/icons/product3.svg"/>
                                        </div>
                                        <div class="col-span-3 flex flex-col relative justify-between">
                                           <p class="px-3 my-1 text-grey-strong text-lg"> IPSA </p>
                                           <p class="px-3 my-1 text-grey-strong text-lg"> 零瑕修飾三色遮瑕膏 </p>
                                            <p class="px-3 text-grey-thin pt-3 text-base break-words"><del>HK$693.00</del></p>
                                            <p class="px-3 text-purple-light text-lg py-1 font-medium break-words">HK$488.80</p>
                                            <p class="p-3 w-full border-t justify-last bottom-0 border-pink-darken my-1 text-grey-strong text-base flex justify-between"> {{ trans.get('__JSON__.數量') }} ：1<span class="justify-self-end"> HK$255.60</span></p>
                                        </div>
                                    </div>
                                    <div class="grid border border-pink-darken border-t-0 grid-cols-4">
                                        <div class="col-span-1 text-center border-r border-b-0  border-pink-darken">
                                            <div class="py-5">
                                              <p class="text-pink-700 underline md:text-xl text-sm"> {{ trans.get('__JSON__.更改數量')}}</p>
                                            </div>
                                        </div>
                                        <div class="col-span-3 relative">
                                             <div class="grid h-full grid-cols-5">
                                                <div class="col-span-4 py-5">
                                                    <div class="px-3 flex items-center md:justify-start justify-center">
                                                        <img class="md:w-10 w-6" src="/images/icons/heart.svg"/>
                                                        <span class="ml-3 text-pink-700 underline md:text-xl text-sm">{{ trans.get('__JSON__.加入我的清單')}}</span>
                                                    </div>
                                                 </div>
                                                 <div class="col-span-1 py-5 border-l border-t-0  border-pink-darken">
                                                    <div class="md:w-26 w-12 mx-auto">
                                                        <img class="md:w-full w-60 mx-auto" src="/images/icons/trash.svg">
                                                    </div>
                                                 </div>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-1 flex flex-col">
                            <div class="pb-5 bg-white h-auto">
                                <div class="p-3 bg-pink-dark">
                                    <p class="text-white text-lg">{{ trans.get('__JSON__.使用優惠') }}</p>
                                </div>
                                <div class="p-3 bg-pink-itemstrong">
                                    <p class="text-base text-pink-darken">{{ trans.get('__JSON__.請輸入優惠碼或電子卷號碼（如有)') }} :</p>
                                    <input type="text" class="bg-white border border-pink-darken rounded-md w-full my-2">
                                </div>
                            </div>
                            <div class="bg-pink-itemstrong justify-between flex flex-col flex-grow">
                                <div class="h-auto">
                                    <div class="p-3 bg-pink-dark">
                                        <p class="text-white text-lg">{{ trans.get('__JSON__.總結') }}</p>
                                    </div>
                                    <div class="py-3 bg-pink-itemstrong">
                                        <p class="text-base p-3 text-pink-darken border-b border-grey flex justify-between flex-wrap">{{ trans.get('__JSON__.商品總結') }} <span class="justify-self-end">HK$625,00</span></p>
                                        <p class="text-base px-3 py-2 text-pink-darken flex justify-between flex-wrap">{{ trans.get('__JSON__.帳單總額') }} <span class="justify-self-end">HK$625,00</span></p>
                                        <p class="text-base px-3 py-2 text-pink-darken flex justify-between flex-wrap">{{ trans.get('__JSON__.運費') }} <span class="justify-self-end">HK$0,00</span></p>
                                        <p class="text-base px-3 py-2 text-pink-darken flex justify-between flex-wrap">{{ trans.get('__JSON__.折扣') }} <span class="justify-self-end">HK$0,00</span></p>
                                    </div>
                                </div>
                                <div class="p-3 bg-pink-dark w-full justify-last">
                                    <p class="w-full text-pink-700 flex justify-between flex-wrap">
                                        {{ trans.get('__JSON__.付款總額') }} <span class="justify-self-end">HK$600,00</span>
                                    </p>
                                    <p class="w-full text-right text-pink-700">
                                       {{ trans.get('__JSON__.前往結帳') }}>>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full bg-white pb-3">
                    <div class="w-full overflow-auto  border-b border-pink-bordering">
                        <div class="text-2xl md:w-max border-b border-pink-darken text-pink-darken py-3">
                            <p class="px-4">{{ trans.get('__JSON__.查看此商品的顧客都在看') }}</p>
                        </div>
                    </div>
                </div>
                <div class="container relative py-3 w-full bg-grey-carousel">
                    <div class="w-93 mx-auto">
                        <hooper ref="carouselfourproductsone" class="focus:outline-none h-full bg-grey-carousel" :settings="hooperSettingstwoproductsone">
                            <slide>
                                <div class="w-11/12 mx-auto">
                                    <div class="py-1 bg-white relative w-full">
                                        <div class="flex flex-wrap px-4 gap-y-4 break-words absolute w-full">
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-sim.svg" class="max-h-16 mx-auto">
                                            </div>

                                            <!-- <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-sim.svg" class="max-h-16 mx-auto">
                                            </div> -->
                                        </div>
                                        <div class="h-50 w-full">
                                            <img class="w-11/12 mx-auto h-3/5" src="/images/icons/product.svg">
                                        </div>
                                    </div>
                                    <div class="mt-2 p-2 pr-0 bg-pink-item">
                                        <div class="pr-2">
                                            <p class="text-grey-strong font-medium">GIVENCHY</p>
                                            <p class="text-grey-strong font-medium">紀梵希明星四宮格散粉</p>
                                            <p class="text-grey-strong text-xs"> 25G</p>
                                            <p class="text-grey-thin pt-2 text-xs"> {{ trans.get('__JSON__.已售出 2,000+') }} </p>
                                            <div class="grid grid-cols-4 mt-2 gap-2">
                                                <div class="col-span-3 flex items-center">
                                                    <star-rating v-model="stars" :increment="0.5" :star-size="14" :rating="stars" :read-only="true" :show-rating="false"></star-rating>
                                                    <span class="text-blue-light pl-1 text-xs mt-1.5"> (23) </span>
                                                </div>
                                                <div class="col-span-1">
                                                    <span class="h-9 cursor-pointer rounded-b-lg px-0.5 py-2 w-full float-right mx-1 text-center inline-block bg-pink-product">
                                                        <img class="h-full w-full" src="/images/icons/shareicon.svg">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid grid-cols-4 mt-2 gap-2 pr-2">
                                            <div class="col-span-2 lg:col-span-2">
                                                <p class="text-grey-thin py-1 sm:text-xs text-9px break-words"><del>HK$693.00</del></p>
                                                <p class="text-purple-light font-medium md:text-lg text-9px break-words">HK$255.60</p>
                                            </div>
                                            <div class="col-span-1">
                                                <span class="h-9 cursor-pointer float-right rounded-b-lg px-0.5 py-2 w-full mx-1 text-center inline-block bg-pink-product">
                                                    <img class="h-full w-full" src="/images/icons/hearticon.svg">
                                                </span>
                                            </div>
                                            <div class="col-span-1">
                                                <span class="h-9 cursor-pointer float-right rounded-b-lg px-0.5 py-2 w-full mx-1 text-center inline-block bg-pink-product">
                                                    <img class="h-full w-full" src="/images/icons/carticon.svg">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </slide>
                            <slide>
                                <div class="w-11/12 mx-auto">
                                    <div class="py-1 bg-white relative w-full">
                                        <div class="flex flex-wrap px-4 gap-y-4 break-words absolute w-full">
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-sim.svg" class="max-h-16 mx-auto">
                                            </div>

                                            <!-- <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-sim.svg" class="max-h-16 mx-auto">
                                            </div> -->
                                        </div>
                                        <div class="h-50 w-full">
                                            <img class="w-11/12 mx-auto h-3/5" src="/images/icons/product.svg">
                                        </div>
                                    </div>
                                    <div class="mt-2 p-2 pr-0 bg-pink-item">
                                        <div class="pr-2">
                                            <p class="text-grey-strong font-medium">GIVENCHY</p>
                                            <p class="text-grey-strong font-medium">紀梵希明星四宮格散粉</p>
                                            <p class="text-grey-strong text-xs"> 25G</p>
                                            <p class="text-grey-thin pt-2 text-xs"> {{ trans.get('__JSON__.已售出 2,000+') }} </p>
                                            <div class="grid grid-cols-4 mt-2 gap-2">
                                                <div class="col-span-3 flex items-center">
                                                    <star-rating v-model="stars" :increment="0.5"  :star-size="14" :rating="stars" :read-only="true" :show-rating="false"></star-rating>
                                                    <span class="text-blue-light pl-1  text-xs mt-1.5"> (23) </span>
                                                </div>
                                                <div class="col-span-1">
                                                    <span class="h-9 cursor-pointer rounded-b-lg px-0.5 py-2 w-full float-right mx-1 text-center inline-block bg-pink-product">
                                                        <img class="h-full w-full" src="/images/icons/shareicon.svg">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid grid-cols-4 mt-2 gap-2 pr-2">
                                            <div class="col-span-2 lg:col-span-2">
                                                <p class="text-grey-thin py-1 sm:text-xs text-9px  break-words"><del>HK$693.00</del></p>
                                                <p class="text-purple-light font-medium  md:text-lg text-9px break-words">HK$255.60</p>
                                            </div>
                                            <div class="col-span-1">
                                                <span class="h-9 cursor-pointer float-right rounded-b-lg px-0.5 py-2 w-full mx-1 text-center inline-block bg-pink-product">
                                                    <img class="h-full w-full" src="/images/icons/hearticon.svg">
                                                </span>
                                            </div>
                                            <div class="col-span-1">
                                                <span class="h-9 cursor-pointer float-right rounded-b-lg px-0.5 py-2 w-full mx-1 text-center inline-block bg-pink-product">
                                                    <img class="h-full w-full" src="/images/icons/carticon.svg">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </slide>
                            <slide>
                                <div class="w-11/12 mx-auto">
                                    <div class="py-1 bg-white relative w-full">
                                        <div class="flex flex-wrap px-4 gap-y-4 break-words absolute w-full">
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-sim.svg" class="max-h-16 mx-auto">
                                            </div>

                                            <!-- <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-sim.svg" class="max-h-16 mx-auto">
                                            </div> -->
                                        </div>
                                        <div class="h-50 w-full">
                                            <img class="w-11/12 mx-auto h-3/5" src="/images/icons/product.svg">
                                        </div>
                                    </div>
                                    <div class="mt-2 p-2 pr-0 bg-pink-item">
                                        <div class="pr-2">
                                            <p class="text-grey-strong font-medium">GIVENCHY</p>
                                            <p class="text-grey-strong font-medium">紀梵希明星四宮格散粉</p>
                                            <p class="text-grey-strong text-xs"> 25G</p>
                                            <p class="text-grey-thin pt-2 text-xs"> {{ trans.get('__JSON__.已售出 2,000+') }} </p>
                                            <div class="grid grid-cols-4 mt-2 gap-2">
                                                <div class="col-span-3 flex items-center">
                                                    <star-rating v-model="stars" :increment="0.5" :star-size="14" :rating="stars" :read-only="true" :show-rating="false"></star-rating>
                                                    <span class="text-blue-light pl-1 text-xs mt-1.5"> (23) </span>
                                                </div>
                                                <div class="col-span-1">
                                                    <span class="h-9 cursor-pointer rounded-b-lg px-0.5 py-2 w-full float-right mx-1 text-center inline-block bg-pink-product">
                                                        <img class="h-full w-full" src="/images/icons/shareicon.svg">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid grid-cols-4 mt-2 gap-2 pr-2">
                                            <div class="col-span-2 lg:col-span-2">
                                                <p class="text-grey-thin py-1 sm:text-xs text-9px break-words"><del>HK$693.00</del></p>
                                                <p class="text-purple-light font-medium md:text-lg text-9px break-words">HK$255.60</p>
                                            </div>
                                            <div class="col-span-1">
                                                <span class="h-9 cursor-pointer float-right rounded-b-lg px-0.5 py-2 w-full mx-1 text-center inline-block bg-pink-product">
                                                    <img class="h-full w-full" src="/images/icons/hearticon.svg">
                                                </span>
                                            </div>
                                            <div class="col-span-1">
                                                <span class="h-9 cursor-pointer float-right rounded-b-lg px-0.5 py-2 w-full mx-1 text-center inline-block bg-pink-product">
                                                    <img class="h-full w-full" src="/images/icons/carticon.svg">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </slide>
                            <slide>
                                <div class="w-11/12 mx-auto">
                                    <div class="py-1 bg-white relative w-full">
                                        <div class="flex flex-wrap px-4 gap-y-4 break-words absolute w-full">
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-sim.svg" class="max-h-16 mx-auto">
                                            </div>

                                            <!-- <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-sim.svg" class="max-h-16 mx-auto">
                                            </div> -->
                                        </div>
                                        <div class="h-50 w-full">
                                            <img class="w-11/12 mx-auto h-3/5" src="/images/icons/product.svg">
                                        </div>
                                    </div>
                                    <div class="mt-2 p-2 pr-0 bg-pink-item">
                                        <div class="pr-2">
                                            <p class="text-grey-strong font-medium">GIVENCHY</p>
                                            <p class="text-grey-strong font-medium">紀梵希明星四宮格散粉</p>
                                            <p class="text-grey-strong text-xs"> 25G</p>
                                            <p class="text-grey-thin pt-2 text-xs"> {{ trans.get('__JSON__.已售出 2,000+') }} </p>
                                            <div class="grid grid-cols-4 mt-2 gap-2">
                                                <div class="col-span-3 flex items-center">
                                                    <star-rating v-model="stars" :increment="0.5" :star-size="14" :rating="stars" :read-only="true" :show-rating="false"></star-rating>
                                                    <span class="text-blue-light pl-1 text-xs mt-1.5"> (23) </span>
                                                </div>
                                                <div class="col-span-1">
                                                    <span class="h-9 cursor-pointer rounded-b-lg px-0.5 py-2 w-full float-right mx-1 text-center inline-block bg-pink-product">
                                                        <img class="h-full w-full" src="/images/icons/shareicon.svg">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid grid-cols-4 mt-2 gap-2 pr-2">
                                            <div class="col-span-2 lg:col-span-2">
                                                <p class="text-grey-thin py-1 sm:text-xs text-9px break-words"><del>HK$693.00</del></p>
                                                <p class="text-purple-light font-medium md:text-lg text-9px break-words">HK$255.60</p>
                                            </div>
                                            <div class="col-span-1">
                                                <span class="h-9 cursor-pointer float-right rounded-b-lg px-0.5 py-2 w-full mx-1 text-center inline-block bg-pink-product">
                                                    <img class="h-full w-full" src="/images/icons/hearticon.svg">
                                                </span>
                                            </div>
                                            <div class="col-span-1">
                                                <span class="h-9 cursor-pointer float-right rounded-b-lg px-0.5 py-2 w-full mx-1 text-center inline-block bg-pink-product">
                                                    <img class="h-full w-full" src="/images/icons/carticon.svg">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </slide>
                        </hooper>
                    </div>
                    <button class="focus:outline-none absolute w-10 h-10 top-1/2 p-1 rounded-lg bg-pink-strong text-gray-100 left-0" @click.prevent="slidePrevfourproductsone">
                        <v-icon name="chevron-left" :scale="1.8"></v-icon>
                    </button>
                    <button class="focus:outline-none absolute w-10 h-10 top-1/2 p-1 rounded-lg bg-pink-strong text-gray-100 right-0" @click.prevent="slideNextfourproductsone">
                        <v-icon name="chevron-right" :scale="1.8"></v-icon>
                    </button>
                </div>
                <div class="w-full bg-white py-3">
                    <div class="w-full overflow-auto  border-b border-pink-bordering">
                        <div class="text-2xl md:w-max border-b border-pink-darken text-pink-darken py-3">
                            <p class="px-4">{{ trans.get('__JSON__.查看此商品的顧客都在看') }}</p>
                        </div>
                    </div>
                </div>
                <div class="container relative py-3 w-full bg-grey-carousel">
                    <div class="w-93 mx-auto">
                        <hooper ref="carouselfourproductstwo" class="focus:outline-none h-full bg-grey-carousel" :settings="hooperSettingstwoproductstwo">
                            <slide>
                                <div class="w-11/12 mx-auto">
                                    <div class="py-1 bg-white relative w-full">
                                        <div class="flex flex-wrap px-4 gap-y-4 break-words absolute w-full">
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-sim.svg" class="max-h-16 mx-auto">
                                            </div>

                                            <!-- <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-sim.svg" class="max-h-16 mx-auto">
                                            </div> -->
                                        </div>
                                        <div class="h-50 w-full">
                                            <img class="w-11/12 mx-auto h-3/5" src="/images/icons/product.svg">
                                        </div>
                                    </div>
                                    <div class="mt-2 p-2 pr-0 bg-pink-item">
                                        <div class="pr-2">
                                            <p class="text-grey-strong font-medium">GIVENCHY</p>
                                            <p class="text-grey-strong font-medium">紀梵希明星四宮格散粉</p>
                                            <p class="text-grey-strong text-xs"> 25G</p>
                                            <p class="text-grey-thin pt-2 text-xs"> {{ trans.get('__JSON__.已售出 2,000+') }} </p>
                                            <div class="grid grid-cols-4 mt-2 gap-2">
                                                <div class="col-span-3 flex items-center">
                                                    <star-rating v-model="stars" :increment="0.5" :star-size="14" :rating="stars" :read-only="true" :show-rating="false"></star-rating>
                                                    <span class="text-blue-light pl-1 text-xs mt-1.5"> (23) </span>
                                                </div>
                                                <div class="col-span-1">
                                                    <span class="h-9 cursor-pointer rounded-b-lg px-0.5 py-2 w-full float-right mx-1 text-center inline-block bg-pink-product">
                                                        <img class="h-full w-full" src="/images/icons/shareicon.svg">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid grid-cols-4 mt-2 gap-2 pr-2">
                                            <div class="col-span-2 lg:col-span-2">
                                                <p class="text-grey-thin py-1 sm:text-xs text-9px break-words"><del>HK$693.00</del></p>
                                                <p class="text-purple-light font-medium md:text-lg text-9px break-words">HK$255.60</p>
                                            </div>
                                            <div class="col-span-1">
                                                <span class="h-9 cursor-pointer float-right rounded-b-lg px-0.5 py-2 w-full mx-1 text-center inline-block bg-pink-product">
                                                    <img class="h-full w-full" src="/images/icons/hearticon.svg">
                                                </span>
                                            </div>
                                            <div class="col-span-1">
                                                <span class="h-9 cursor-pointer float-right rounded-b-lg px-0.5 py-2 w-full mx-1 text-center inline-block bg-pink-product">
                                                    <img class="h-full w-full" src="/images/icons/carticon.svg">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </slide>
                            <slide>
                                <div class="w-11/12 mx-auto">
                                    <div class="py-1 bg-white relative w-full">
                                        <div class="flex flex-wrap px-4 gap-y-4 break-words absolute w-full">
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-sim.svg" class="max-h-16 mx-auto">
                                            </div>

                                            <!-- <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-sim.svg" class="max-h-16 mx-auto">
                                            </div> -->
                                        </div>
                                        <div class="h-50 w-full">
                                            <img class="w-11/12 mx-auto h-3/5" src="/images/icons/product.svg">
                                        </div>
                                    </div>
                                    <div class="mt-2 p-2 pr-0 bg-pink-item">
                                        <div class="pr-2">
                                            <p class="text-grey-strong font-medium">GIVENCHY</p>
                                            <p class="text-grey-strong font-medium">紀梵希明星四宮格散粉</p>
                                            <p class="text-grey-strong text-xs"> 25G</p>
                                            <p class="text-grey-thin pt-2 text-xs"> {{ trans.get('__JSON__.已售出 2,000+') }} </p>
                                            <div class="grid grid-cols-4 mt-2 gap-2">
                                                <div class="col-span-3 flex items-center">
                                                    <star-rating v-model="stars" :increment="0.5" :star-size="14" :rating="stars" :read-only="true" :show-rating="false"></star-rating>
                                                    <span class="text-blue-light pl-1 text-xs mt-1.5"> (23) </span>
                                                </div>
                                                <div class="col-span-1">
                                                    <span class="h-9 cursor-pointer rounded-b-lg px-0.5 py-2 w-full float-right mx-1 text-center inline-block bg-pink-product">
                                                        <img class="h-full w-full" src="/images/icons/shareicon.svg">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid grid-cols-4 mt-2 gap-2 pr-2">
                                            <div class="col-span-2 lg:col-span-2">
                                                <p class="text-grey-thin py-1 sm:text-xs text-9px break-words"><del>HK$693.00</del></p>
                                                <p class="text-purple-light font-medium md:text-lg text-9px break-words">HK$255.60</p>
                                            </div>
                                            <div class="col-span-1">
                                                <span class="h-9 cursor-pointer float-right rounded-b-lg px-0.5 py-2 w-full mx-1 text-center inline-block bg-pink-product">
                                                    <img class="h-full w-full" src="/images/icons/hearticon.svg">
                                                </span>
                                            </div>
                                            <div class="col-span-1">
                                                <span class="h-9 cursor-pointer float-right rounded-b-lg px-0.5 py-2 w-full mx-1 text-center inline-block bg-pink-product">
                                                    <img class="h-full w-full" src="/images/icons/carticon.svg">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </slide>
                            <slide>
                                <div class="w-11/12 mx-auto">
                                    <div class="py-1 bg-white relative w-full">
                                        <div class="flex flex-wrap px-4 gap-y-4 break-words absolute w-full">
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-sim.svg" class="max-h-16 mx-auto">
                                            </div>

                                            <!-- <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-sim.svg" class="max-h-16 mx-auto">
                                            </div> -->
                                        </div>
                                        <div class="h-50 w-full">
                                            <img class="w-11/12 mx-auto h-3/5" src="/images/icons/product.svg">
                                        </div>
                                    </div>
                                    <div class="mt-2 p-2 pr-0 bg-pink-item">
                                        <div class="pr-2">
                                            <p class="text-grey-strong font-medium">GIVENCHY</p>
                                            <p class="text-grey-strong font-medium">紀梵希明星四宮格散粉</p>
                                            <p class="text-grey-strong text-xs"> 25G</p>
                                            <p class="text-grey-thin pt-2 text-xs"> {{ trans.get('__JSON__.已售出 2,000+') }} </p>
                                            <div class="grid grid-cols-4 mt-2 gap-2">
                                                <div class="col-span-3 flex items-center">
                                                    <star-rating v-model="stars" :increment="0.5" :star-size="14" :rating="stars" :read-only="true" :show-rating="false"></star-rating>
                                                    <span class="text-blue-light pl-1 text-xs mt-1.5"> (23) </span>
                                                </div>
                                                <div class="col-span-1">
                                                    <span class="h-9 cursor-pointer rounded-b-lg px-0.5 py-2 w-full float-right mx-1 text-center inline-block bg-pink-product">
                                                        <img class="h-full w-full" src="/images/icons/shareicon.svg">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid grid-cols-4 mt-2 gap-2 pr-2">
                                            <div class="col-span-2 lg:col-span-2">
                                                <p class="text-grey-thin py-1 sm:text-xs text-9px break-words"><del>HK$693.00</del></p>
                                                <p class="text-purple-light font-medium md:text-lg text-9px break-words">HK$255.60</p>
                                            </div>
                                            <div class="col-span-1">
                                                <span class="h-9 cursor-pointer float-right rounded-b-lg px-0.5 py-2 w-full mx-1 text-center inline-block bg-pink-product">
                                                    <img class="h-full w-full" src="/images/icons/hearticon.svg">
                                                </span>
                                            </div>
                                            <div class="col-span-1">
                                                <span class="h-9 cursor-pointer float-right rounded-b-lg px-0.5 py-2 w-full mx-1 text-center inline-block bg-pink-product">
                                                    <img class="h-full w-full" src="/images/icons/carticon.svg">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </slide>
                            <slide>
                                <div class="w-11/12 mx-auto">
                                    <div class="py-1 bg-white relative w-full">
                                        <div class="flex flex-wrap px-4 gap-y-4 break-words absolute w-full">
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-01-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-02-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-03-sim.svg" class="max-h-16 mx-auto">
                                            </div>

                                            <!-- <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-04-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-05-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-06-sim.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'en'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-eng.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-HK'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-trad.svg" class="max-h-16 mx-auto">
                                            </div>
                                            <div v-if="trans.locale == 'zh-CN'" class="w-1/3">
                                                <img src= "/images/icons/tag-07-sim.svg" class="max-h-16 mx-auto">
                                            </div> -->
                                        </div>
                                        <div class="h-50 w-full">
                                            <img class="w-11/12 mx-auto h-3/5" src="/images/icons/product.svg">
                                        </div>
                                    </div>
                                    <div class="mt-2 p-2 pr-0 bg-pink-item">
                                        <div class="pr-2">
                                            <p class="text-grey-strong font-medium">GIVENCHY</p>
                                            <p class="text-grey-strong font-medium">紀梵希明星四宮格散粉</p>
                                            <p class="text-grey-strong text-xs"> 25G</p>
                                            <p class="text-grey-thin pt-2 text-xs"> {{ trans.get('__JSON__.已售出 2,000+') }} </p>
                                            <div class="grid grid-cols-4 mt-2 gap-2">
                                                <div class="col-span-3 flex items-center">
                                                    <star-rating v-model="stars" :increment="0.5" :star-size="14" :rating="stars" :read-only="true" :show-rating="false"></star-rating>
                                                    <span class="text-blue-light pl-1 text-xs mt-1.5"> (23) </span>
                                                </div>
                                                <div class="col-span-1">
                                                    <span class="h-9 cursor-pointer rounded-b-lg px-0.5 py-2 w-full float-right mx-1 text-center inline-block bg-pink-product">
                                                        <img class="h-full w-full" src="/images/icons/shareicon.svg">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid grid-cols-4 mt-2 gap-2 pr-2">
                                            <div class="col-span-2 lg:col-span-2">
                                                <p class="text-grey-thin py-1 sm:text-xs text-9px break-words"><del>HK$693.00</del></p>
                                                <p class="text-purple-light font-medium md:text-lg text-9px break-words">HK$255.60</p>
                                            </div>
                                            <div class="col-span-1">
                                                <span class="h-9 cursor-pointer float-right rounded-b-lg px-0.5 py-2 w-full mx-1 text-center inline-block bg-pink-product">
                                                    <img class="h-full w-full" src="/images/icons/hearticon.svg">
                                                </span>
                                            </div>
                                            <div class="col-span-1">
                                                <span class="h-9 cursor-pointer float-right rounded-b-lg px-0.5 py-2 w-full mx-1 text-center inline-block bg-pink-product">
                                                    <img class="h-full w-full" src="/images/icons/carticon.svg">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </slide>
                        </hooper>
                    </div>
                    <button class="focus:outline-none absolute w-10 h-10 top-1/2 p-1 rounded-lg bg-pink-strong text-gray-100 left-0" @click.prevent="slidePrevfourproductstwo">
                        <v-icon name="chevron-left" :scale="1.8"></v-icon>
                    </button>
                    <button class="focus:outline-none absolute w-10 h-10 top-1/2 p-1 rounded-lg bg-pink-strong text-gray-100 right-0" @click.prevent="slideNextfourproductstwo">
                        <v-icon name="chevron-right" :scale="1.8"></v-icon>
                    </button>
                </div>
            </div>
        </div>
    </store-front-layout>
</template>
<script>
import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
import StarRating from 'vue-star-rating'
import { Hooper, Slide } from 'hooper'
import 'hooper/dist/hooper.css';
import ShoppingCartSlider from '@/StoreTemplates/ShoppingCartSlider'
export default {
    components: {
        StoreFrontLayout,
        StarRating,
        Hooper,
        Slide,
        ShoppingCartSlider
    },
    props: ['meta'],
    watch: {
        meta: {
            immediate: true,
            handler(meta) {
                document.title=meta.title + ' - ' + this.$page.appName
            },
        },
    },
    data() {
        return {
            quantity: 2,
            amount: 60,
            stars: 3.5,
            items: ['test1', 'test2', 'test3', 'test4'],
            precaution: true,
            aboutstore: true,
            storeterms: true,
            deliveryreturns: true,
            hooperSettingstwoproducts: {
                breakpoints: {
                    1920: {
						itemsToShow: 2,
						itemsToSlide: 2,
						initialSlide: 2,
					},
                    1024: {
						itemsToShow: 2,
						itemsToSlide: 2,
						initialSlide: 2,
					},
					1023: {
						itemsToShow: 1,
						itemsToSlide: 1,
						initialSlide: 0,
					},
					768: {
						itemsToShow: 2,
						itemsToSlide: 2,
						initialSlide: 0,
					},
					0: {
						itemsToShow: 1,
						itemsToSlide: 1,
						initialSlide: 0,
					},
				},
				centerMode: false,
				infiniteScroll: true,
				autoPlay: false,
				playSpeed: 4000,
				hoverPause: false,
            },
            hooperSettingstwoproductsone: {
                breakpoints: {
                    1160: {
						itemsToShow: 4,
						itemsToSlide: 4,
						initialSlide: 4,
					},
					1024: {
						itemsToShow: 3,
						itemsToSlide: 3,
						initialSlide: 0,
					},
					768: {
						itemsToShow: 2,
						itemsToSlide: 2,
						initialSlide: 0,
					},
					0: {
						itemsToShow: 2,
						itemsToSlide:2,
						initialSlide: 0,
					},
				},
				centerMode: false,
				infiniteScroll: true,
				autoPlay: false,
				playSpeed: 4000,
				hoverPause: false,
            },
            hooperSettingstwoproductstwo: {
               breakpoints: {
                    1160: {
						itemsToShow: 4,
						itemsToSlide: 4,
						initialSlide: 4,
					},
					1024: {
						itemsToShow: 3,
						itemsToSlide: 3,
						initialSlide: 0,
					},
					768: {
						itemsToShow: 2,
						itemsToSlide: 2,
						initialSlide: 0,
					},
					0: {
						itemsToShow: 2,
						itemsToSlide: 2,
						initialSlide: 0,
					},
				},
				centerMode: false,
				infiniteScroll: true,
				autoPlay: false,
				playSpeed: 4000,
				hoverPause: false,
			},
        }
    },
    methods :{
        slidePrevfourproductsone: function(){
			this.$refs.carouselfourproductsone.slidePrev();
		},
		slideNextfourproductsone: function(){
			this.$refs.carouselfourproductsone.slideNext();
        },
        slidePrevfourproductstwo: function(){
			this.$refs.carouselfourproductstwo.slidePrev();
		},
		slideNextfourproductstwo: function(){
			this.$refs.carouselfourproductstwo.slideNext();
		},
        thumbOpen(){
            alert("thumbopen");
        },
        toggleprecaution() {
            this.precaution=!this.precaution;
        },
        toggleaboutstore(){
            this.aboutstore=!this.aboutstore;
        },
        togglestoreterms(){
            this.storeterms=!this.storeterms;
        },
        toggledeliveryreturns(){
           this.deliveryreturns=!this.deliveryreturns; 
        }
    }
}
</script>
<style module>
.hooper {
	height: auto!important;
}
</style>
