<div class="py-2 font-medium text-3xl text-center border-b-2 pb-0 border-pink-darken"><h1 class="text-pink-darken w-48 text-center mx-auto -pb-0 border-b-2 border-pink-darken">FAQs</h1></div>
<div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-4 md:px-12 xl:px-24 px-4 lg:px-12 lg:py-12 md:py-12 xl:py-12 gap-8">
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
	<a href="#">
		<div class="my-4 mx-4 lg:my-0 md:px-8 lg:px-12 py-8 xl:px-4 md:py-8 lg:py-8 xl:py-4 text-center border-4 border-pink-darken">
			<svg xmlns="http://www.w3.org/2000/svg" width="58.202" height="77.604" viewBox="0 0 58.202 77.604">
			  <g id="Group_2315" data-name="Group 2315" transform="translate(-8659.356 -7715.875)">
			    <path id="Path_2922" data-name="Path 2922" d="M8696.758,7764.178v6.8h-19.6v-7.2c.1-10.2,3.9-14.9,10.4-18.2,2.9-1.5,7.9-3.9,7.9-8.1,0-4.5-4.1-6.1-8-6.1-4.9,0-7.9,4-8.2,9.6h-19.9c.7-8.6,3.2-15.3,8.6-19.3s12.8-5.8,20.7-5.8c16.5,0,28.9,7.2,28.9,21.2,0,8.8-5.4,12.4-10.7,15.3C8701.758,7755.277,8696.758,7757.377,8696.758,7764.178Zm-19.6,13.4h19.5v15.9h-19.5Z" fill="#cea0a7"/>
			  </g>
			</svg>
		</div>
	</a>
</div>