<div class="table w-full">
    <div class="table-row">
        <div class="relative table-cell w-5/12">
          <div class="absolute top-1/2 w-full border-t-2 border-white"></div>
        </div>
        <div class="table-cell px-4">
          <h1 class="py-2 font-medium text-3xl text-center">隐私政策</h1>
        </div>
        <div class="relative table-cell w-5/12">
          <div class="absolute top-1/2 w-full border-t-2 border-white"></div>
        </div>
    </div>
</div>
<p class="py-2">众康（国际）贸易有限公司拥有及经营网站GirlsSecrets.com 网上购物平台服务(以下简称为「我们」、「
本公司」、「本网站」或「GS」)，透过互联网（包括透过使用应用程式或第三方软件程式）为商户及/或
供应商提供开店服务之销售平台，让使用者(以下简称为「阁下」、「你」、或「您」) 可以24小时、全天
候享受网上购物乐趣。我们重视阁下的私隐权，并竭力维护阁下个人资料得到保密。此私隐政策适用于我
们提供的所有产品及服务，说明我们可如何收集、使用及披露阁下的个人资料。本私隐政策受《个人资料
（私隐）条例》（香港法例第486章）（以下简称「私隐条例」）规管并奉行其有关规定。</p>
<p class="py-2 font-medium">本公司政策</p>
<p class="py-2">阁下毋须提供任何个人资料以浏览或使用本网页。当阁下登记使用我们的服务或网上内容，我们会收集阁
下的个人资料以便我们能够为阁下提供服务。阁下可拒绝向我们提供个人资料，但在此情况下，我们可能
无法为阁下提供服务。阁下提供个人资料，即代表阁下同意我们按本私隐政策声明使用阁下的个人资料。</p>
<p class="py-2 font-medium">所收集的个人资料类别</p>
<p class="py-2">本公司或会要求阁下提供下列的个人资料，以便就阁下的服务进行登记及管理。倘若没有此等资料，便不
可能满足阁下的服务要求。此类资料包括（但不限于）：(i) 姓名；(ii) 联络详情，包括联络人姓名及电话
号码，或电邮地址、送货地址。在某些情况下，阁下或需按要求提供若干资料，好让我们改善我们的产品
及服务，为阁下提供切合需要的资讯类别。在大部分情况下，阁下可选择不提供此类资料。然而，若有关
的服务是按个人所需而设，或产品的供应是需要阁下提供所有要求的资料，不提供此等资料会令本公司不
能提供所需的服务。此类资料包括（但不限于）：(i) 性别；(ii) 兴趣及公余活动；(iii) 其他有关并已使用的
产品及服务。本公司的网页伺服器亦会收集有关阁下接驳互联网期间的资料，以不记名方式作为伺服器使
用量的综合统计之用，借以加强服务，更能满足到访本公司网页人士的需要及期望。此类资料包括（但不
限于）：(i) 浏览器类型及版别；(ii) 操作系统；及(iii) 互联网规程(IP)地址及／或网域名称。</p>
<p class="py-2 font-medium">个人资料的使用</p>

本公司从阁下收集所得的个人资料可能会用于以下用途：
<p class="py-2">
1. 为阁下提供有关的服务；
2. 核实阁下的帐户身份；
3. 为阁下处理订单及处理与服务有关的付款指示或追收应缴款项或其他要求；
4. 就为阁下提供有关服务而分析、查阅及／或核实阁下的信用、付款及／或状况；
5. 为阁下设计所需服务；
6. 为阁下提供客户服务；
7. 进行市场研究、统计及行为分析；
8. 审核；
9. 按适用法律、规则及规例的规定作出披露；
10. 直接促销本公司及相关联公司的产品及服务。
</p>
<p class="py-2 font-medium">直接促销</p>
<p class="py-2">如阁下已提供您的可辨识个人身份的资料给我们，您便可能会不时收到我们或我们相关联公司的电话、电
邮或直接的推广邮件。我们主要透过电子邮件与您沟通，如果您希望取消订阅直接促销，您可以点击促销
电邮中的取消订阅连结，我们便会将您从通讯名单中剔除，且不需要您付上任何费用。此外，您亦可致电
(852) 51722917 联络我们的客户服务部以取消订阅。</p>
<p class="py-2 font-medium">资料的保存</p>
<p class="py-2">阁下与我们进行购物交易时，我们将保存您的网上交易纪录以作审核之用。我们的一般政策是将有关资料
保存一段合理时间。我们并不提供设施供阁下在网上删除我们所持之个人资料。
资料披露</p>
<p class="py-2">阁下向我们提供的所有个人资料将妥为存置于网站内，只有获授权人士方可查阅。</p>
<p class="py-2">「Cookies」的使用 </p>
<p class="py-2">当阁下浏览本公司网站时，除非另有说明，否则本公司只会纪录阁下曾经到访，而不会收集任何可辨识阁
下个人身份的资料。本网站任何部分所使用的Cookies（如有），并非用于收集可辨识个人身份的资料。
Cookies是储存于上网人士的电脑内的电脑档案，用于获取配置资料以及分析上网人士的浏览习惯。
Cookies可免除您每次浏览网站时重新登记的麻烦，并通常用于追踪您喜欢选择的网页主题。阁下有权选
择不接受Cookies，但这样的话有可能使您无法使用或启动本公司网站的若干功能。本公司将竭尽所能，
确保用户之私隐获得妥善保障。本网站使用128位元安全通讯端层保密技术 (SSL) 处理你的个人资料。然
而，鉴于互联网之性质，我们不能担保可以做到「完全保障」。</p>
<p class="py-2 font-medium">适用范围</p>
<p class="py-2">本私隐政策声明只适用于本公司网页。我们网页可能载有通往其他网址及网页的连结点。每当阁下启动任
何此等连结网址，例如点选任何广告客户的连结栏目，阁下即已离开了我们的网址；而阁下在离开我们网
址后向任何其他机构、团体提供的任何个人资料或任何其他资料，一概不在本公司的管控范围内。阁下须
承担一切浏览或使用其他网址的风险。</p>
<p class="py-2 font-medium">未成年人保护</p>
<p class="py-2">我们不会在知情的情况下收集未成年人的个人资讯，也不建议未成年人使用我们的服务。除非所在地法律
允许并获监护人同意，未成年人请不要注册帐户或发送自己的姓名、住址、电话、邮寄地址等个人资讯给
我们。如果我们不小心收集到了未成年人的资讯，我们在知情后会尽快删除。如果阁下认为我们可能不当
地持有来自于或关于未成年人的资讯，请联系我们。</p>
<p class="py-2 font-medium">修改私隐政策</p>
<p class="py-2 mb-20">我们可不时修改本私隐政策，并于我们网页(www.girlssecrets.com）公布。您可不时浏览本私隐政策，以
确保您得悉最新版本。</p>