<div class="table w-full">
    <div class="table-row">
        <div class="relative table-cell w-4/12">
          <div class="absolute top-1/2 w-full border-t-2 border-white"></div>
        </div>
        <div class="table-cell px-4">
          <h1 class="py-2 font-medium text-3xl text-center">Privacy Policy</h1>
        </div>
        <div class="relative table-cell w-4/12">
          <div class="absolute top-1/2 w-full border-t-2 border-white"></div>
        </div>
    </div>
</div>
<p class="py-2">Zhongkang (International) Company Ltd. owns and operates the website GirlsSecrets.com online shopping
platform service (hereinafter referred to as "we", "the company", "this website" or "GS") through the Internet
(including through the use of Apps or third-party software program) for merchants and/or suppliers to provide
technology shopping platform for users (hereinafter referred to as "you", "your" ) You can enjoy online shopping
24 hours a day. We recognize the importance of your privacy and maintaining the confidentiality of your personal
information. This Privacy Policy applies to all products and services provided by us and sets out how we may
collect, use and disclose your personal information. This Privacy Policy is governed by and observes the
requirements of the Personal Data (Privacy) Ordinance (Chapter 486) (the "Ordinance").</p>
<p class="py-2 font-medium">Our Company Policy</p>
<p class="py-2">You are not required to supply any personal data to access the company’s website. When you participate in,
access or sign up to any of the services, personal data is automatically collected from you to enable us to provide
you with your required services. You may decline to provide us with the requested personal data, but in such
case, we may not be able to provide the services to you. By submitting your personal data, you consent to the use
of these data as set out in this Privacy Policy Statement.</p>
<p class="py-2 font-medium">Types of Personal Data Collected</p>
<p class="py-2">For the purpose of making our business processes more efficient, including registration and administration of the
company's website and related products and services provided (including relevant online services), you may be
requested to provide personal data such as, but not limited to, the followings, without which it may not be
possible for us to satisfy your request:(i) Your name;(ii) Contact details, including contact name and telephone
number or email address, delivery address. In some instances, you may also be requested to provide certain data
that may be used to further enhance our products and services and/or better customize the type of information
presented to you. In most cases, this type of data is optional although, where the requested service is a
personalized service, or provision of a product is dependent on your providing all requested data, failure to
provide the requested data may prevent us from providing the service to you. This type of data includes, but not
limited to:(i) Gender;(ii) Hobbies and leisure activities;(iii) Other related products and services subscribed to. The
company's web servers may also collect data relating to your online session, the use of which is to provide
aggregated, anonymous, statistical information on the server's usage so that we may better meet the demands
and expectations of visitors to our sites. This type of data may include, but not limited to:(i) The browser type and
version;(ii) Operating system; and(iii) The IP address and/or domain name.</p>
<p class="py-2 font-medium">Use of personally identifiable information collected</p>
Personal data collected from you may be used by the company for:
<p class="py-2">
1. Providing you with the related services;
2. Verifying your account identity;
3. Handling your order(s) and payment instructions, or collecting outstanding bills or other instructions;
4. Analyzing, verifying, and/or conducting credit checks, payment details and/ or conditions, so as to provide
you with the related services;
5. Designing services for you;
6. Providing you with customer service;
7. Conducting marketing research, statistics analysis, and behavior analysis;
8. Auditing;
9. Making disclosures when required by applicable laws, rules and regulations;
10. Direct marketing of the products and services of the company and its business partners.
</p>
<p class="py-2 font-medium">Direct marketing</p>
<p class="py-2">We have asked you for your consent before you providing us with your personally identifiable information. After
receiving your consent, you may receive from us or from our affiliated companies telephone calls, email and
direct mailings containing promotional materials from time to time. We mainly communicate with you through
email, if you wish to unsubscribe the direct marketing communications, you can click on the unsubscribe link in
each of the promotional email, and we will opt YOU OUT FROM THE MAILING LISTING WITHOUT ANY COST.
ALTERNATIVELY, YOU MAY CONTACT OUR CUSTOMER SERVICE BY CALLING (852) 51722917 FOR UN-
SUBSCRIPTION.</p>
<p class="py-2 font-medium">RETENTION OF THE INFORMATION</p>
<p class="py-2">IN YOUR DEALINGS WITH US, WE RETAIN RECORDS OF YOUR ONLINE TRANSACTIONS FOR AUDITING PURPOSES.
ACCORDING TO OUR GENERAL POLICY, WE SHALL RETAIN THE INFORMATION FOR A REASONABLE PERIOD. WE DO
NOT OFFER ONLINE FACILITIES FOR YOU TO DELETE PERSONAL DATA HELD BY US.</p>
<p class="py-2 font-medium">SECURITY</p>
<p class="py-2">ALL PERSONAL DATA YOU PROVIDED TO US IS SECURED ON OUR WEBSITE WITH RESTRICTED ACCESS BY
AUTHORIZED PERSONNEL ONLY.</p>
<p class="py-2 font-medium">USE OF COOKIES</p>
<p class="py-2">WHEN YOU BROWSE WWW.GIRLSSECRETS.COM, THE COMPANY WILL RECORD YOUR VISIT ONLY AND WILL NOT
COLLECT ANY PERSONALLY IDENTIFIABLE INFORMATION FROM YOU UNLESS OTHERWISE STATED. COOKIES USED
(IF ANY) IN ANY PART OF OUR SITE WILL NOT BE DEPLOYED FOR COLLECTING PERSONALLY IDENTIFIABLE
INFORMATION. FOR YOUR INFORMATION, COOKIES ARE COMPUTER FILES WHICH WILL BE STORED IN WEB
SURFER’S COMPUTER FOR THE PURPOSES OF OBTAINING CONFIGURATION INFORMATION AND ANALYZING WEB
SURFERS’ VIEWER HABITS. THEY CAN SAVE YOU FROM REGISTERING AGAIN WHEN RE-VISITING A WEB SITE AND
ARE COMMONLY USED TO TRACK YOUR PREFERENCES IN RELATION TO THE SUBJECT MATTER OF THE WEBSITE.
YOU HAVE A CHOICE NOT TO ACCEPT THE COOKIES, BUT TO DO SO YOU MAY BE UNABLE TO UTILIZE OR ACTIVATE
CERTAIN AVAILABLE FUNCTIONS ON OUR SITE.THE COMPANY WILL DO ITS UTMOST TO ENSURE THAT THE
PRIVACY OF USERS IS PROPERLY PROTECTED. THIS SITE USES 128-BIT SECURE COMMUNICATION END-LAYER
SECURITY TECHNOLOGY (SSL) TO PROCESS YOUR PERSONAL DATA. HOWEVER, GIVEN THE NATURE OF THE
INTERNET, WE CANNOT GUARANTEE THAT IT CAN BE "FULLY PROTECTED."
</p>
<p class="py-2 font-medium">SCOPE OF APPLICATION</p>
<p class="py-2">THIS PRIVACY POLICY STATEMENT ONLY APPLIES TO OUR WEBSITE WHICH MAY CONTAIN LINKS TO OTHER SITES
AND PAGES. BY ACTIVATING A LINK, FOR EXAMPLE BY CLICKING ON THE BANNER OF AN ADVERTISER MEANS YOU
LEAVE OUR WEBSITE AND THE COMPANY DOES NOT EXERCISE CONTROL OVER ANY PERSONAL DATA OR ANY
OTHER INFORMATION YOU GIVE TO ANY OTHER ENTITY AFTER YOU HAVE LEFT OUR WEBSITE. ACCESS TO AND
USE OF SUCH OTHER WEBSITES IS AT YOUR OWN RISK.</p>
<p class="py-2 font-medium">JUVENILE PROTECTION</p>
<p class="py-2">WE WILL NEITHER KNOWINGLY COLLECT INFORMATION ON ANY JUVENILE NOR ADVISE ANY JUVENILE TO USE
OUR SERVICES. UNLESS PERMITTED BY LAW AND APPROVED BY THE GUARDIAN, THE JUVENILE MAY NOT
REGISTER AN ACCOUNT OR SEND THEIR NAME, ADDRESS, TELEPHONE OR EMAIL ADDRESS TO US. IF WE COLLECT
ANY INFORMATION ABOUT THE JUVENILE NEGLIGENTLY, WE WILL DELETE ALL INFORMATION AS SOON AS
POSSIBLE WHEN WE ARE AWARE OF IT. IF YOU THINK THAT WE MIGHT HOLD INFORMATION FROM OR ON ANY
JUVENILE, PLEASE CONTACT US.</p>
<p class="py-2 font-medium">AMENDING PRIVACY POLICY STATEMENT</p>
<p class="py-2 mb-20">OUR PRIVACY POLICY STATEMENT MAY BE AMENDED FROM TIME TO TIME WITHOUT PRIOR NOTICE, AND IT WILL
THEN BE PUBLISHED ON OUR SITE (www.girlssecrets.com). YOU ARE ADVISED TO CHECK IT ON A REGULAR BASIS
IN ORDER TO OBTAIN THE LATEST VERSION.</p>