<div class="table w-full">
    <div class="table-row">
        <div class="relative table-cell w-5/12">
          <div class="absolute top-1/2 w-full border-t-2 border-white"></div>
        </div>
        <div class="table-cell px-4">
          <h1 class="py-2 font-medium text-3xl text-center">隱私政策</h1>
        </div>
        <div class="relative table-cell w-5/12">
          <div class="absolute top-1/2 w-full border-t-2 border-white"></div>
        </div>
    </div>
</div>
<p class="py-2">眾康（國際）貿易有限公司擁有及經營網站GirlsSecrets.com 網上購物平台服務 (以下簡稱為「我們
」、「本公司」、「本網站」或「GS」)，透過互聯網（包括透過使用應用程式或第三方軟件程式）為商
戶及/或供應商提供開店服務之銷售平台，讓使用者 (以下簡稱為「閣下」、「你」、或「您」) 可以24小
時、全天候享受網上購物樂趣。我們重視閣下的私隱權，並竭力維護閣下個人資料得到保密。此私隱政策
適用於我們提供的所有產品及服務，說明我們可如何收集、使用及披露閣下的個人資料。本私隱政策受《
個人資料（私隱）條例》（香港法例第486章）（以下簡稱「私隱條例」）規管並奉行其有關規定。</p>

<p class="py-2 font-medium">本公司政策</p>
<p class="py-2">閣下毋須提供任何個人資料以瀏覽或使用本網頁。當閣下登記使用我們的服務或網上內容，我們會收集閣
下的個人資料以便我們能夠為閣下提供服務。閣下可拒絕向我們提供個人資料，但在此情況下，我們可能
無法為閣下提供服務。閣下提供個人資料，即代表閣下同意我們按本私隱政策聲明使用閣下的個人資料。</p>
<p class="py-2 font-medium">所收集的個人資料類別</p>
<p class="py-2">本公司或會要求閣下提供下列的個人資料，以便就閣下的服務進行登記及管理。倘若沒有此等資料，便不
可能滿足閣下的服務要求。此類資料包括（但不限於）：(i) 姓名；(ii) 聯絡詳情，包括聯絡人姓名及電話
號碼，或電郵地址、送貨地址。在某些情況下，閣下或需按要求提供若干資料，好讓我們改善我們的產品
及服務，為閣下提供切合需要的資訊類別。在大部分情況下，閣下可選擇不提供此類資料。然而，若有關
的服務是按個人所需而設，或產品的供應是需要閣下提供所有要求的資料，不提供此等資料會令本公司不
能提供所需的服務。此類資料包括（但不限於）：(i) 性別；(ii) 興趣及公餘活動；(iii) 其他有關並已使用的
產品及服務。本公司的網頁伺服器亦會收集有關閣下接駁互聯網期間的資料，以不記名方式作為伺服器使
用量的綜合統計之用，藉以加強服務，更能滿足到訪本公司網頁人士的需要及期望。此類資料包括（但不
限於）：(i) 瀏覽器類型及版別；(ii) 操作系統；及(iii) 互聯網規程(IP)地址及／或網域名稱。</p>
<p class="py-2 font-medium">個人資料的使用</p>
<p class="py-2">本公司從閣下收集所得的個人資料可能會用於以下用途：</p>
<p class="py-2">
1. 為閣下提供有關的服務；
2. 核實閣下的帳戶身份；
3. 為閣下處理訂單及處理與服務有關的付款指示或追收應繳款項或其他要求；
4. 就為閣下提供有關服務而分析、查閱及／或核實閣下的信用、付款及／或狀況；
5. 為閣下設計所需服務；
6. 為閣下提供客戶服務；
7. 進行市場研究、統計及行為分析；
8. 審核；
9. 按適用法律、規則及規例的規定作出披露；
10. 直接促銷本公司及相關聯公司的產品及服務。
</p>
<p class="py-2 font-medium">直接促銷</p>
<p class="py-2">如閣下已提供您的可辨識個人身份的資料給我們，您便可能會不時收到我們或我們相關聯公司的電話、電
郵或直接的推廣郵件。我們主要透過電子郵件與您溝通，如果您希望取消訂閱直接促銷，您可以點擊促銷
電郵中的取消訂閱連結，我們便會將您從通訊名單中剔除，且不需要您付上任何費用。此外，您亦可致電
(852) 51722917 聯絡我們的客戶服務部以取消訂閱。</p>
<p class="py-2 font-medium">資料的保存</p>
<p class="py-2">閣下與我們進行購物交易時，我們將保存您的網上交易紀錄以作審核之用。我們的一般政策是將有關資料
保存一段合理時間。我們並不提供設施供閣下在網上刪除我們所持之個人資料。</p>
<p class="py-2 font-medium">資料披露</p>
<p class="py-2">閣下向我們提供的所有個人資料將妥為存置於網站內，只有獲授權人士方可查閱。</p>
<p class="py-2">「Cookies」的使用</p>
<p class="py-2">
當閣下瀏覽本公司網站時，除非另有說明，否則本公司祇會紀錄閣下曾經到訪，而不會收集任何可辨識閣
下個人身份的資料。本網站任何部分所使用的Cookies（如有），並非用於收集可辨識個人身份的資料
。Cookies是儲存於上網人士的電腦內的電腦檔案，用於獲取配置資料以及分析上網人士的瀏覽習慣
。Cookies可免除您每次瀏覽網站時重新登記的麻煩，並通常用於追蹤您喜歡選擇的網頁主題。閣下有權
選擇不接受Cookies，但這樣的話有可能使您無法使用或啟動本公司網站的若干功能。本公司將竭盡所能，
確保用戶之私隱獲得妥善保障。本網站使用128位元安全通訊端層保密技術 (SSL) 處理你的個人資料。然
而，鑑於互聯網之性質，我們不能擔保可以做到「完全保障」。</p>
<p class="py-2 font-medium">適用範圍</p>
<p class="py-2">本私隱政策聲明只適用於本公司網頁。我們網頁可能載有通往其他網址及網頁的連結點。 每當閣下啟動任
何此等連結網址，例如點選任何廣告客戶的連結欄目，閣下即已離開了我們的網址；而閣下在離開我們網
址後向任何其他機構、團體提供的任何個人資料或任何其他資料，一概不在本公司的管控範圍內。閣下須
承擔一切瀏覽或使用其他網址的風險。</p>
<p class="py-2 font-medium">未成年人保護</p>
<p class="py-2">我們不會在知情的情況下收集未成年人的個人資訊，也不建議未成年人使用我們的服務。除非所在地法律
允許並獲監護人同意，未成年人請不要註冊帳戶或發送自己的姓名、住址、電話、郵寄地址等個人資訊給
我們。如果我們不小心收集到了未成年人的資訊，我們在知情後會儘快刪除。如果閣下認為我們可能不當
地持有來自於或關於未成年人的資訊，請聯繫我們。</p>
<p class="py-2 font-medium">修改私隱政策</p>
<p class="py-2 mb-20">我們可不時修改本私隱政策，並於我們網頁(www.girlssecrets.com）公佈。您可不時瀏覽本私隱政策，以
確保您得悉最新版本。</p>