<div class="table w-full">
    <div class="table-row">
        <div class="relative table-cell w-5/12">
          <div class="absolute top-1/2 w-full border-t-2 border-pink-800"></div>
        </div>
        <div class="table-cell px-4 3xl">
          <h3 class="py-4 text-4xl text-pink-800 text-center">使用條款</h3>
        </div>
        <div class="relative table-cell w-5/12">
          <div class="absolute top-1/2 w-full border-t-2 border-pink-800"></div>
        </div>
    </div>
</div>

<div class="bg-pink-stronger py-4 sm:px-8 px-4 text-white">
<p class="py-2 text-center">歡迎您到訪及使用 Girls Secrets網上購物平台 www.girlssecrets.com！為使閣下更安心使用我們的服務，敬請先閱讀本
網站之使用條款及細則。</p>
<p class="py-2">眾康（國際）貿易有限公司擁有及經營網站GirlsSecrets.com 網上購物平台服務 (以下簡稱為「我們」、「本公司
」、「本網站」或「GS」)，透過互聯網（包括透過使用應用程式或第三方軟件程式）為商戶及/或供應商提供加盟開店
服務(以下簡稱為「加盟商」) 之銷售平台，讓使用者 (以下簡稱為「閣下」、「你」、或「您」) 可以24小時、全天候享
受網上購物樂趣。</p>
 <p class="py-2">當閣下使用本網站，即代表閣下同意受下列條款及細則所約束。我們保留一切權利，可不時更改本條款及細則，而無
需作出任何事前通知。修改後的條款及細則由發佈日開始生效。閣下持續使用本網站及我們的服務，即視為閣下
同意接受本條款及細則的最新版本。</p>
</div>
<div class="mx-4 py-2 sm:px-8 px-4 bg-white">
<h2 class="py-2 font-medium text-pink-600">1 條款及細則所用若干詞彙的涵義：</h2>
<p class="py-2">1.1 「內容」指所有在本網站展示的文字、圖像、標誌、圖標、相片、影像、移動視覺具象圖像或聲音的結
合及我們的網站所選、所示或所用或與之有關的圖像、音效、電腦程式及其他材料。</p>
<p class="py-2">1.2 「商品」指閣下透過本網站所訂購及將會支付的貨物(包括但不限於食品、飲品、換領劵)或服務。</p>
<p class="py-2">1.3 「註冊用戶」指於本網站完成登記成為會員。</p>
<p class="py-2">1.4 「知識產權」指任何及所有專利、商標、域名權利、設計權利、版權及數據庫權利（無論是否已註冊及
註冊任何上述者的申請或就任何上述者申請註冊的權利）、保密資料權利及目前或日後可能於世界任何
地方存在的類似或相應性質的所有其他知識產權權利。</p>
<p class="py-2">1.5 「服務」由本網站提供途徑(非實體商品) 給使用者以滿足其需求，包括但不限於瀏覽、查詢、咨詢、購
買行為等等。</p>
<p class="py-2">1.6 「加盟商」指閣下透過我們的網站所訂購的商品賣家、商戶及供應商。</p>
<p class="py-2">1.7 「使用者內容」指具有第6.3條款所訂定的涵義。</p>
 <h2 class="py-2 font-medium text-pink-600">2 使用者設定及註冊</h2>
<p class="py-2">2.1 閣下可以個人或企業代表名義於本網站註冊成為會員，以享有更佳的購物體驗及不同的折扣優惠！</p>
<p class="py-2">2.2 不論有否於本網站註冊成為會員，當閣下決定進行購物交易時，即表示閣下聲明已年滿18歲或以上（
而我們有權以相關聲明作為依據），有能力閱讀及理解本網站內容，同時接受及同意相關之條款及細則
，並有能力簽訂及履行具法律約束力的合約。</p>
<p class="py-2">2.3 當閣下使用本網站服務時，即表示閣下已同意並接受：
</p><p class="py-2">2.3.1 閣下所提供的資料均為真實、準確、最新及完整的；
</p><p class="py-2">2.3.2 確保妥善保管閣下之登入資料（包括但不限於手提電話號碼、電郵地址、面書(Facebook) 帳
戶、微訊帳戶、個人密碼等等）；
</p><p class="py-2">2.3.3 系統在登入時會發送一次性的密碼或電郵驗證要求，完成驗證後方完成註冊程序；
</p><p class="py-2">2.3.4 使用閣下登入資料進入本網站者，我們將視之為閣下本人及/或已獲得閣下授權之人仕，並享
有該註冊用戶之權利與責任；
</p><p class="py-2">2.3.5 保持持續及即時更新閣下的註冊資料以確保有關資料真實、準確、最新及完整。如我們有合理
理由懷疑任何資料屬不實、不準確、並非最新或不完整，我們有權暫停或終止閣下的註冊。
</p><p class="py-2">2.4 當閣下註冊成為會員時，註冊名稱可以為閣下之姓名及/或暱稱以代表閣下本人，並承諾、同意及履行
本網站的使用條款及內容；
</p><p class="py-2">2.5 註冊成為會員後將享有不同的升級機會，而相關升級標準包括但不限於訂單金額、購物次數、用家評論
量、特定時限購買，當會員達到相關升級要求，將會享有不同級別帶來的優惠，而有關升級標準及會員
優惠，將會不時更新、修改及/或刪除，而有關內容將會於本網站發佈及更新，生效日期將為本網站發
佈日期；
</p><p class="py-2">2.6 倘閣下違反任何條款及細則，我們或會立即終止閣下進入我們的網站或取消註冊。</p>
<h2 class="py-2 font-medium text-pink-600">3 商品限制</h2>
<p class="py-2">3.1 本網站上提供的某些商品（下稱「受限制商品」）受到購買限制的約束，這些限制包括但不限於酒/酒
類、煙草類及藥物商品，如在購買、交付時不乎合香港特別行政區法律要求，我們有權單方面拒絕、取
消任何訂單。在法律禁止的情況下，本網站上提供的任何煙草類和酒類商品的報價均屬無效。
</p><p class="py-2">3.2 購買酒/酒類、煙草類商品必須年滿十八歲或以上人士，本網站、加盟商及其送貨人（視情況而定）有
權全權酌情行使以下權利：
</p><p class="py-2">3.2.1 在向任何個人交付上述商品之前，要求其提供有效的年齡證明（例如：身份證）；
</p><p class="py-2">3.2.2 在您無法證明您已達到法定年齡的情況下拒絕交付上述商品；以及/或者
</p><p class="py-2">3.2.3 出於任何原因拒絕向任何個人交付上述商品。
</p><p class="py-2">3.3 根據香港特別行政區有關藥物管制法例規定，在售賣被分類為毒藥的藥劑製品和售賣需要處方的毒藥的
藥劑製品，必須在有領取合適牌照及有註冊藥劑師監督下售賣，因此，本網站將不會直接出售此類產品
，唯訂單以預留形式給予持牌及合法加盟商，本網站會為閣下提供人員代付款、取貨及送貨服務安排。
</p><p class="py-2">3.4 閣下下單預留藥物前，即表示閣下聲明已對相關產品成份、效能、使用方法等等有充分了解，本網站及
加盟商均不會對使用因此類產品後的任何後果作出承擔。</p>

<h2 class="py-2 font-medium text-pink-600">4 購物及訂單</h2>
</p><p class="py-2">4.1 除非另有註明，否則我們並非商品的賣家、加盟商或供應商。我們負責管理網站，並提供網站系統作為
加盟商管理其商品及訂單之平台，在訂單處理過程，我們會盡力提供協助，讓使用者及商戶可以完成交
易。
</p><p class="py-2">4.2 我們將採取一切合理商業努力於我們的網站顯示準確及最新價格。然而，由於各類銷售商品的價格通常
由加盟商更新，故我們於接納閣下的訂單前無法列出確實的價格。
</p><p class="py-2">4.3 當閣下訂購商品時，即表示閣下按商品的指定價格向供應商購買該等商品，並代表同意及了解該商品內
的資訊、條款及用途。訂單一經確認後，恕無法修改、取消或退款，即使我們仍未接納或拒絕閣下的訂
單。
</p><p class="py-2">4.4 閣下可於網站及/或手機應用程式登入本網站，查詢閣下之訂單，同時，我們亦可能以電郵及/或短訊給
予閣下訂單資料訊息。閣下可以保留該電郵及/或訊息，以便日後查詢之用。
</p><p class="py-2">4.5 我們所接納閣下的訂單將只會涵蓋該確認所指的商品，而未必涵蓋閣下所訂購的所有商品。如屬此情況
，則當我們就閣下訂單的其餘商品進一步發出接納確認時，閣下就該訂單部分所作出的訂購方獲接納。
</p><p class="py-2">4.6 商品的存貨供應於網上顯示，並將由加盟商定期更新。但不應被依賴作為閣下有意購買的商品是否確實
有存貨的依據。
</p><p class="py-2">4.7 我們保留權利可全權酌情就任何理由不接納或取消訂單，包括但不限於：
</p><p class="py-2">4.7.1 閣下所訂購的貨物並無足夠的存貨；
</p><p class="py-2">4.7.2 未能就閣下的地區安排送貨；或
</p><p class="py-2">4.7.3 閣下所訂購的一件或多件商品所標示的價格因人為或電腦錯誤或加盟商所提供的定價資料錯
誤而出錯。

</p><p class="py-2">4.8 本網站接受 VISA卡、萬事達卡、PAYPAL、支付寶、微訊支付及銀聯信用卡付款，為提供更多元化選擇
，我們會不時更新付款方法。
</p><p class="py-2">4.9 我們提供的促銷代碼、優惠碼及優惠券只適用於透過我們網站一次性的購物，並受條款及細則所約束。
</p><p class="py-2">4.10 促銷代碼、優惠碼及優惠券既不作退款，也不能兌換現金。任何剩餘未使用的金額將被作廢。
</p><p class="py-2">4.11 若閣下的訂單因任何理由被取消或有資格獲得退款，該訂單中使用的促銷代碼、優惠碼或優惠卷將被作
廢而我們無需退款或作出任何補償。
</p><p class="py-2">4.12 如我們取消閣下的訂單，我們將以電郵及/或短訊及/或手機應用程式通知閣下，並將盡快將退還閣下於
訂購時，於付款系統所扣減的任何金額，並經由該第三方付款服務機構處理退款。閣下接納我們毋須就
閣下的不滿而作出任何賠償。
</p><p class="py-2">4.13 所有訂單將會以港幣結算。如閣下使用信用卡付款作出訂購時，即表示閣下授權我們，按閣下訂單的商
品金額於閣下所指定的信用卡扣款，並向我們聲明閣下獲授權作出付款。於收取款項前，商品的擁有權
不會轉移至閣下。
</p><p class="py-2">4.14 我們使用第三方付款服務以進行網上交易。當閣下作出訂購時，閣下同意及接納，受其條款及細則所限
制，閣下的信用卡資料將會被我們以及付款服務機構收集、處理及保留。閣下同意及接納，閣下單獨及
獨自承擔閣下於進行信用卡交易時所招致或產生的任何損失，且我們於任何情況下均毋須承擔任何有關
全部或部分損失。</p>
<h2 class="py-2 font-medium text-pink-600">5 發貨安排</h2>
<p class="py-2">5.1 我們會將閣下訂購的商品透過我們的職員或第三方供應商送遞閣下所提供的送貨地址。當閣下確認收到
商品同時，閣下同意應要求當面出示具有照片的身份證明，及/或要求提供手提電話號碼及姓名作身份
核對。
</p><p class="py-2">5.2 當商品送遞至閣下所提供的送貨地址，商品被視為交付予閣下及由閣下接收。倘閣下因任何原因而未能
接收商品，閣下同意及接受我們有權選擇向閣下收取額外費用或取消閣下訂購而無需退款或作出任何補
償。
</p><p class="py-2">5.3 每張訂單只限運送至一個送貨地點。
</p><p class="py-2">5.4 我們保留一切權利，可於任何時間及不時調整免運費訂單金額。
</p><p class="py-2">5.5 我們於收到訂單後會盡快安排發貨，務求令客戶可以在最快的時間收貨（星期六、日、公眾假期及公眾
假期前夕，則將順延至下一個工作日發貨，敬請注意！！）。唯實際送抵時間，需要視乎物流公司當天
運輸物流及交通之實際狀況而定。如遇上特別交通或天氣等不可抗力之因素影響，本公司將不會就有關
延誤作出任何賠償或承擔責任。
</p><p class="py-2">5.6 訂單將在確認後順序配送，一般訂單會於2-3個工作天內送抵（離島及部分地區除外）。配送時間受實
際情況影響，請以收到到貨通知為準。
</p><p class="py-2">5.7 如因送貨地點為偏遠地區及離島，及並無升降機設備的樓宇。，我們保留全權決定拒絕送貨的權利。閣
下同意及接受從我們的物流中心或可派送地點收取已訂購的商品，於任何情況下我們均不會接受取消訂
單或向閣下退款。
</p><p class="py-2">5.8 我們或會一次或分多次送貨，而部份商品可能由不同地方/倉庫直接送貨。有關發送產品的任何時間及
日期，或送貨所需的時間僅為估計。倘我們未能符合任何訂明的發送或送貨日期或時間，我們將通知閣
下有關閣下訂單的進度。閣下同意及接受，於任何情況下我們均不會接受取消訂單或向閣下退款。
</p><p class="py-2">5.9 如於智能櫃取貨，取貨密碼只會傳送至確認訂單時輸入的電話號碼。如因輸入有誤而不能接收短訊／或
被他人取件，本公司概不負責。
</p><p class="py-2">5.10 部份智能櫃只限住戶取件。如非屋苑住戶，請勿選擇該智能櫃。如因未能進入屋苑範圍而不能取件，本
公司概不負責。
</p><p class="py-2">5.11 當閣下所購商品送抵送貨地點，閣下將成為商品的擁有人，須自行承擔持有產品的風險而我們將無須為
它們的損失或損壞負責。在收貨後要求退貨或更換，我們定必量力協助閣下與加盟商溝通，閣下必須保
留完整的包裝及相關電件；唯若貨品已全部或部份使用，我們將未能作出退貨安排，但仍會盡力為閣下
提供合適及本公司能力所及的安排。
</p><p class="py-2">5.12 當烈風訊號懸掛、紅色或黑色暴雨警告生效時或我們判斷為不安全的天氣及/或在不可抗力事件情況下
，取貨服務將會暫停，收貨日期將有機會延誤及無法預期。
</p><p class="py-2">5.13 如閣下選擇於取貨點或智能櫃取貨，倘若未能於指定日期及時間內收取、提取商品，閣下則需要繳付額
外倉存費用及/或因而衍生之額外物流費用予物流供應商，方能領取商品。而有關費用將會按每次及/或
每日計算收取，敬請注意！</p>

<h2 class="py-2 font-medium text-pink-600">6 退貨或更換</h2>
<p class="py-2">6.1 除另有規定外，概不接受退貨或更換貨物。請閣下於訂購前細閱由加盟商訂明的退貨或更換條款。
</p><p class="py-2">6.2 根據個別供應商的退貨或更換政策，倘閣下訂購的商品出現故障、有缺陷或損壞(並非閣下的錯失)，或
商品並非閣下所訂購，或交付的數量不正確，可於收貨日期的七(7)天內退貨或更換，惟需：
</p><p class="py-2">6.2.1 退貨或更換政策適用；
</p><p class="py-2">6.2.2 商品未經使用並處於原先出售的狀態，連同與貨物一併提供的所有零件及配件，包括說明書、證
書、標籤、標記、消耗品、袋及盒;
</p><p class="py-2">6.2.3 商品的包裝必須處於交付予閣下時的狀態；及
</p><p class="py-2">6.2.4 退貨或更換的要求經即時聊天室寄送至我們的客戶服務代表並需於加盟商指定期間內，商品於送
貨地址透過我們的免費收集退回予供應商。
</p><p class="py-2">6.3 閣下同意及接受，是否接受商品更換須視乎存貨供應。
</p><p class="py-2">6.4 閣下同意及接受，是否被接受退回或更換商品屬加盟商的全權酌情決定。於任何情況下我們均不會接受
直接向我們退貨，或為閣下因任何原因招致的損失負責。</p>

<h2 class="py-2 font-medium text-pink-600">7 使用者責任與保證</h2>
<p class="py-2">7.1 閣下聲明、保證及承諾，閣下不會：
</p><p class="py-2">7.1.1 使用我們的網站作任何欺詐或非法用途；
</p><p class="py-2">7.1.2 使用我們的網站誹謗、辱駡、騷擾、跟蹤、威脅或侵犯其他人士的權利（包括但不限於其他人士
的私隱權或宣傳權）；
</p><p class="py-2">7.1.3 阻礙或干擾我們的網站運作或我們網站所用的伺服器或網絡；或違反有關網絡的任何規定、程序
、政策或法規；
</p><p class="py-2">7.1.4 對我們的網站傳送或發放任何有害或侵入性或可能或擬損害任何硬件、軟件或設備運作或監察任
何硬件、軟件或設備使用的病毒、蠕蟲、特洛伊木馬程式或其他電腦編碼；
</p><p class="py-2">7.1.5 就任何商業用途而轉載、複製、出售、轉售或利用我們網站(包括應用程式或軟件)的任何部分、
或其使用或連接；
</p><p class="py-2">7.1.6 對我們網站(包括使應用程式或軟件)的任何部分進行修訂、改編、翻譯、反向工程、反編譯或反
彙編；
</p><p class="py-2">7.1.7 未經我們的事先書面同意下建構或複製網站的任何部分；
</p><p class="py-2">7.1.8 以有組織地下載及儲存內容、用戶內容或任何網站內容的方式建立數據庫；及
</p><p class="py-2">7.1.9 侵犯商品的任何版權、設計權及知識產權權利。
</p><p class="py-2">7.2 所有內容的知識產權權利均由我們所擁有、控制或獲特許。本網站內容只供閣下本身的個人用途，閣下
不得使用內容作任何商業或其他非個人用途，複製內容或向任何其他裝置或任何其他人士傳送內容；或
轉載、分發、向公眾傳達、修訂、重設格式、編製衍生作品或展示內容。</p>
<p class="py-2">7.3 當閣下於我們的網站提交任何用戶產生內容（包括所有文字、檔案、圖像、相片、聲音、影片或其他材
料）（「使用者內容」），代表閣下向我們授出永久、不可撤回、非專屬、全球性、可轉讓、可再授權
、繳足、免版稅的特許，以轉載、分發、向公眾傳達、公開演出、修訂、編製衍生作品、展示及以其他
方式使用有關網站的用戶內容（包括但不限於以任何媒體形式及透過任何媒體渠道推廣及轉發網站的部
分或全部）。於並無限制的情況下，閣下根據本7.3條款授予我們的權利包括向各網站用戶授出再授特
許的權利以於網站功能不時許可的情況下使用用戶內容。閣下謹此放棄及促使用戶內容的所有其他原創
人放棄用戶內容的所有精神權利（包括識別用戶內容的原創人的權利或反對任何用戶內容的受貶損處理
的權利），而不論有關權利目前或於日後任何時間在世界任何地方是否存在。
</p>
<p class="py-2">7.4 閣下須為用戶內容承擔所有法律責任。不論我們是否知悉用戶內容的任何内容，在任何情況下我們都不
對任何用戶內容負責或承擔任何責任。</p>
<p class="py-2">7.5 閣下同意就因違反本文內任何契諾、保證、聲明及協議而引致我們及我們的所有董事、僱員及承包商的
任何索償、損失、損害、費用、開支(包括法律開支)或其他責任向我們及我們的所有董事、僱員及承包
商作出彌償，並使我們免受損害。</p>
<p class="py-2 font-medium text-pink-600">8 免責聲明及責任限制</p>
<p class="py-2">8.1 我們並不聲明或保證進入我們的網站(包括使用手機應用程式或軟件)或其任何部份將不受阻擾、可靠或
並無故障。</p>
<p class="py-2">8.2 我們並不向閣下聲明或保證我們的網站或其任何內容將為準確、完整或可靠。</p>
<p class="py-2">8.3 我們將不就任何間接或相應而生的損失、損害或費用向閣下負責，包括由任何閣下知會我們的問題而引
起的利潤、業務或商譽的損失，及 我們將無責任以賠償方式向閣下支付任何款項，除非於此等條款及
細則另有訂明。</p>
<p class="py-2">8.4 我們並不聲明或保證：</p>
<p class="py-2">8.4.1 任何服務(不論是否由我們提供) 將以適當謹慎及技巧提供；或</p>
<p class="py-2">8.4.2 任何商品 (不論是否由我們提供) 將具備可商售品質或將適合任何用途(儘管已事先將該用途通知
我們)。</p>
<p class="py-2">8.5 閣下同意概無互聯網上的數據傳輸可保證為完全。儘管我們致力保護該資料，我們不保證且無法確保閣
下傳輸給我們的資料的安全。閣下向我們傳輸任何資料須自行承擔風險。</p>
<p class="py-2">8.6 於法例許可的範圍下，我們排除因以下原因對閣下的所有責任 (不論於合約、侵權或其他形式出現及不
論是否因我們的疏忽)：</p>
<p class="py-2">8.6.1 就我們的網站(包括使用應用程式或軟件)或其中的任何資料或相關的任何技術性、事實、文本或
印刷上的不準確、錯誤或遺漏；</p>
<p class="py-2">8.6.2 未能提供我們的網站（或其任何部份）、商品或服務；</p>
<p class="py-2">8.6.3 任何延遲提供，或未能提供或使商品或服務可取用，或任何對商品或服務的疏忽提供；</p>
<p class="py-2">8.6.4 任何商品不具備可商售品質或適合其預期用途；或</p>
<p class="py-2">8.6.5 任何有關我們的網站、商品或服務的失實陳述。</p>
<p class="py-2">8.7 除法例規定以外：</p>
<p class="py-2">8.7.1 我們將不就任何間接或相應而生的損失、損害或費用向閣下負責，包括由任何閣下知會我們的問
題而引起的利潤、業務或商譽的損失，及</p>
<p class="py-2">8.7.2 我們將無責任以賠償方式向閣下支付任何款項，除非於此等條款及細則另有訂明。</p>
<p class="py-2">8.8 閣下必須遵守及符合所有適用規例及法例，包括取得所有從我們的網站購買商品所需的海關、進口或其
他許可。我們不就閣下購買的商品的出口或進口作任何陳述或承擔任何責任。</p>
<p class="py-2">8.9 閣下同意此等限制就我們的網站性質而言均屬合理，尤其是由於當閣下透過我們的網站購買商品時，將
每次與供應商訂立獨立的合約。</p>
<p class="py-2">8.10 以上排除概不影響任何不可被排除的法定權利。然而，於該情況下，我們的責任（於法律許可下）將限
於向閣下再供應服務或商品。</p>
<p class="py-2">8.11 我們將採取一切合理商業努力確保內容的準確性，但概不保證及聲明（明示或暗示、法定或其他形式）
內容的準確性、質素或完整性或其就任何用途的合適性，而我們亦不會就此承擔任何責任。閣下亦同意
，廣告商就我們網站所示的廣告內容承擔全部責任。放置有關廣告並不構成我們推薦或認可廣告商的產
品，而各廣告商須就其廣告所作出的任何陳述負全責。我們並不會對閣下因依賴我們網站所載資料的準
確性所造成的損失承擔任何責任。</p>
<p class="py-2">8.12 我們的網站中的若干連結（包括超連結）將引領閣下離開我們的網站。連結僅為閣下便利提供，而包括
任何連結不意味我們對連結網站、其營運商或其內容的支持或認可。我們不就我們的網站以外的任何網
站內容負責。</p>
<p class="py-2">8.13 如因不可抗力事件而我們被迫未能履行部份或全部條款或責任，包括但不只限於疫症、封城、供應商及
運輸機構無法正常營運、罷工，工業行動、勞工糾紛、天災、戰爭、恐怖行為、騷亂、內亂、惡意損壞
、意外事故、火災、水災、地震、颱風、斷電或遵循法例或政府指令、規則、規章或指示而無法正常營
運（以下簡稱「未能預見事件」），閣下不可以就以上不可抗力事件要求取消訂單及/或退款，我們將
會盡努力處理，唯本網站不會因此承擔任何損失。</p>

<p class="py-2 font-medium text-pink-600">9  一般事項</p>
<p class="py-2">9.1 我們的網站上所有內容、用戶內容、設計、文字、圖像及其他材料的知識產權權利，及其選取或安排由
我們擁有、控制或獲許可。嚴禁任何未經事前書面批准的授權使用。</p>
<p class="py-2">9.2 我們的網站中所有商標、產品名稱及公司名稱或標誌為我們的財產或其各自擁有人的財產。我們並無就
使用任何該等商標、外觀、產品名稱、公司名稱、標誌或稱號給予批准，而該等使用或會構成侵犯持有
人的權利。</p>
<p class="py-2">9.3 我們保留權利可於沒有通知的情況下修改網站的內容（包括我們所提供的服務）及此等條款及細則。倘
此等條款及細則有所更改，將於網站公佈，而於任何有關更改後仍繼續使用我們的網站即表示閣下同意
受經修訂的使用條款及細則所約束。此權利包括更改任何組成此等條款及細則一部分的文件的權利。</p>
<p class="py-2">9.4 閣下於作出訂購前注意閣下可能須承擔除價格以外由加盟商或法例所施加的稅項或關稅責任（如增值稅
）。</p>
<p class="py-2">9.5 閣下於使用本網站時請參閱本公司私隱政策，如閣下繼續使用本網站，即代表閣下同意我們可根據我們
的私隱政策收集、儲存及使用有關閣下的資料。 閣下確認及同意受我們的私隱政策條款所約束。</p>
<p class="py-2">9.6 我們保留權利可全權酌情拒絕用戶進入我們的網站或其任何部分，而毋須作出通知。</p>
<p class="py-2">9.7 倘此等條款及細則的任何條文具司法管轄權的法院視為無效或不可强制執行，不會影響任何其他條文的
有效性或效力，而有關失效的條文應被視作與此等條款及細則分割。</p>
<p class="py-2">9.8 於合乎商業運作下，我們可轉讓此等條款及細則或委任任何第三方為閣下提供服務，或履行此等條款及
細則所載我們的任何責任。</p>
<p class="py-2">9.9 我們保留一切權利，可於任何時間及不時終止或更改任何優惠，而無需作出通知。如有任何爭議，我們
的決定將是最終及具決定性。</p>
<p class="py-2 mb-20">9.10 此等條款及細則受香港生效的法律管轄。閣下同意受香港法院的專有管轄權管轄。</p>
</div>