<template>
<app-layout>
    <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            {{ title }}
        </h2>
        <span class="float-right -mt-8">
            <button @click.prevent="cancel" class="lock w-full bg-pink-darken text-white rounded-md px-4 py-2 text-lg">Cancel & return</button>
        </span>
    </template>

    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-2 pb-16 h-full">
                <div v-if="Object.keys(this.$page.errors).length" class="block w-full py-4 pl-4 border border-red-700 mb-8">
                    <h3 class="text-2xl text-red-700">Oops! There are some errors</h3>
                    <ul>
                        <li v-for="(error, index) in this.$page.errors">
                            <span class="text-red-700">{{ error }}</span>
                        </li>
                    </ul>
                </div>
                <form @submit.prevent="submit">
                    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 divide-x divide-gray-500">
                        <div class="col-span-1 lg:col-span-2">
                            <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">Brand's Name (English)</span>
                                        <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="titles.en" />
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-2">
                                    <label class="block">
                                        <span class="text-gray-700">Brand's Name (Mandarin)</span>
                                        <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="titles.zh" />
                                    </label>
                                </div>
                                <div class="col-span-1 lg:col-span-3">
                                    <label class="block">
                                        <span class="text-gray-700">Description</span>
                                        <textarea class="form-textarea mt-1 block w-full rounded-md" rows="3" v-model="description"></textarea>
                                    </label>
                                </div>
                                <div class="col-span-1"></div>
                                <div class="col-span-1">
                                    <file-uploader :media="logo" :unlimited="false" :max="1" collection="brand-logo" name="brand-logo" :tokens="tokens" label="Banner Logo" notes="120 x 80 (jpeg, png,jpg)" accept="image/jpeg,image/png,image/jpg" @complete="uploaded()"></file-uploader>
                                </div>
                                <div class="col-span-1"></div>
                                <div class="col-span-1"></div>
                            </div>
                            <div class="w-full border-t border-gray-500 my-4"></div>
                        </div>
                        <div class="col-span-1 lg:pl-4">
                            <label class="block mb-4">
                                <span class="text-gray-700 mb-2">Location</span>
                                <treeselect v-model="location" :options="countries" :searchable="true" class="border border-gray-700 rounded-md" :placeholder="'Select brand location'" :normalizer="normalizeCountries">
                                    <label slot="option-label" slot-scope="{ node, shouldShowCount, count, labelClassName, countClassName }" :class="labelClassName">
                                        ({{ node.raw.code }}) {{ node.raw.name }}
                                        <span v-if="shouldShowCount" :class="countClassName">({{ count }})</span>
                                    </label>
                                    <div slot="value-label" slot-scope="{ node }">{{ node.raw.name }}</div>
                                </treeselect>
                            </label>
                            <label class="block mb-4">
                                <span class="text-gray-700 mb-2">Categories</span>
                                <treeselect v-model="categories" :options="cats" :searchable="true" :show-count="true" :multiple="true" class="border border-gray-700 rounded-md" :placeholder="'Select categories this brand belongs (multiple categories is available)'" :normalizer="normalizer" value-consists-of="ALL_WITH_INDETERMINATE">
                                    <label slot="option-label" slot-scope="{ node, shouldShowCount, count, labelClassName, countClassName }" :class="labelClassName">
                                        {{ node.raw !== 'undefined' ? node.raw.locale.title : null }}
                                        <span v-if="shouldShowCount" :class="countClassName">({{ count }})</span>
                                    </label>
                                    <div slot="value-label" slot-scope="{ node }">{{ node.raw.code }} - {{ node.raw.locale.title }}</div>
                                </treeselect>
                            </label>
                            <label class="block mb-4">
                                <span class="text-gray-700">Slug</span>
                                <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="slug" :disabled="mode === 'create'" :placeholder="mode === 'create' ? 'This field will automatically filled' : ''" />
                            </label>
                            <div class="w-full mb-4">
                                <div class="grid grid-cols-2 gap-2">
                                    <div class="col-span-1">
                                        <button class="block w-full bg-pink-darken text-white rounded-md py-2 text-lg">Save</button>
                                    </div>
                                    <div class="col-span-1">
                                        <button @click.prevent="cancel" class="lock w-full bg-pink-darken text-white rounded-md py-2 text-lg">Cancel & return</button>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full mb-4">
                                <span class="text-red-700 underline text-shadom-lg text-base">Notes:</span>
                                <ol class="w-full list-decimal list-outside text-red-500 text-sm text-shadow-md pl-4">
                                    <li>
                                        <span>
                                            If an image dimension is bigger than expected the system will auto-crop the image.
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            If the brand will not need a specific location please leave location blank.
                                        </span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import JetNavLink from '@/Jetstream/NavLink'
import Welcome from '@/Jetstream/Welcome'
import FileUploader from 'laravel-file-uploader';
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'

export default {
    components: {
        AppLayout,
        JetNavLink,
        Welcome,
        FileUploader,
        Treeselect,
    },

    props: ['mode', 'data', 'title', 'countries', 'cats'],

    data() {
        return {
            titles: {
                en: null !== this.data ? this.data.titles.en : '',
                zh: null !== this.data ? this.data.titles.zh : '',
            },
            description: null !== this.data ? this.data.description : '',
            logo: null !== this.data ? this.data.logo : [],
            location: null !== this.data ? this.data.location : null,
            categories: null !== this.data && null !== this.data.categories ? this.data.categories : [],
            tokens: [],
            slug: null !== this.data ? this.data.slug : null,
            normalizeCountries(node) {
                return {
                    id: node.code,
                    label: node.code + ' ' + node.name,
                }
            },
            normalizer(node) {
                return {
                    id: node.id,
                    label: node.locale !== 'undefined' ? node.locale.title : '',
                }
            },
        }
    },

    computed: {

    },

    mounted() {
        // console.log(this.data);
    },

    methods: {
        uploaded: function () {
            // console.log(this.tokens);
        },
        modified: function () {
            if (this.titles !== this.data.titles) {
                console.log('titles');
                return true;
            }
            if (this.slug !== this.data.slug) {
                console.log('slug');
                return true;
            }
            if (this.description !== this.data.description) {
                console.log('description');
                return true;
            }
            if (this.location !== this.data.location) {
                console.log('location');
                return true;
            }
            if (this.categories !== this.data.categories) {
                console.log('categories');
                return true;
            }
            return false;
        },
        cancel: function () {
            let url = this.route('admin.brands.index');
            let confirmed = true;

            if (this.modified()) {
                confirmed = confirm('Do you really want to leave? you have unsaved changes!');
            }

            if (confirmed) {
                this.$inertia.get(url);
            } else {
                return false;
            }
        },
        submit: function () {
            const params = {
                titles: this.titles,
                slug: this.slug,
                description: this.description,
                tokens: this.tokens,
                location: this.location,
                categories: this.categories,
            };
            let url = this.mode === 'create' ? this.route('admin.brands.store') : (this.mode === 'update' ? this.route('admin.brands.update', {
                brand: this.data.id
            }) : null);

            if (!url) {
                alert('The form cannot continue! Error!');
            }

            if (this.mode === 'create') {
                this.$inertia.post(url, params);
            }

            if (this.mode === 'update') {
                this.$inertia.put(url, params);
            }
        },
    },
}
</script>

<style>
.vs__dropdown-toggle {
    border: 0;
}
</style>
