<template>
<app-layout>
    <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            {{ title }}
        </h2>
    </template>

    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-2 h-full">
                <div v-if="Object.keys(this.$page.errors).length" class="block w-full py-4 pl-4 border border-red-700 mb-8">
                    <h3 class="text-2xl text-red-700">Oops! There are some errors</h3>
                    <ul>
                        <li v-for="(error, index) in this.$page.errors">
                            <span class="text-red-700">{{ error }}</span>
                        </li>
                    </ul>
                </div>
                <form @submit.prevent="submit">
                    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 divide-x divide-gray-500">
                        <div class="col-span-1 lg:col-span-2">
                            <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                <div class="col-span-1 lg:col-span-3">
                                    <label class="block">
                                        <span class="text-gray-700">Applied For</span>
                                        <select v-model="target" class="form-select block w-full border border-gray-500 rounded-md" placeholder="Select how the coupon will be applied">
                                            <option disabled value="">Select how the coupon will be applied</option>
                                            <option v-for="(label, value) in targets" :key="value" :value="value">{{ label }}</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="w-full border-t border-gray-500 my-4"></div>
                            <div v-if="'' !== target">
                                <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                    <div class="col-span-1 lg:col-span-3">
                                        <label class="block">
                                            <span class="text-gray-700">Coupon Code</span>
                                            <input type="text" class="form-input mt-1 block w-full rounded-md" v-model="code" />
                                        </label>
                                    </div>
                                </div>
                                <div class="w-full border-t border-gray-500 my-4"></div>
                                <div v-if="target === 'product'" class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                    <div class="col-span-1 lg:col-span-3">
                                        <h3 class="text-lg text-red-600">Sorry, this feature is still under construction.</h3>
                                        <label class="block mb-4 hidden">
                                            <span class="text-gray-700 mb-2">Categories</span>
                                            <treeselect v-model="categories" :options="cats" :searchable="true" :show-count="true" :multiple="true" class="border border-gray-700 rounded-md" :placeholder="'Select categories this brand belongs (multiple categories is available)'" :normalizer="normalizer" value-consists-of="ALL_WITH_INDETERMINATE">
                                                <label slot="option-label" slot-scope="{ node, shouldShowCount, count, labelClassName, countClassName }" :class="labelClassName">
                                                    {{ node.raw.code }}: {{ node.raw.locale.title }}
                                                    <span v-if="shouldShowCount" :class="countClassName">({{ count }})</span>
                                                </label>
                                                <div slot="value-label" slot-scope="{ node }">{{ node.raw.code }} - {{ node.raw.locale.title }}</div>
                                            </treeselect>
                                        </label>
                                    </div>
                                </div>
                                <div v-if="target === 'product'" class="w-full border-t border-gray-500 my-4"></div>
                                <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                    <div class="col-span-1 lg:col-span-2">
                                        <label class="block">
                                            <span class="text-gray-700">Minimum Order</span>
                                            <div class="form-input-group w-full relative">
                                                <div class="form-input-group-left">
                                                    <span class="bg-gray-300 text-gray-600 border border-gray-500 border-r-0 rounded-l-md">HK $</span>
                                                </div>
                                                <input v-model="min_order" type="number" class="form-input block w-full border-l-0 rounded-r-md form-input-group-right" placeholder="0.00">
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-span-1 lg:col-span-2">
                                        <label class="block">
                                            <span class="text-gray-700">Maximum Discount</span>
                                            <div class="form-input-group w-full relative">
                                                <div class="form-input-group-left">
                                                    <span class="bg-gray-300 text-gray-600 border border-gray-500 border-r-0 rounded-l-md">HK $</span>
                                                </div>
                                                <input v-model="max_discount" type="number" class="form-input block w-full border-l-0 rounded-r-md form-input-group-right" placeholder="0.00">
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-span-1 lg:col-span-2">
                                        <label class="block">
                                            <span class="text-gray-700">Amount</span>
                                            <input type="number" class="form-input mt-1 block w-full rounded-md" v-model="amount" placeholder="999" />
                                        </label>
                                        <span class="text-gray-700 text-xs italic">
                                            Limit the number of how many times this coupon can be used.<br>
                                            (Fill with "999" to have it unlimited, can be renewed.)
                                        </span>
                                    </div>
                                    <div class="col-span-1"></div>
                                </div>
                                <div class="w-full border-t border-gray-500 my-4"></div>
                                <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
                                    <div class="col-span-1 lg:col-span-2">
                                        <label class="block">
                                            <span class="text-gray-700">Discount</span>
                                            <div class="form-input-group w-full relative">
                                                <input v-model="percentage" type="number" class="form-input block w-full border-r-0 rounded-l-md form-input-group-right" placeholder="0.00">
                                                <div class="form-input-group-right">
                                                    <select v-model="type" class="form-select block bg-gray-300 w-full border border-gray-500 border-l-0 rounded-r-md pl-2 pr-8" placeholder="Select how the coupon will be applied">
                                                        <option disabled value="">---</option>
                                                        <option v-for="(label, value) in types" :key="value" :value="value">{{ label }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-span-1 lg:col-span-2">
                                        <label class="block">
                                            <span class="text-gray-700">Duration (Active Period)</span>
                                            <v2-datepicker-range lang="en" placeholder="Start date - End date" v-model="duration" class="w-full border border-gray-500 rounded-md"></v2-datepicker-range>
                                        </label>
                                    </div>
                                    <div class="col-span-1"></div>
                                </div>
                                <div class="w-full border-t border-gray-500 my-4"></div>
                            </div>
                        </div>
                        <div class="col-span-1 lg:pl-4">
                            <div class="w-full mb-4">
                                <div class="grid grid-cols-2 gap-2">
                                    <div class="col-span-1">
                                        <button class="block w-full bg-pink-darken text-white rounded-md py-2 text-lg">Save</button>
                                    </div>
                                    <div class="col-span-1">
                                        <button @click.prevent="cancel" class="lock w-full bg-pink-darken text-white rounded-md py-2 text-lg">Cancel & return</button>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full mb-4">
                                <span class="text-red-700 underline text-shadom-lg text-base">Notes:</span>
                                <ol class="w-full list-decimal list-outside text-red-500 text-sm text-shadow-md pl-4">
                                    <li class="hidden">
                                        <span>
                                            If an image dimension is bigger than expected the system will auto-crop the image.
                                        </span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import JetNavLink from '@/Jetstream/NavLink'
import Welcome from '@/Jetstream/Welcome'
import FileUploader from 'laravel-file-uploader';
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'

export default {
    components: {
        AppLayout,
        JetNavLink,
        Welcome,
        FileUploader,
        Treeselect,
    },

    props: ['mode', 'data', 'title', 'cats'],

    data() {
        return {
            targets: {
                cart: 'Total products in the cart',
                product: 'Applied per product (select product)'
            },
            target: null !== this.data ? this.data.target : '',
            code: null !== this.data ? this.data.code : null,
            amount: null !== this.data ? this.data.amount : null,
            min_order: null !== this.data ? this.data.min_order : null,
            max_discount: null !== this.data ? this.data.max_discount : null,
            is_percent: null !== this.data ? this.data.is_percent : false,
            percentage: null !== this.data ? this.data.percentage : null,
            started_at: null,
            expires_at: null,
            duration: [],
            types: {
                fixed: '( $ )',
                percent: '( % )',
            },
            type: null,
            categories: null !== this.data && null !== this.data.categories ? this.data.categories : [],
            products: null !== this.data && null !== this.data.products ? this.data.products : [],
            normalizer(node) {
                return {
                    id: node.id,
                    label: node.locale ? node.code + ': ' + node.locale.title : '',
                }
            },
        }
    },

    watch: {
        duration: {
            immediate: true,
            handler(dates) {
                this.started_at = dates[0];
                this.expires_at = dates[1];
            },
            deep: true,
        },
        type: {
            immediate: true,
            handler(val) {
                this.is_percent = val === 'percent';
            },
            deep: true,
        },
    },

    mounted() {
        this.started_at = null !== this.data ? this.data.started_at : new Date();
        this.expires_at = null !== this.data ? this.data.expires_at : new Date();
        // console.log(this.started_at);
        this.duration = [this.started_at, this.expires_at];
        this.type = null !== this.data && this.data.is_percent ? 'percent' : 'fixed';
        // console.log(this.type);
    },

    methods: {
        modified: function(){
            if(this.mode === 'create'){
                return false;
            }
            return true;
        },
        cancel: function(){
            let url = this.route('admin.coupons.index');
            let confirmed = true;

            if(this.modified()){
                confirmed = confirm('Do you really want to leave? you have unsaved changes!');
            }

            if(confirmed){
                this.$inertia.get(url);
            }else{
                return false;
            }
        },
        submit: function () {
            // console.log(this.target); return false;
            const params = {
                target: this.target,
                code: this.code,
                amount: this.amount,
                min_order: this.min_order,
                max_discount: this.max_discount,
                is_percent: this.is_percent,
                percentage: this.percentage,
                started_at: this.started_at,
                expires_at: this.expires_at,
                categories: this.categories,
                products: this.products,
            };
            let url = this.mode === 'create' ? this.route('admin.coupons.store') : (this.mode === 'update' ? this.route('admin.coupons.update', {coupon: this.data.id}) : null);

            if (!url) {
                alert('The form cannot continue! Error!');
            }

            if (this.mode === 'create') {
                this.$inertia.post(url, params);
            }

            if (this.mode === 'update') {
                this.$inertia.put(url, params);
            }
        },
    },
}
</script>

<style module>
.vs__dropdown-toggle {
    border: 0;
}
.v2-date-wrap {
    height: 2.75rem;
    border-radius: 0.5rem;
    border: 1px solid #a6aab3;
    padding: 0.25rem 0;
}
.v2-date-wrap .v2-picker-trigger.empty-text {
    color: initial;
}
</style>
