<template>
<!-- <div class="container mx-auto my-8 py4 px-2 md:px-3 lg:px-4 xl:px-8 relative">
<h2 class="carousel-title text-3xl w-full border-pink border-b-2 pb-2 mb-4 text-pink-darkest font-bold">
		{{ trans.get('front.carousel.titles.'+subject) }}
	</h2>
</div> -->
<div class="container break-words mx-auto my-8 py4 px-2 md:px-3 lg:px-4 xl:px-8 relative">
	<div class="container relative bg-grey-carousel w-full">
		<div class="w-93 mx-auto">
			<hooper ref="carousel" class="" :settings="settings">
				<slide v-for="(item, index) in products" :key="index" class="item">
					<div class="w-10/12 mx-auto">
						<div class="block w-full h-auto">
							<div class="product-image w-full bg-white items-center md:p-8 h-auto md:h-60 lg:h-64 mb-4 p-0">
								<inertia-link :href="route('storefront.product')">
									<img v-lazy="item.img" class="w-auto h-auto m-auto">
								</inertia-link>
							</div>
							<div class="product-details bg-pink-item md:p-4 pr-4 pl-4 pt-0 w-full">
								<inertia-link :href="route('storefront.product')">
									<h4 class="text-grey-strong md:text-base text-xs">{{ item.details.brand }}</h4>
									<h3 class="text-grey-strong md:text-base text-xs">{{ item.name }}</h3>
								</inertia-link>
								<p class="text-grey-strong md:text-md text-xs">{{ item.details.size }}</p>
								<div class="md:mt-2 mt-0">
									<span class="md:text-sm text-xs text-grey-strong">
										{{ trans.get('front.carousel.sold') }}&nbsp;
										{{ item.sold }}
									</span>
									<div class="grid grid-cols-4 mt-2 gap-2">
										<div class="col-span-2 lg:col-span-2">
											<star-rating 
												v-model="item.rating.avg"
												:increment="0.5"
												:star-size="17"
												:rating="item.rating.avg"
												:read-only="true"
												:show-rating="false"
											></star-rating>
										</div>
										<div class="col-span-1">
											<span class="text-grey-strong text-sm">({{ item.rating.valid }})</span>
										</div>
										<div class="col-span-1 pt-1">
											<inertia-link :href="'#'" class="w-full h-full bg-pink-dark p-2 text-blue-400 text-center text-xl block rounded-lg">
												<v-icon name="share" :scale="1.75"/>
											</inertia-link>
										</div>
									</div>
									<div class="grid grid-cols-4 mt-2 gap-2">
										<div class="col-span-2 lg:col-span-2">
											<span v-if="null !== item.price.sale" class="text-gray-400 text-xs line-through block">
												HK${{ item.price.normal }}
											</span>
											<h3 class="md:text-xl text-base text-pink-600 font-bold block">
												HK${{ null !== item.price.sale ? item.price.sale : item.price.normal }}
											</h3>
										</div>
										<div class="col-span-1 pt-1">
											<inertia-link :href="'#'" class="w-full h-auto bg-pink-dark p-2 text-pink text-center text-xl block rounded-lg">
												<v-icon name="heart" :scale="1.5"/>
											</inertia-link>
										</div>
										<div class="col-span-1 pt-1">
											<inertia-link :href="'#'" class="w-full h-auto bg-pink-dark p-2 text-pink-500 text-center text-xl block rounded-lg">
												<v-icon name="cart-plus" :scale="1.85"/>
											</inertia-link>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</slide>
			</hooper>
		</div>
	
	<button
		class="focus:outline-none absolute w-10 h-10 top-1/2 p-2 rounded-lg bg-pink-strong text-gray-100 left-0 md:left-3"
		@click.prevent="slidePrev"
	>
		<v-icon name="chevron-left" :scale="1.8"></v-icon>
	</button>
	<button
		class="focus:outline-none absolute w-10 h-10 top-1/2 p-2 rounded-lg bg-pink-strong text-gray-100 right-0 md:right-3"
		@click.prevent="slideNext"
	>
		<v-icon name="chevron-right" :scale="1.8"></v-icon>
	</button>
	</div>
</div>
</template>

<script>
import { Hooper, Slide } from 'hooper';
import 'hooper/dist/hooper.css';
import StarRating from 'vue-star-rating';
import Button from '../Jetstream/Button.vue';

export default {
	components: {
		Hooper,
		Slide,
		StarRating,
	},

	props: ['subject', 'products'],

	mounted() {
		// console.log(this.products);
	},

    data() {
        return {
			folder: this.$page.demo[this.page],
			slides: [],
			settings: {
				breakpoints: {
					1160: {
						itemsToShow: 4,
						itemsToSlide: 4,
						initialSlide: 4,
					},
					1024: {
						itemsToShow: 3,
						itemsToSlide: 3,
						initialSlide: 0,
					},
					768: {
						itemsToShow: 2,
						itemsToSlide: 2,
						initialSlide: 0,
					},
					0: {
						itemsToShow: 2,
						itemsToSlide: 2,
						initialSlide: 0,
					},
				},
				centerMode: false,
				infiniteScroll: true,
				autoPlay: false,
				playSpeed: 4000,
				hoverPause: false,
			},
			rating: 0,
			carouselData: 0,
		}
	},

	watch: {
	},
	
    methods: {
		slidePrev: function(){
			this.$refs.carousel.slidePrev();
		},
		slideNext: function(){
			this.$refs.carousel.slideNext();
		},
	}
}
</script>

<style module>
.hooper {
	height: auto!important;
}
/* .hooper-slide.item {
	align-items: flex-start;
    justify-content: flex-start;
	margin: 0 0.75rem;
	max-width: 100%;
}
h2.carousel-title:before {
    content: ' ';
    position: absolute;
    top: 2.45rem;
    left: 1rem;
    width: 25%;
    height: .5rem;
    border-bottom: solid 2px #e5a5b4;
}
@media (min-width: 768px) {
	.hooper-slide.item {
		max-width: 100%;
	}
}
@media (max-width: 767px) {
	.bg-grey-carousel .hooper-slide.item {
		margin: 0 1rem;
	} */
/* } */
</style>
