<template>
<div>
    <ul class="text-pink-darken text-xl">
        <li class="relative">
		
            <div class="px-4 border-b py-4 border-grey-line"> {{ category.locale.title }}</div>
            <ul class="text-pink-darken text-xl" v-if="null !== category.children && category.children.length > 0">
                <li class="relative cat" v-for="(sub, key) in category.children" :key="key">
                    <inertia-link :href="route('storefront.category', {type: sub.type})" class="block px-8 pr-4 w-full border-b py-4 border-grey-line hover:bg-pink-darken hover:text-white" preserve-scroll>{{ sub.locale.title }}</inertia-link>
					<ul class="absolute border-l border-r border-white w-full -top-2 left-full z-10 transition-all sub-cat" v-if="null !== sub.children && sub.children.length > 0">
						<li class="relative" v-for="(subsub, key2) in sub.children" :key="key2">
							<inertia-link :href="route('storefront.category', {type: subsub.type})" class="block w-full px-4 border-b py-4 border-grey-line opacity-90 bg-pink-product hover:bg-pink-darken hover:text-white" preserve-scroll> {{ subsub.locale.title }}</inertia-link>
							<ul class="absolute  border-l border-r border-white w-full -top-2 left-full z-10 transition-all subsub-cat" v-if="null !== subsub.children && subsub.children.length > 0">
								<li class="relative" v-for="(subsubsub, key3) in subsub.children" :key="key3">
									<inertia-link :href="route('storefront.category', {type: subsubsub.type})" class="block w-full px-4 border-b py-4 border-grey-line opacity-90 bg-pink-product hover:bg-pink-darken hover:text-white" preserve-scroll> {{ subsubsub.locale.title }}</inertia-link>
								</li>
							</ul>
						</li>
					</ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
</template>

<script>
export default {
	props: ['category'],

    data() {
        return {
			active: [],
		}
	},

	mounted() {
	},
	
	methods: {}
	
}
// console.log(this.category);
</script>

<style module>
.cat .sub-cat, .sub-cat .subsub-cat {
	display: none;
}
.cat a:hover + .sub-cat, .sub-cat:hover, .sub-cat a:hover + .subsub-cat, .subsub-cat:hover {
	display: block;
}
</style>
