<template>
<div class="m-header w-full bg-white block md:hidden relative top-0 z-10 h-25vh">
    <div class="bg-mobile-header bg-contain bg-no-repeat bg-center w-full h-14"></div>
    <fixed-header :threshold="100" class="block lg:hidden mobile-fixed">
        <div class="navbar">
            <div class="bg-pink-softer py-2 px-2 sm:px-2 lg:px-3 xl:px-6">
                <div class="px-2 lg:px-1 xl:px-3 grid grid-cols-2 gap-2">
                    <div class="text-right">
                        <span class="text-link-brown font-bold text-xs">{{trans.get('front.ship.open')+' '+bonus}}{{trans.get('front.ship.close')}}</span>
                    </div>
                    <cart-slider :min="0" :max="500" :amount="$page.cart.amount"></cart-slider>
                </div>
            </div>
            <div class="bg-pink-stronger w-full py-1 z-10">
                <div class="grid grid-cols-4 align-middle">
                    <div class="text-left py-2">
                        <button @click.prevent="toggleMobileMenu" class="w-auto h-auto ml-2 p-2 text-white text-shadow-md text-xs">
                            <v-icon name="list" :scale="1.35" class="fill-current text-white text-shadow-md"></v-icon>
                        </button>
                        <inertia-link :href="route('storefront.home')" class="w-auto p-2 inline-block mr-1">
                            <v-icon name="angle-double-left" :scale="1.35" class="fill-current text-white text-shadow-md"></v-icon>
                        </inertia-link>
                    </div>
                    <div class="text-right py-2 col-span-3">
                        <div class="bg-pink-strongest p-1 rounded-xl text-xs inline-block text-left text-white leading-tight relative mr-2">
                            <p>{{ trans.get('__JSON__.已選購') }} {{ $page.cart.count }} {{ trans.get('__JSON__.件貨品') }}</p>
                            <p>{{ trans.get('__JSON__.總數為') }} HK${{ amount }}</p>
                            <v-icon name="caret-right" :scale="1.5" class="fill-current text-pink-strongest absolute -right-3 top-1"></v-icon>
                        </div>
                        <inertia-link :href="route('storefront.page', {slug: 'cart'})" class="w-auto p-2 inline-block relative">
                            <v-icon name="shopping-cart" flip="horizontal" :scale="1.35" class="fill-current text-white text-shadow-md"></v-icon>
                            <span class="absolute w-4 h-4 text-center rounded-full text-xs bg-red-700 text-white top-1 left-0.5">{{ $page.cart.count }}</span>
                        </inertia-link>
                        <inertia-link :href="route('storefront.page', {slug: 'notification'})" class="w-auto p-2 inline-block relative">
                            <v-icon name="envelope" :scale="1.35" class="fill-current text-white text-shadow-md"></v-icon>
                            <span class="absolute w-4 h-4 text-center rounded-full text-xs bg-red-700 text-white top-1 left-0.5">{{ $page.notification }}</span>
                        </inertia-link>
                        <inertia-link :href="route('storefront.page', {slug: 'search'})" class="w-auto p-2 inline-block mr-1">
                            <v-icon name="search" :scale="1.35" class="fill-current text-white text-shadow-md"></v-icon>
                        </inertia-link>
                    </div>
                </div>
            </div>
            <div class="bg-white w-full pb-24 ease-in-out transition duration-1000 absolute" :class="menuActive ? 'left-0 block' : '-left-full hidden'">
                <ul class="w-full divide-y-2 divide-pink-strong">
                    <li class="flex justify-between w-full p-2">
                        <div class="flex flex-wrap w-full relative h-12 bg-white items-center border border-pink-strong rounded-lg">
                            <div class="flex -mr-px justify-center w-15 p-4">
                                <v-icon name="search" class="fill-current text-pink-strong text-shadow-md"></v-icon>
                            </div>
                            <input type="text" class="flex-shrink flex-grow leading-normal w-px border-0 h-10 px-3 self-center relative outline-none text-xs text-pink-strong placeholder-pink-strong" :placeholder="trans.get('front.search.placeholder')">
                        </div>
                    </li>
                    <li v-if="null === $page.user" class="w-full px-4 py-2">
                        <inertia-link class="flex justify-between text-pink-strong" :href="route('login.member')">
                            <span>
                                {{trans.get('front.menu.login')}}/{{trans.get('front.menu.register')}}
                            </span>
                            <span>
                                <v-icon name="chevron-right" class="fill-current text-pink-strong text-shadow-md"></v-icon>
                            </span>
                        </inertia-link>
                    </li>
                    <li v-if="null !== $page.user" class="w-full px-4 py-2">
                        <inertia-link class="flex justify-between text-pink-strong" :href="route('logout')" method="post">
                            <span>
                                {{ trans.get('__JSON__.登出') }}
                            </span>
                            <span>
                                <v-icon name="chevron-right" class="fill-current text-pink-strong text-shadow-md"></v-icon>
                            </span>
                        </inertia-link>
                    </li>
                    <li v-if="null !== $page.user && $page.isAdmin" class="w-full px-4 py-2">
                        <inertia-link class="flex justify-between text-pink-strong" :href="route('admin.index')">
                            <span class="text-pink-500 font-bold text-base">
                                Admin
                            </span>
                            <span>
                                <v-icon name="chevron-right" class="fill-current text-pink-strong text-shadow-md"></v-icon>
                            </span>
                        </inertia-link>
                    </li>
                    <li class="w-full px-4 py-2">
                        <inertia-link class="flex justify-between text-pink-strong" href="/">
                            <span>
                                {{trans.get('front.menu.home')}}
                            </span>
                            <span>
                                <v-icon name="chevron-right" class="fill-current text-pink-strong text-shadow-md"></v-icon>
                            </span>
                        </inertia-link>
                    </li>
                    <li class="w-full px-4 py-2 bg-gray-300">
                        <h4 class="text-sm text-white text-shadow-md">Categories</h4>
                    </li>
                    <li v-for="(cat, index) in $page.mainCategories" :key="index" class="w-full px-4 py-2">
                        <inertia-link class="flex justify-between text-pink-strong" :href="route('storefront.category', {type: cat.type})">
                            <span>
                                {{ cat.locale.title }}
                            </span>
                            <span>
                                <v-icon name="chevron-right" class="fill-current text-pink-strong text-shadow-md"></v-icon>
                            </span>
                        </inertia-link>
                    </li>
                    <li class="w-full px-4 py-2">&nbsp;</li>
                </ul>
            </div>
        </div>
    </fixed-header>
</div>
</template>

<script>
import CartSlider from '@/StoreTemplates/CartSlider'
import FixedHeader from 'vue-fixed-header'

export default {

    name: 'mobile-header',

    components: {
        CartSlider,
        FixedHeader,
    },

    data() {
        return {
            menuActive: false,
            amount: this.$page.cart.amount,
        }
    },

    computed: {
        bonus: function () {
            let diff = this.$page.bonus.freeShipping.amount - this.amount;
            return this.$page.bonus.freeShipping.currency + diff;
        },
    },

    methods: {
        toggleMobileMenu: function () {
            this.menuActive = !this.menuActive;
        },
        calculateFreeShipping: function (amount) {
            let diff = this.$page.bonus.freeShipping.amount - amount;
            this.bonus = this.$page.bonus.freeShipping.currency + diff;
        },
    }
}
</script>

<style>
.navbar.vue-fixed-header--isFixed {
    background-color: #f5eeee;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 99;
}
</style>
