<template>
<div class="w-full ">
	<hooper :settings="settings">
		<slide v-for="(item,index) in slides" :key="index">
			<inertia-link :href="item.url" class="w-full">
				<img :src="item.src" class="w-auto md:w-full h-auto md:h-2/5 max-h-auto lg:max-h-105">
			</inertia-link>
		</slide>

		<hooper-pagination slot="hooper-addons">
			<span class="w-4 h-10 bg-pink-darkest border-gray-100"></span>
		</hooper-pagination>
	</hooper>
</div>
</template>

<script>
import { Hooper, Slide, Pagination as HooperPagination } from 'hooper';
import 'hooper/dist/hooper.css';

export default {
	components: {
		Hooper,
		Slide,
		HooperPagination,
	},

	props: ['page', 'src'],

	mounted() {
		// console.log(this.$page);
		this.slides = [
			{src: this.folder+'slides/SlideShow-01.jpg', url: '#'},
			{src: this.folder+'slides/SlideShow-02.jpg', url: '#'},
			{src: this.folder+'slides/SlideShow-03.jpg', url: '#'},
			{src: this.folder+'slides/SlideShow-04.jpg', url: '#'},
			{src: this.folder+'slides/SlideShow-05.jpg', url: '#'},
		];
	},

    data() {
        return {
			folder: this.$page.demo[this.page],
			slides: [],
			settings: {
				infiniteScroll: true,
				autoPlay: true,
				playSpeed: 4000,
			},
		}
	},
	
    methods: {}
}
</script>

<style module>
.hooper {
	height: auto!important;
}
.hooper-indicator {
	border: solid 3px #fff;
	border-radius: 1rem;
	width: 1rem;
	height: 1.5rem;
	margin: 0 .25rem;
}
.hooper-indicator:hover, .hooper-indicator.is-active {
	background-color: #d46b89;
}
</style>
