<template>
<div class="bg-pink-light grid grid-cols-1 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-2 py-2 lg:py-4 xl:py-2 px-2 sm:px-2 lg:px-3 xl:px-6">
	<div class="py-1 col-span md:col-span-2 lg:col-span-1">
		<v-select 
			:options="currencies"
			:clearable="false"
			:searchable="false"
			:filterable="false"
			:reduce="currency => currency.value"
			v-model="currency"
			:components="{OpenIndicator}"
			label="text"></v-select>
	</div>
	<div class="py-1 col-span md:col-span-2 lg:col-span-1">
		<v-select 
			:options="locations"
			:clearable="false"
			:searchable="false"
			:filterable="false"
			v-model="location"
			:components="{OpenIndicator}"
			label="text">
				<template v-slot:selected-option="option">
					<country-flag :country='option.flag' size='normal'/>
					&nbsp;
					{{option.text}}
				</template>
				<template v-slot:option="option">
					<country-flag :country='option.flag' size='normal'/>
					&nbsp;
					{{option.text}}
				</template>
			</v-select>
	</div>
	<div class="col-span md:col-span-4 lg:col-span-3 xl:col-span-4 my-2 lg:my-o">
		<div class="flex flex-wrap content-center flex-row-reverse divide-x-2 divide-link-brown">
			<div class="px-6 lg:px-1 xl:px-3 lang-selection">
				<a 
				:href="trans.getLocale() === 'zh-HK' ? '#' : '/lang/zh-HK'" 
				:class="trans.getLocale() === 'zh-HK' ? 'bg-pink-darkest text-pink-lightest' : 'bg-pink text-link-pink'" 
				class="p-2 mx-1 font-bold rounded-lg text-base">
					繁
				</a>
				<a 
				:href="trans.getLocale() === 'zh-CN' ? '#' : '/lang/zh-CN'" 
				:class="trans.getLocale() === 'zh-CN' ? 'bg-pink-darkest text-pink-lightest' : 'bg-pink text-link-pink'" 
				class="p-2 mx-1 font-bold rounded-lg text-base">
					简
				</a>
				<a 
				:href="trans.getLocale() === 'en' ? '#' : '/lang/en'" 
				:class="trans.getLocale() === 'en' ? 'bg-pink-darkest text-pink-lightest' : 'bg-pink text-link-pink'" 
				class="p-2 mx-1 font-bold rounded-lg text-base">
					EN
				</a>
			</div>
			<div class="px-1 lg:px-1 xl:px-3">
				<inertia-link href="#" class="text-link-brown font-bold text-base">
					<svg class="fill-current text-link-brown -mt-1 mr-1 w-6 h-6" viewBox="0 0 15 13" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.8" d="M14.007 1.43108C12.646 0.0720816 10.217 0.291078 8.58399 1.92408L7.94501 2.56807L7.29902 1.92408C5.66702 0.291078 3.23903 0.0720744 1.87403 1.43007C0.514028 2.79407 0.733014 5.93208 2.37201 7.56508L7.94397 12.3871L13.511 7.56508C15.144 5.93208 15.368 2.79408 14.007 1.43108Z" fill="#736357"/>
					</svg>
					{{trans.get('front.menu.wishlist')}}
				</inertia-link>
			</div>
			<div class="px-1 lg:px-3 xl:px-3" v-if="null === $page.user">
				<inertia-link :href="route('register.open', {type: 'member'})" class="text-link-brown font-bold text-base">
					<svg class="fill-current text-link-brown -mt-2 w-6 h-6" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.8" fill-rule="evenodd" clip-rule="evenodd" d="M0.39502 14.063H4.633L14.084 4.61102L12.499 3.02403L3.578 11.944C3.283 12.239 2.80698 12.239 2.51398 11.944C2.21898 11.65 2.22 11.173 2.513 10.879L11.434 1.95903L9.84698 0.374023L0.39502 9.82603V14.063Z" fill="#736357"/>
					</svg>
					{{trans.get('front.menu.register')}}
				</inertia-link>
			</div>
			<div class="px-1 lg:px-1 xl:px-3" v-if="null === $page.user">
				<inertia-link :href="route('login.member')" class="text-link-brown font-bold text-base">
					<svg class="fill-current text-link-brown -mt-2 w-6 h-6" viewBox="0 0 11 16" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.8" fill-rule="evenodd" clip-rule="evenodd" d="M5.71802 5.53595C7.15602 5.53595 8.323 4.36895 8.323 2.93095C8.323 1.49195 7.15602 0.324951 5.71802 0.324951C4.28002 0.324951 3.11298 1.49195 3.11298 2.93095C3.11198 4.36895 4.27902 5.53595 5.71802 5.53595ZM10.584 6.92696H6.35901V9.77095C6.35901 10.125 6.07202 10.4109 5.71802 10.4109C5.36402 10.4109 5.07703 10.125 5.07703 9.77095V6.92696H0.85199L3.17603 15.626H8.258L10.584 6.92696Z" fill="#736357"/>
					</svg>
					{{trans.get('front.menu.login')}}
				</inertia-link>
			</div>
			<div class="px-1 lg:px-1 xl:px-3" v-if="null !== $page.user">
				<inertia-link :href="route('storefront.vip-membership-plan')">
					<svg class="fill-current text-link-brown -mt-2 w-6 h-6" viewBox="0 0 11 16" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.8" fill-rule="evenodd" clip-rule="evenodd" d="M5.71802 5.53595C7.15602 5.53595 8.323 4.36895 8.323 2.93095C8.323 1.49195 7.15602 0.324951 5.71802 0.324951C4.28002 0.324951 3.11298 1.49195 3.11298 2.93095C3.11198 4.36895 4.27902 5.53595 5.71802 5.53595ZM10.584 6.92696H6.35901V9.77095C6.35901 10.125 6.07202 10.4109 5.71802 10.4109C5.36402 10.4109 5.07703 10.125 5.07703 9.77095V6.92696H0.85199L3.17603 15.626H8.258L10.584 6.92696Z" fill="#736357"/>
					</svg>
					<span class="text-base text-link-brown font-bold">{{ trans.get('__JSON__.My Account') }}</span>
				</inertia-link>
			</div>
			<div class="px-1 lg:px-1 xl:px-3" v-if="null !== $page.user">
				<dropdown-menu mode="hover" class="inline-flex items-center px-1 py-0 border-transparent text-link-brown text-base hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">
					<a href="#" slot="trigger">{{ trans.get('__JSON__.歡迎') }} {{ $page.user.name }}</a>
					<ul slot="body" class="pl-4">
						<li class="py-4">
							<inertia-link :href="route('dashboard.logout')" method="post" class="w-full">
								{{ trans.get('__JSON__.登出') }}
							</inertia-link>
						</li>
					</ul>
				</dropdown-menu>
			</div>
			<div class="px-1 lg:px-1 xl:px-3" v-if="null !== $page.user && $page.isAdmin">
				<inertia-link :href="route('admin.index')">
					<span class="text-pink-500 font-bold text-base">Admin</span>
				</inertia-link>
			</div>
		</div>
	</div>
</div>
</template>

<script>
import CountryFlag from 'vue-country-flag'
import vSelect from 'vue-select'
import DropdownMenu from 'v-dropdown-menu'
import 'v-dropdown-menu/dist/v-dropdown-menu.css'

export default {
	// name: ,
	components: {
		'country-flag': CountryFlag,
		'v-select': vSelect,
		DropdownMenu,
	},

	mounted() {
		this.currency = 'hkd';
        this.location = {value: 'hk', text: 'Hong Kong', flag: 'hk'};
		// console.log(this.trans.getLocale());
		// console.log(this.$page);
	},
	
	data() {
        return {
			showingNavigationDropdown: false,
			currency: null,
			currencies: [
				{value: 'hkd', text: 'Hong Kong Dollar $'},
				{value: 'usd', text: 'United States Dollar $'},
			],
			location: null,
			locations: [
				{value: 'hk', text: 'Hong Kong', flag: 'hk'},
				{value: 'cn', text: 'China', flag: 'cn'},
				{value: 'us', text: 'United States', flag: 'us'},
            ],
            OpenIndicator: {
                render: createElement => createElement('span', {class: {'toggle': true,'caret-down': true}}),
            },
		}
	},
	
    methods: {
		logout() {
            axios.post(route('logout').url()).then(response => {
                window.location = '/';
            })
        },
	}
}
</script>

<style module>
.vs__dropdown-toggle {
    border: 0!important;
    cursor: pointer;
}
.vs--single .vs__selected {
    font-size: .9rem;
    text-align: right;
}
.vs--unsearchable .vs__search {
    display: none;
}
.vs__actions {
    padding: 0;
}
span.caret-down {
    background: url('/images/icons/caret-down.svg') no-repeat center center;
    background-size: 50%;
    border: solid 1px #000;
    border-color: #736357;
    border-radius: 5px;
    filter: invert(38%) sepia(32%) saturate(280%) hue-rotate(343deg) brightness(93%) contrast(81%);
    padding: .8rem;
}
</style>
