<template>
<div v-if="null !== $page.events" class="bg-pink-dark grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 xl:grid-cols-6 gap-2 py-4 lg:py-2 px-2 sm:px-2 lg:px-3 xl:px-6">
	<div
		v-for="(event, index) in $page.events"
		:key="index"
        class="w-full col-span text-right lg:text-center py-2 lg:py-0 flex"
	>
		<a
			class="py-2 px-4 lg:px-2 xl:px-4 w-full text-white text-lg lg:text-base text-center"
			:href="event.url"
			:style="{backgroundColor: event.bgcolor}"
		>{{event.title}}</a>
	</div>
	<div class="col-span md:col-span-2 lg:col-span-3 xl:col-span-4 my-4 lg:my-0">
		<div class="flex flex-wrap content-center flex-row-reverse divide-x-2 divide-link-brown py-2">
			<div class="px-6 lg:px-3 xl:px-3 lang-selection">
				<inertia-link href="#" class="text-link-brown font-bold px-2 xl:px-4 text-base">
					<svg class="fill-current text-link-brown -mt-1 w-6 h-6" viewBox="0 0 17 15" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.8" d="M16.307 1.26799V2.23299L12.813 2.96898C12.781 2.96898 12.745 2.96899 12.713 2.97699V9.80298C12.713 10.222 12.371 10.563 11.954 10.563H2.68201C2.25601 10.563 1.922 10.222 1.922 9.80298L0.0610352 2.77998C0.0610352 2.35498 0.404021 2.01999 0.822021 2.01999H2.43005L3.65405 7.82199C3.65405 8.19399 3.88204 8.49098 4.17004 8.49098H10.504C10.793 8.49098 11.022 8.19399 11.022 7.82199V2.01999C11.022 2.01999 11.5231 1.92998 11.6281 1.92998L15.851 0.812988C16.108 0.812988 16.307 1.01799 16.307 1.26799Z" fill="#736357"/>
						<path opacity="0.8" d="M5.32703 13.0011C5.32703 13.8551 4.63405 14.5461 3.77905 14.5461C2.92605 14.5461 2.23401 13.8551 2.23401 13.0011C2.23401 12.1461 2.92605 11.4551 3.77905 11.4551C4.63405 11.4561 5.32703 12.1461 5.32703 13.0011Z" fill="#736357"/>
						<path opacity="0.8" d="M12.713 13.0011C12.713 13.8551 12.021 14.5461 11.167 14.5461C10.313 14.5461 9.62 13.8551 9.62 13.0011C9.62 12.1461 10.312 11.4551 11.167 11.4551C12.021 11.4561 12.713 12.1461 12.713 13.0011Z" fill="#736357"/>
						<path opacity="0.8" d="M9.44495 6.17603C9.44495 6.44303 9.24595 6.66103 8.99695 6.66103H5.58997C5.34197 6.66103 5.14294 6.44303 5.14294 6.17603L4.45203 2.47403C4.45203 2.20503 4.65302 1.98804 4.90002 1.98804H8.99805C9.24705 1.98804 9.44604 2.20503 9.44604 2.47403V6.17603H9.44495Z" fill="#736357"/>
					</svg>
					{{ trans.get('front.cart') }}
					<span class="num">({{ $page.cart.count }})</span>
				</inertia-link>
			</div>
			<div class="px-6 lg:px-1 xl:px-2 grid grid-cols-2 gap-2">
				<div class="mr-0 lg:mr-1 xl:mr-1">
					<cart-slider :min="0" :max="500" :amount="$page.cart.amount"></cart-slider>
				</div>
				<div class="ml-2 lg:ml-0">
					<span class="text-link-brown font-bold text-base">{{trans.get('front.ship.open')+' '+bonus}}{{trans.get('front.ship.close')}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
</template>

<script>
import CartSlider from '@/StoreTemplates/CartSlider'

export default {
	name: 'user-cart',

	components: {
        CartSlider,
	},

	mounted() {
	},

    data() {
        return {
            amount: this.$page.cart.amount,
		}
    },

    computed: {
        bonus: function(){
            let diff = this.$page.bonus.freeShipping.amount - this.amount;
            return this.$page.bonus.freeShipping.currency+diff;
        },
    },
    
	watch: {
        amount: function(){
            this.calculateFreeShipping(this.amount);
        },
	},
	
    methods: {
		calculateFreeShipping: function(amount){
            let diff = this.$page.bonus.freeShipping.amount - amount;
            this.bonus = this.$page.bonus.freeShipping.currency+diff;
        },
	}
}
</script>

<style scoped>
</style>
