<template>
<div>
    <vue-slider v-model="amount" :contained="true" :min="min" :max="max" :disabled="false" :clickable="false" :dotOptions="slider.dot" :marks="slider.marks" :railStyle="slider.rail" :processStyle="slider.proc" :tooltip-formatter="slider.tolltipformat" :tooltip-placement="['bottom']" :tooltip="'always'"></vue-slider>
</div>
</template>

<script>
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/default.css'

export default {
    name: 'cart-slider-vip',
    
	components: {
		VueSlider,
	},

	props: ['min', 'max', 'amount'],

    data() {
        return {
			slider: {
                tolltipformat: this.trans.get('__JSON__.還差')+' '+(this.max - this.amount)+' '+this.trans.get('__JSON__.積分，即可以成為VVIP啦'),
                dot: {
                    style: {
                        backgroundColor: '#707c9d',
                        borderWidth: '5px',
                        borderColor: 'rgba(0,0,0,65%)',
                        width: '20px',
                        height: '20px',
                        transform: 'translate(-3px, -3px)',
                    },
                    tooltipStyle:{
                        marginTop: "23px",
                        backgroundColor: "#E692A0",
                        padding: "8px 15px",
                        fontSize: "16px",
                        fontWeight: "600",
                        borderBottomColor: "#E692A0",
                        borderWidthAfter:'15px',
                         borderRadius:'10px'
                        },
                    focusStyle:{
                    },
                    tooltipFocusStyle:{
                    } 
                },
                marks: {
                    '0': {
                        label: '',
                        style: {

                            backgroundColor: '#707c9d',
                            borderWidth: '5px',
                            borderColor: 'rgba(0,0,0,65%)',
                            width: '20px',
                            height: '20px',
                            transform: 'translate(-7px, -7px)',
                            display: 'block',
                        },
                    },
                    '500': {
                        label: '',
                        style: {
                            backgroundColor:'transparent',
                            borderRadius: '1%',
                            backgroundImage: 'url("/images/icons/crowntilt.svg")',
                            backgroundRepeat: 'no-repeat',
                            width: '97px',
                            height: '100px',
                            transform: 'translate(-5px, -50px)',
                            display: 'block',
                        },
                    },
                },
                rail: {
                    backgroundColor: '#ccbd97',
                    height: '6px'
                },
                proc: {
                    backgroundColor: '#ccbd97',
                    height: '6px'
                },
            },
		}
	},
	
    methods: {}
}
</script>

<style module>
.vue-slider-dot-tooltip-inner-bottom::after{
    border-width:15px !important;
    bottom:70%;
   
}
@media only screen and (max-width: 600px) {
    .vue-slider-dot-tooltip-inner {
        display: none !important;
    }
} 

</style>
