<template>
<app-layout>
    <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            {{ provider === 'admin' ? 'In-House' : 'Seller' }} Products
        </h2>
    </template>

    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-2">
                <div class="w-full block py-4 text-right h-16">
                    <inertia-link v-if="provider === 'admin'" :href="route('admin.products.create')" class="px-8 py-2 bg-red-400 ring-4 ring-indigo-300 rounded-lg border-2 text-white">
                        Upload New Product
                    </inertia-link>
                </div>
                <vue-table-dynamic :params="params" ref="brandTable" :key="datatable">
                    <template v-slot:column-0="{ props }">
                        <img v-lazy="props.cellData" class="w-3/4 h-auto mx-auto block">
                    </template>
                    <template v-slot:column-4="{ props }">
                        <div class="w-full flex flex-col">
                            <inertia-link class="w-full text-center text-gray-200 bg-indigo-600 rounded-lg py-2 px-4 mx-auto my-2" :href="route('admin.brands.edit', {brand: props.cellData})">
                                <v-icon class="fill-current text-gray-200 mr-2" name="pencil-alt"></v-icon> Edit
                            </inertia-link>
                            <inertia-link class="w-full text-center text-gray-200 bg-red-600 rounded-lg py-2 px-4 mx-auto my-2" method="delete" :href="route('admin.brands.destroy', {brand: props.cellData})">
                                <v-icon class="fill-current text-gray-200 mr-2" name="trash"></v-icon> Delete
                            </inertia-link>
                        </div>
                    </template>
                </vue-table-dynamic>
            </div>
        </div>
    </div>
</app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import JetNavLink from '@/Jetstream/NavLink'
import Welcome from '@/Jetstream/Welcome'
import VueTableDynamic from "vue-table-dynamic"

export default {
    components: {
        AppLayout,
        JetNavLink,
        Welcome,
        VueTableDynamic,
    },

    props: ['products', 'provider'],

    data() {
        return {
            params: {
                data: [],
                header: 'row',
                border: true,
                stripe: true,
                showCheck: true,
                enableSearch: true,
                sort: [0, 1, 3],
                pagination: true,
                pageSize: 15,
                pageSizes: [15, 30, 50, 100],
                fixed: 1,
                columnWidth: [{
                    column: 0,
                    width: 150
                }, {
                    column: 1,
                    width: 185
                },],
                height: 420,
                rowHeight: 80,
            },
            datatable: 0,
        }
    },

    watch: {
        products: {
            immediate: true,
            handler(items) {
                this.fetch(items);
            },
            deep: true,
        },
    },

    mounted() {
        // console.log(this.brands.items.data.length);
    },

    methods: {
        fetch: function (items) {
            this.params.data = [];
            this.params.data.push(['Thumbnail', 'Name', 'Number', 'SKU', 'Seller', 'Price', 'Sales', 'Expired', 'Created', 'Valid From', 'Valid To', 'Status', 'Action']);
            if (items.length > 0) {
                for (const key in items) {
                    if (Object.hasOwnProperty.call(items, key)) {
                        const item = items[key];
                        // console.log(item);
                        this.params.data.push([
                            item.logo,
                            item.title.en,
                            item.title.zh,
                            item.description,
                            item.id
                        ]);
                    }
                }
            }
        },
    },

}
</script>

<style module>
.vue-scrollbar .v-table-row {
    min-height: 7rem !important;
}
</style>
