<template>
<app-layout>
    <template #header>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
            Available Tags
        </h2>
    </template>

    <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-2">
                <div class="w-full block py-4 text-right h-16">
                    <inertia-link :href="route('admin.tags.create')" class="px-8 py-2 bg-red-400 ring-4 ring-indigo-300 rounded-lg border-2 text-white">
                        Add New Tags
                    </inertia-link>
                </div>
                <vue-table-dynamic :params="params" ref="brandTable" :key="datatable">
                    <template v-slot:column-0="{ props }">
                        <div class="w-full">
                            <p v-for="(label, key) in props.cellData" :key="key" class="text-sm text-pink-strongest text-shadow-md p-2">
                                [{{ key }}] {{ label }}
                            </p>
                        </div>
                    </template>
                    <template v-slot:column-1="{ props }">
                        <div class="w-full flex flex-row">
                            <div v-for="(src, label) in props.cellData" :key="label" class="mr-4">
                                <img v-lazy="src" class="h-auto">
                            </div>
                        </div>
                    </template>
                    <template v-slot:column-3="{ props }">
                        <div class="w-full flex flex-col">
                            <inertia-link class="w-full text-center text-gray-200 bg-indigo-600 rounded-lg py-2 px-4 mx-auto my-2" :href="route('admin.tags.edit', {tag: props.cellData})">
                                <v-icon class="fill-current text-gray-200 mr-2" name="pencil-alt"></v-icon> Edit
                            </inertia-link>
                            <inertia-link class="w-full text-center text-gray-200 bg-red-600 rounded-lg py-2 px-4 mx-auto my-2" method="delete" :href="route('admin.tags.destroy', {tag: props.cellData})">
                                <v-icon class="fill-current text-gray-200 mr-2" name="trash"></v-icon> Delete
                            </inertia-link>
                        </div>
                    </template>
                </vue-table-dynamic>
            </div>
        </div>
    </div>
</app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import JetNavLink from '@/Jetstream/NavLink'
import Welcome from '@/Jetstream/Welcome'
import VueTableDynamic from "vue-table-dynamic"

export default {
    components: {
        AppLayout,
        JetNavLink,
        Welcome,
        VueTableDynamic,
    },

    props: ['tags'],

    data() {
        return {
            params: {
                data: [],
                header: 'row',
                border: true,
                stripe: true,
                showCheck: true,
                enableSearch: true,
                sort: [0, 1, 3],
                pagination: true,
                pageSize: 15,
                pageSizes: [15, 30, 50, 100],
                fixed: 0,
                columnWidth: [{
                    column: 0,
                    width: 200
                }, {
                    column: 2,
                    width: '12.5%'
                }, {
                    column: 3,
                    width: '20%'
                }],
                height: 420,
                rowHeight: 140,
            },
            datatable: 0,
        }
    },

    watch: {
        tags: {
            immediate: true,
            handler(items) {
                this.fetch(items);
            },
            deep: true,
        },
    },

    mounted() {
        // console.log(this.brands.items.data.length);
    },

    methods: {
        fetch: function (items) {
            this.params.data = [];
            this.params.data.push(['Label', 'Image', 'Published', 'Action']);
            if (items.length > 0) {
                for (const key in items) {
                    if (Object.hasOwnProperty.call(items, key)) {
                        const item = items[key];
                        // console.log(item);
                        this.params.data.push([
                            item.label,
                            item.images,
                            item.published,
                            item.id
                        ]);
                    }
                }
            }
        },
    },

}
</script>

<style module>
.vue-scrollbar .v-table-row {
    min-height: 7rem !important;
}
</style>
