<template>
    <store-front-layout>
        <div class="container mx-auto px-0 lg:px-4 xl:px-8 py-5 bg-pink-lightest">
        <!-- Mobile Page Heading -->
        <mobile-header-membership></mobile-header-membership>
            <div class="grid grid-cols-4 gap-14 ">
                <div class="col-span-1 hidden md:block">
                    <ul>
                        <inertia-link :href="route('storefront.vip-membership-plan')">
                            <li v-bind:class="{ 'text-white': active_li == 'storefront.vip-membership-plan' , 'bg-pink-dark': active_li == 'storefront.vip-membership-plan', 'text-pink-darken': active_li !='storefront.vip-membership-plan' }" class="px-4 border-b py-2 border-grey-line">
                                {{ trans.get('__JSON__.VIP會員計劃') }}
                            </li>
                        </inertia-link>
                        <inertia-link :href="route('storefront.order-record')">
                            <li v-bind:class="{ 'text-white': active_li == 'storefront.order-record' , 'bg-pink-dark': active_li == 'storefront.order-record', 'text-pink-darken': active_li !='storefront.order-record' }" class="px-4 border-b py-2 border-grey-line">
                                {{ trans.get('__JSON__.訂單紀錄') }}
                            </li>
                        </inertia-link>
                        <inertia-link :href="route('storefront.coupon-codes')">
                            <li v-bind:class="{ 'text-white': active_li == 'storefront.coupon-codes' , 'bg-pink-dark': active_li == 'storefront.coupon-codes', 'text-pink-darken': active_li !='storefront.coupon-codes' }" class="px-4 border-b py-2 border-grey-line">
                                {{ trans.get('__JSON__.優惠碼、電子卷及搶購優惠') }}
                            </li>
                        </inertia-link>
                        <inertia-link :href="route('storefront.gps-activity-link-sharing')">
                            <li v-bind:class="{ 'text-white': active_li == 'storefront.gps-activity-link-sharing' , 'bg-pink-dark': active_li == 'storefront.gps-activity-link-sharing', 'text-pink-darken': active_li !='storefront.gps-activity-link-sharing' }" class="px-4 border-b py-2 border-grey-line">
                                {{ trans.get('__JSON__.GPS運動及連結分享記錄') }}
                            </li>
                        </inertia-link>
                        <inertia-link :href="route('storefront.account-details')">
                            <li v-bind:class="{ 'text-white': active_li == 'storefront.account-details' , 'bg-pink-dark': active_li == 'storefront.account-details', 'text-pink-darken': active_li !='storefront.account-details' }" class="px-4 border-b py-2 border-grey-line">                       
                                {{ trans.get('__JSON__.帳戶資料') }}
                            </li>
                        </inertia-link>
                        <inertia-link :href="route('storefront.shipping-address')">
                            <li v-bind:class="{ 'text-white': active_li == 'storefront.shipping-address' , 'bg-pink-dark': active_li == 'storefront.shipping-address', 'text-pink-darken': active_li !='storefront.shipping-address' }" class="px-4 border-b py-2 border-grey-line">
                                {{ trans.get('__JSON__.送貨地址') }}
                            </li>
                        </inertia-link>
                        <inertia-link :href="route('storefront.promotion-news')">
                            <li v-bind:class="{ 'bg-pink-dark': active_li=='storefront.promotion-news' , 'text-white': active_li=='storefront.promotion-news', 'text-pink-darken': active_li !='storefront.promotion-news' }" class="px-4 border-b py-2 border-grey-line">
                                {{ trans.get('__JSON__.優惠資訊通知') }}
                            </li>
                        </inertia-link>
                        <inertia-link :href="route('storefront.product-review')">
                            <li v-bind:class="{ 'text-white': active_li == 'storefront.product-review' , 'bg-pink-dark': active_li == 'storefront.product-review', 'text-pink-darken': active_li !='storefront.product-review' }" class="px-4 border-b py-2 border-grey-line">
                                {{ trans.get('__JSON__.我的商品評論') }}
                            </li>
                        </inertia-link>
                    </ul>
                    <img src="/images/icons/promotion_banner.svg"/>
                </div>
                <div class="md:col-span-3 col-span-4">
                    <section class="relative">
                        <!-- Page Heading -->
                        <header>
                            <slot name="header"></slot>
                        </header>
                        <!-- Page Content -->
                        <main>
                            <slot></slot>
                        </main>
                    </section> 
                </div>
            </div>
        </div>
    </store-front-layout>
</template>

<script>
    import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
    import MobileHeaderMembership from '@/StoreTemplates/MobileHeaderMembership'
    import UserNav from '@/StoreTemplates/UserNav'
    import UserCartNav from '@/StoreTemplates/UserCartNav'
    import StoreFooter from '@/StoreTemplates/StoreFooter'
    import FixedHeader from 'vue-fixed-header'
    import vSelect from 'vue-select'

    export default {
        components: {
            StoreFrontLayout,
            MobileHeaderMembership,
            UserNav,
            UserCartNav,
            StoreFooter,
            FixedHeader,
            'v-select': vSelect
        },
        
        props: ['meta', 'page'],

        data(){
            return{
               active_li:route().current()
            }
        },
        methods:{
            
        }
    }
</script>
<style>
</style>