<template>
    <store-front-layout>
         <div class="container mx-auto px-0 lg:px-4 xl:px-8 ">
            <div class="bg-pink-soft py-10">
                <div class="bg-pink-softstrong md:w-4/6 mx-auto">
                    <div class="container px-7 pb-6">
                        <div class="sm:w-9/12 w-full mx-auto">
                           <div class="py-16 my-10">
                                <p class="text-pink-darken text-center text-xl">{{ trans.get('__JSON__.企業申請') }}</p>
                                <p class="text-pink-darken mt-4 my-2 text-lg border-b border-pink-darken">{{ trans.get('__JSON__.基本信息') }}</p>
                                <form class="py-3 mt-2">
                                    <div class="px-3"> 
                                        <input type="text" v-bind:placeholder="trans.get('__JSON__.公司名稱')+' ('+trans.get('__JSON__.英語')+') *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                        <input type="text" v-bind:placeholder="trans.get('__JSON__.公司名稱')+' ('+trans.get('__JSON__.中文')+') *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                        <select  class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                            <option default>{{ trans.get('__JSON__.成立地點') }}</option>
                                            <option v-for="country in countries" v-bind:value="country['code']+'-'+country['name']">
                                                 {{country["code"]}} - {{country["name"]}} 
                                            </option>
                                        </select>
                                        <input type="text" v-bind:placeholder="trans.get('__JSON__.公司註冊證書編號')" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                    </div>
                                    <p class="text-pink-darken mt-4 my-2 text-lg border-b border-pink-darken">{{ trans.get('__JSON__.BR地址') }}</p>
                                    <div class="px-3"> 
                                        <input type="text" v-bind:placeholder="trans.get('__JSON__.商業名稱')" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                        
                                        <input type="text" v-bind:placeholder="trans.get('__JSON__.公司網站')" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                        <!-- <input type="text" v-bind:placeholder="trans.get('__JSON__.商業登記地址')" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full"> -->
                                        <input type="text" v-bind:placeholder="trans.get('__JSON__.樓層和房間')+' *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                        <input type="text" v-bind:placeholder="trans.get('__JSON__.街道與建築物')+' *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                        <input type="text" v-bind:placeholder="trans.get('__JSON__.區')+' *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                        <select  class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                                <option default>{{ trans.get('__JSON__.國家') }} *</option>
                                                <option v-for="country in countries" v-bind:value="country['code']+'-'+country['name']">
                                                    {{country["code"]}} - {{country["name"]}} 
                                                </option>
                                            </select>
                                        <input type="text" v-bind:placeholder="trans.get('__JSON__.商業登記號碼')+' *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                        <input v-bind:placeholder="trans.get('__JSON__.BR到期日')+' *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full" type="text" onfocus="(this.type='date')">
                                        <div class="flex px-2 items-center">
                                            <p class="w-3/6 my-1 text-pink-darken">{{ trans.get('__JSON__.BR文件上傳') }} *</p>
                                            <span class = "text-pink-darken">{{ trans.get('__JSON__.上傳文件') }}</span>
                                            <label class = "cursor-pointer p-2 text-white ml-2 bg-pink-stronger"> {{ trans.get('__JSON__.選擇文件') }} <input type="file" class ="w-3/6 hidden"> </label>
                                        </div>
                                        <div class="flex px-2 mt-2 items-center">
                                            <p class="w-3/6 my-1 text-pink-darken">{{ trans.get('__JSON__.公司簡介') }} *</p>
                                            <span class = "text-pink-darken">{{ trans.get('__JSON__.上傳文件') }}</span>
                                            <label class = "cursor-pointer p-2 text-white ml-2 bg-pink-stronger ">{{ trans.get('__JSON__.選擇文件') }}<input type="file" class ="w-3/6 hidden"> </label>
                                        </div>
                                    </div>
                                    <p class="text-pink-darken mt-4 my-2 text-lg border-b border-pink-darken">{{ trans.get('__JSON__.註冊人信息') }}</p>
                                    <div class="px-3"> 
                                        <input type="text" v-bind:placeholder="trans.get('__JSON__.註冊人姓名')" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                        <input type="text" v-bind:placeholder="trans.get('__JSON__.註冊人的職位')" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                        <div class="w-full relative grid sm:grid-cols-3 grid-cols-2 lg:grid-cols-4 gap-2">
                                            <div class="col-span-1">
                                               <v-select 
                                                    :options="countrycodes"
                                                    :clearable="true"
                                                    :searchable="true"
                                                    :filterable="true"
                                                    :reduce="countrycode => countrycode.code"
                                                    v-model="countrycode"
                                                    class="v-select focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-2 py-3 bg-white float-left border-white my-2 w-full rounded-full mr-0"
                                                    label="name">
                                                    <template v-slot:selected-option="countrycode">
                                                        <span class="text-pink-darken font-bold">{{countrycode.code}}</span>
                                                    </template>
                                                    <template v-slot:option="countrycode">
                                                        <span class="text-pink-darken hover:text-white">
                                                            {{countrycode.name}}
                                                            &nbsp;
                                                            {{countrycode.code}}
                                                        </span>
                                                    </template>
                                                </v-select>
                                            </div>
                                            <div class="sm:col-span-2 col-span-1 lg:col-span-3 ">
                                                <input type="tel" v-model="mobileno" maxlength="12" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base sm:px-6 px-2 py-3 bg-white float-left border-white my-2 rounded-full w-full" v-bind:placeholder="trans.get('__JSON__.註冊人的聯繫電話')">
                                                <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.mobileno">{{ errors.mobileno }}</span>
                                            </div>
                                        </div>
                                         <input type="email" v-bind:placeholder="trans.get('__JSON__.註冊人的電子郵件')" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                    </div>
                                    <p class="text-pink-darken mt-4 my-2 text-lg border-b border-pink-darken">{{ trans.get('__JSON__.聯繫人信息') }}</p>
                                    <div class="px-3"> 
                                        <input type="text" v-bind:placeholder="trans.get('__JSON__.聯絡人姓名')+' *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                        <input type="text" v-bind:placeholder="trans.get('__JSON__.聯繫人職位')+' *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                        <div class="w-full relative grid sm:grid-cols-3 grid-cols-2 lg:grid-cols-4 gap-2">
                                            <div class="col-span-1">
                                                <v-select 
                                                    :options="countrycodes"
                                                    :clearable="true"
                                                    :searchable="true"
                                                    :filterable="true"
                                                    :reduce="countrycode => countrycode.code"
                                                    v-model="countrycode"
                                                    class="v-select focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-2 py-3 bg-white float-left border-white my-2 w-full rounded-full mr-0"
                                                    label="name">
                                                    <template v-slot:selected-option="countrycode">
                                                        <span class="text-pink-darken font-bold">{{countrycode.code}}</span>
                                                    </template>
                                                    <template v-slot:option="countrycode">
                                                        <span class="text-pink-darken hover:text-white">
                                                            {{countrycode.name}}
                                                            &nbsp;
                                                            {{countrycode.code}}
                                                        </span>
                                                    </template>
                                                </v-select>
                                            </div>
                                            <div class="col-span-1 sm:col-span-2 lg:col-span-3">
                                                <input type="tel" v-model="mobileno" maxlength="12" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base sm:px-6 px-2 py-3 bg-white float-left border-white my-2 rounded-full w-full" v-bind:placeholder="trans.get('__JSON__.聯繫人號碼')+' *'">
                                                <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.mobileno">{{ errors.mobileno }}</span>
                                            </div>
                                        </div>
                                        <input type="email" v-bind:placeholder="trans.get('__JSON__.聯繫人電子郵件')+' *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                    </div>
                                    <p class="text-pink-darken mt-12 px-4"> {{trans.get('__JSON__.负责人只需一个工作日即可回复您的申请')}}</p>
                                    <input class="text-base text-white py-4 mt-7 bg-pink-stronger  my-2 w-full rounded-full cursor-pointer focus:outline-none" type="submit" v-bind:value="trans.get('__JSON__.提交')">
                                    <div class="ml-4 my-4">
                                        <p class="text-pink-darken"> <span class="cursor-pointer" @click="terms_conditionsopen">{{ trans.get('__JSON__.條款和條件') }}</span> + <span class="cursor-pointer" @click="privacy_policyopen">{{ trans.get('__JSON__.隱私政策聲明') }}</span></p>
                                        <input type="checkbox" checked class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken my-4" value="terms_privacy">
                                        <label class="my-4 text-sm text-pink-darken" for="terms_privacy">{{ trans.get('__JSON__.接受条款和条件') }}</label><br>
                                         <p class="text-pink-darken">{{ trans.get('__JSON__.接受提供的信息') }}</p>
                                        <input type="checkbox" checked class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken my-4" value="inforcheck">
                                        <label class="my-4 text-sm text-pink-darken" for="inforcheck">{{ trans.get('__JSON__.接受条款和条件') }}</label><br>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <modal :show="terms_conditions" @close="terms_conditions=false">
                <template #content>
                     <div v-if="trans.locale == 'en'" v-html="termsconditions_english" class="p-5 height-full h-screen overflow-y-auto"></div>
                     <div  v-if="trans.locale == 'zh-CN'" v-html="termsconditions_chinese_simplified" class="p-5 height-full h-screen overflow-y-auto"></div>
                     <div  v-if="trans.locale == 'zh-HK'" v-html="termsconditions_chinese_traditional" class="p-5 height-full h-screen overflow-y-auto"></div>
                </template>
            </modal>
            <modal :show="privacy_policy" @close="privacy_policy=false">
               <template #content>
                     <div v-if="trans.locale == 'en'" v-html="privacy_policy_english" class="p-5 height-full h-screen overflow-y-auto"></div>
                     <div  v-if="trans.locale == 'zh-CN'" v-html="privacy_policy_simplified" class="p-5 height-full h-screen overflow-y-auto"></div>
                     <div  v-if="trans.locale == 'zh-HK'" v-html="privacy_policy_traditional" class="p-5 height-full h-screen overflow-y-auto"></div>
                </template>
            </modal>
    </store-front-layout>
</template>
<script>
    import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
    import vSelect from 'vue-select'
    import Welcome from '@/Jetstream/Welcome'
    import LoginSidebar from '@/StoreTemplates/LoginSidebar'
    import Countrycodeswithnames from '../../../../CountryNamesWithCode.json'
    import Modal from '@/Jetstream/DialogModal'
    export default {
        props: ['meta', 'errors', 'countrycodes','countries','page','termsconditions_english', 'termsconditions_chinese_simplified','termsconditions_chinese_traditional','page', 'privacy_policy_english', 'privacy_policy_simplified', 'privacy_policy_traditional'],
        watch: {
        meta: {
            immediate: true,
            handler(meta) {
                document.title=meta.title + ' - ' + this.$page.appName
            },
        },
    },
        components: {
            StoreFrontLayout,
            'v-select': vSelect,
            Modal
            
        },
        mounted() {
        this.countrycode = '+852';
        
    },
    
    data(){
        return{
                countrycode: null,
                mobileno: null,
                countrynames: Countrycodeswithnames,
                terms_conditions: false,
                privacy_policy: false,
              }
          },
        methods:{
            terms_conditionsopen() {
                this.terms_conditions=true;
            },
            privacy_policyopen(){
                this.privacy_policy=true
            }
        },
    
    }
    
        

</script>
<style scoped>
</style>