<template>
<store-front-layout>
    <div class="container my-16 bg-pink-lightest overflow-auto md:w-3/5 mx-auto">
        <div class="container p-2 mb-4 mt-6 bg-pink-lightest overflow-auto md:w-7/12 mx-auto">
            <h1 class="mx-auto px-6 py-2 text-pink-darken text-2xl"> {{ trans.get('__JSON__.重設密碼') }} </h1>
            <p class="mx-auto px-6"> {{ trans.get('__JSON__.輸入您的電子郵件地址以恢復您的密碼') }}</p>
        </div>
        <div class="container mb-4 mt-2 bg-pink-lightest overflow-auto md:w-7/12 mx-auto">
            <form class="mx-auto px-6" @submit.prevent="submit">
                <input class="text-pink-darken placeholder-pink-darken text-base px-6 py-3 bg-pink-softstrong  border-pink-softstrong my-2 w-full rounded-full focus:ring-2 focus:ring-pink-darken focus:border-pink-darken" type="email" v-model="email" v-bind:placeholder="trans.get('__JSON__.電子郵件')">
                <input class="text-base text-white py-3  bg-pink-stronger  my-2 w-full rounded-full cursor-pointer focus:outline-none" type="submit" v-bind:value="trans.get('__JSON__.發送密碼重置鏈接')">
                <p class="text-pink-darken my-6">
                    <inertia-link :href="route('login.member')">
                        {{ trans.get('__JSON__.回到登入') }}
                    </inertia-link>
                </p>
            </form>
            <div v-if="$page.flash.status" class="w-full my-4 px-8 py-2 border-2 border-green-400">
                <p class="text-green-400">
                    {{ $page.flash.status }}
                </p>
            </div>
            <div v-if="errors.email" class="w-full my-4 px-8 py-2 border-2 border-red-600">
                <p class="text-red-600">
                    {{ errors.email }}
                </p>
            </div>
        </div>
    </div>
</store-front-layout>
</template>

<script>
import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
export default {
    components: {
        StoreFrontLayout,
    },

    props: ['meta', 'errors'],

    data() {
        return {
            email: null,
            flash: this.$page.flash,
        }
    },

    watch: {
        meta: {
            immediate: true,
            handler(meta) {
                document.title = meta.title + ' - ' + this.$page.appName
            },
        },
        errors: {
            immediate: true,
            handler(errors) {
                console.log(errors);
            },
        },
        flash: {
            immediate: true,
            handler(flash) {
                console.log(flash);
            },
        }
    },

    methods: {
        submit: function () {
            const params = {
                email: this.email,
            };

            this.$inertia.post(this.route('login.send-password'), params, {
                preserveScroll: true,
                resetOnSuccess: true,
            });
        },
    },
}
</script>

<style scoped>
</style>
