<template>
    <membership-layout>
        <div class="container bg-pink-lightest">
            <div class="p-10">
                <p class="bg-pink-stronger text-white sm:text-2xl text-xl   rounded-tr-full py-3 pr-12 px-3">{{ trans.get('__JSON__.處理中的訂單') }}</p>
                <div class="grid sm:grid-cols-3 grid-cols-1 gap-5 py-5 bg-pink-softstrong my-5">
                    <div class="col-span-1 sm:border-r-4 border-r-0 border-white text-center relative sm:table h-full">
                        <div class="sm:table-cell sm:align-middle">
                            <img class="h-4/5 mx-auto w-7/12" src="/images/icons/order_record_down.svg"/>
                            <p @click="open_bill_modal" class="cursor-pointer text-blue-light sm:text-xl text-lg absolute top-1/2 w-1/2 mx-auto left-1/4 pt-2">{{ trans.get('__JSON__.查看帳單') }}</p>
                        </div>
                    </div>
                    <div class="sm:col-span-2 col-span-1 sm:px-0 sm:px-5 px-3 sm:table h-full">
                        <div class="sm:table-cell sm:align-middle sm:pr-2">
                            <p class="text-pink-darken sm:text-xl text-base pb-5 break-words font-medium">{{ trans.get('__JSON__.訂單編號') }}: <span class="sm:text-lg text-base font-medium">POXXXXXXXXXXXXX</span></p>
                            <p class="text-pink-darken sm:text-xl text-base break-words font-medium">{{ trans.get('__JSON__.交易狀態') }}: <span class="sm:text-lg text-base font-medium">{{ trans.get('__JSON__.等待集運') }}</span></p>
                            <p class="text-pink-darken sm:text-xl text-base break-words font-medium">{{ trans.get('__JSON__.訂單日期') }}: <span class="sm:text-lg text-base font-medium">2020/05/02 12:00 A.M</span></p>
                            <p class="text-pink-darken sm:text-xl text-base pt-5 break-words font-medium">{{ trans.get('__JSON__.合共') }}: <span class="sm:text-lg text-base font-medium">HK$100</span></p>
                        </div>
                    </div>
                </div>
                <div class="grid sm:grid-cols-3 grid-cols-1 gap-5 py-5 bg-pink-softstrong my-5">
                    <div class="col-span-1 sm:border-r-4 border-r-0 border-white text-center relative sm:table h-full">
                        <div class="sm:table-cell sm:align-middle">
                            <img class="h-4/5 mx-auto w-7/12" src="/images/icons/order_record_down.svg"/>
                            <p @click="open_bill_modal" class="cursor-pointer text-blue-light sm:text-xl text-lg absolute top-1/2 w-1/2 mx-auto left-1/4 pt-2">{{ trans.get('__JSON__.查看帳單') }}</p>
                        </div>
                    </div>
                    <div class="sm:col-span-2 col-span-1 sm:px-0 sm:px-5 px-3 sm:table h-full">
                        <div class="sm:table-cell sm:align-middle sm:pr-2">
                            <p class="text-pink-darken sm:text-xl text-base pb-5 break-words font-medium">{{ trans.get('__JSON__.訂單編號') }}: <span class="sm:text-lg text-base font-medium">POXXXXXXXXXXXXX</span></p>
                            <p class="text-pink-darken sm:text-xl text-base break-words font-medium">{{ trans.get('__JSON__.交易狀態') }}: <span class="sm:text-lg text-base font-medium">{{ trans.get('__JSON__.等待集運') }}</span></p>
                            <p class="text-pink-darken sm:text-xl text-base break-words font-medium">{{ trans.get('__JSON__.訂單日期') }}: <span class="sm:text-lg text-base font-medium">2020/05/02 12:00 A.M</span></p>
                            <p class="text-pink-darken sm:text-xl text-base pt-5 break-words font-medium">{{ trans.get('__JSON__.合共') }}: <span class="sm:text-lg text-base font-medium">HK$100</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-10">
                <p class="bg-pink-darkest text-white text-2xl rounded-tr-full py-3 pr-12 px-3">{{ trans.get('__JSON__.已完成的訂單') }}</p>
                <div class="grid sm:grid-cols-3 grid-cols-1 gap-5 py-5 bg-pink-softstrong my-5">
                    <div class="col-span-1 sm:border-r-4 border-r-0 border-white text-center relative sm:table h-full">
                        <div class="sm:table-cell sm:align-middle">
                            <img class="h-4/5 mx-auto w-7/12" src="/images/icons/order_record_down.svg"/>
                            <p @click="open_bill_modal" class="cursor-pointer text-blue-light sm:text-xl text-lg absolute top-1/2 w-1/2 mx-auto left-1/4 pt-2">{{ trans.get('__JSON__.查看帳單') }}</p>
                        </div>
                    </div>
                    <div class="sm:col-span-2 col-span-1 sm:px-0 sm:px-5 px-3 sm:table h-full">
                        <div class="sm:table-cell sm:align-middle sm:pr-2">
                            <p class="text-pink-darken sm:text-xl text-base pb-5 break-words font-medium">{{ trans.get('__JSON__.訂單編號') }}: <span class="sm:text-lg text-base font-medium">POXXXXXXXXXXXXX</span></p>
                            <p class="text-pink-darken sm:text-xl text-base break-words font-medium">{{ trans.get('__JSON__.交易狀態') }}: <span class="sm:text-lg text-base font-medium">{{ trans.get('__JSON__.等待集運') }}</span></p>
                            <p class="text-pink-darken sm:text-xl text-base break-words font-medium">{{ trans.get('__JSON__.訂單日期') }}: <span class="sm:text-lg text-base font-medium">2020/05/02 12:00 A.M</span></p>
                            <p class="text-pink-darken sm:text-xl text-base pt-5 break-words font-medium">{{ trans.get('__JSON__.合共') }}: <span class="sm:text-lg text-base font-medium">HK$100</span></p>
                        </div>
                    </div>
                </div>
                <div class="grid sm:grid-cols-3 grid-cols-1 gap-5 py-5 bg-pink-softstrong my-5">
                    <div class="col-span-1 sm:border-r-4 border-r-0 border-white text-center relative sm:table h-full">
                        <div class="sm:table-cell sm:align-middle">
                            <img class="h-4/5 mx-auto w-7/12" src="/images/icons/order_record_down.svg"/>
                            <p @click="open_bill_modal" class="cursor-pointer text-blue-light sm:text-xl text-lg absolute top-1/2 w-1/2 mx-auto left-1/4 pt-2">{{ trans.get('__JSON__.查看帳單') }}</p>
                        </div>
                    </div>
                    <div class="sm:col-span-2 col-span-1 sm:px-0 sm:px-5 px-3 sm:table h-full">
                        <div class="sm:table-cell sm:align-middle sm:pr-2">
                            <p class="text-pink-darken sm:text-xl text-base pb-5 break-words font-medium">{{ trans.get('__JSON__.訂單編號') }}: <span class="sm:text-lg text-base font-medium">POXXXXXXXXXXXXX</span></p>
                            <p class="text-pink-darken sm:text-xl text-base break-words font-medium">{{ trans.get('__JSON__.交易狀態') }}: <span class="sm:text-lg text-base font-medium">{{ trans.get('__JSON__.等待集運') }}</span></p>
                            <p class="text-pink-darken sm:text-xl text-base break-words font-medium">{{ trans.get('__JSON__.訂單日期') }}: <span class="sm:text-lg text-base font-medium">2020/05/02 12:00 A.M</span></p>
                            <p class="text-pink-darken sm:text-xl text-base pt-5 break-words font-medium">{{ trans.get('__JSON__.合共') }}: <span class="sm:text-lg text-base font-medium">HK$100</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <modal :show="open_bill" @close="open_bill=false">
            <template #content>
                <div class="height-full h-screen overflow-y-auto mb-20 bg-pink-lightest p-5">
                    <div class="bg-pink-softstrong p-5 mb-5">
                        <div class="grid grid-cols-2 gap-10">
                            <div class="">
                                <div class="pb-10">
                                    <p class="text-pink-darken">{{ trans.get('__JSON__.訂單編號') }}: 0123456</p>
                                    <p class="text-pink-darken">{{ trans.get('__JSON__.payment_status') }}</p>
                                </div>
                                <div class="pb-10">
                                    <p class="text-pink-darken">{{ trans.get('__JSON__.送貨詳情') }}:</p>
                                    <p class="text-pink-darken">{{ trans.get('__JSON__.shipping_details_des') }}</p>
                                </div>
                                <div class="pb-10">
                                    <p class="text-pink-darken">{{ trans.get('__JSON__.付款詳情') }}: </p>
                                    <p class="text-pink-darken">{{ trans.get('__JSON__.payment_detail_des') }}</p>
                                </div>
                            </div>
                            <div class="pb-10">
                                <p class="text-pink-darken">{{ trans.get('__JSON__.訂單日期') }}: xxxx/xx/xx xx:xx A.M.</p>
                            </div>
                        </div>
                        <div class="grid sm:grid-cols-12 gap-2 pb-2">
                            <div class="sm:col-span-3 col-span-12 bg-pink-darken flex justify-center items-center rounded">
                                <button class="p-2 text-white text-base w-full">{{ trans.get('__JSON__.限時追加優惠') }} ({{ trans.get('__JSON__.Lim_time_add_discount_status') }})</button>
                            </div>
                            <div class="sm:col-span-3 col-span-12 bg-pink-darken flex justify-center items-center rounded">
                                <button class="p-2 text-white text-base w-full">{{ trans.get('__JSON__.更改送貨安排') }}</button>
                            </div>
                            <div class="sm:col-span-3 col-span-12 bg-pink-darken flex justify-center items-center rounded">
                                <button class="p-2 text-white text-base w-full">{{ trans.get('__JSON__.評價送貨服務') }}</button>
                            </div>
                            <div class="sm:col-span-3 col-span-12 bg-pink-darken flex justify-center items-center rounded">
                                <button class="p-2 text-white text-base w-full">{{ trans.get('__JSON__.選寫商品評論') }}</button>
                            </div>
                            <div class="sm:col-span-3 col-span-12 bg-pink-darken flex justify-center items-center rounded">
                                <button class="p-2 text-white text-base w-full">{{ trans.get('__JSON__.要求退換貨品') }}</button>
                            </div>
                            <div class="sm:col-span-3 col-span-12 bg-pink-darken flex justify-center items-center rounded">
                                <button class="p-2 text-white text-base w-full">{{ trans.get('__JSON__.收貨QR_Code') }}</button>
                            </div>
                            <div class="sm:col-span-3 col-span-12 bg-pink-darken flex justify-center items-center rounded">
                                <button class="p-2 text-white text-base w-full">{{ trans.get('__JSON__.把所有貨品重新加入購物車') }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="bg-pink-softstrong p-5 mb-5">
                        <p class="text-pink-darken text-lg pb-9">{{ trans.get('__JSON__.第1輪送貨') }}</p>
                        <table class="w-full text-pink-darken">
                            <thead class="text-left border-b-1 border-gray-400 border-solid border-black">
                                <tr class="">
                                    <th>{{ trans.get('__JSON__.產品名稱') }}</th>
                                    <th>{{ trans.get('__JSON__.帳單編號') }}</th>
                                    <th>{{ trans.get('__JSON__.數量') }}</th>
                                    <th>{{ trans.get('__JSON__.詳細資料') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <td class="py-5">
                                        <p>xxxxxxx</p>
                                        <p>xxxxxxx</p>
                                        <p>xxxxxxx</p>
                                    </td>
                                    <td>
                                        <p>xxxxxxx</p>
                                        <p>xxxxxxx</p>
                                        <p>xxxxxxx</p>
                                    </td>
                                    <td>
                                        <p>xxxxxxx</p>
                                        <p>xxxxxxx</p>
                                        <p>xxxxxxx</p>
                                    </td>
                                    <td>
                                        <p>xxxxxxx</p>
                                        <p>xxxxxxx</p>
                                        <p>xxxxxxx</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-5">
                                        <p>xxxxxxx</p>
                                        <p>xxxxxxx</p>
                                        <p>xxxxxxx</p>
                                    </td>
                                    <td>
                                        <p>xxxxxxx</p>
                                        <p>xxxxxxx</p>
                                        <p>xxxxxxx</p>
                                    </td>
                                    <td>
                                        <p>xxxxxxx</p>
                                        <p>xxxxxxx</p>
                                        <p>xxxxxxx</p>
                                    </td>
                                    <td>
                                        <p>xxxxxxx</p>
                                        <p>xxxxxxx</p>
                                        <p>xxxxxxx</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="py-5 text-right">
                            <p class="text-pink-darken text-base">{{ trans.get('__JSON__.總價') }}: $123456</p>
                            <p class="text-pink-darken text-base">{{ trans.get('__JSON__.運費') }}: $123456</p>
                        </div>
                        <div class="py-5 text-right">
                            <p class="text-pink-darken text-base">{{ trans.get('__JSON__.總數為') }}: $123456</p>
                        </div>
                        <div class="py-5 text-right">
                            <button @click="open_bill=false" class="bg-pink-darken p-2 text-white text-base rounded">{{ trans.get('__JSON__.返回') }}</button>
                        </div>
                    </div>
                </div>
            </template>
        </modal>
    </membership-layout>
</template>

<script>
    import MembershipLayout from '@/Layouts/MembershipLayout';
    import Modal from '@/Jetstream/DialogModal';
    export default {
        components: {
            MembershipLayout,
            Modal
        },
        
        props: ['meta', 'page'],
        watch: {
            meta: {
                immediate: true,
                handler(meta) {
                    document.title=meta.title + ' - ' + this.$page.appName
                }
            }
        },
        data(){
            return{
               open_bill:false
            }
        },
        methods:{
            open_bill_modal() {
                this.open_bill = true;
            },
        }
    }
</script>
<style scoped>
</style>