<template>
    <membership-layout>
        <div class="container bg-pink-itemstrong pb-3">
            <div class="border-b border-pink-darken p-5">
                <p class="text-3xl font-medium text-pink-darken">{{ trans.get('__JSON__.我的商品評論') }}</p>
            </div>
            <div class="p-5">
                <p class="text-xl font-medium my-1 text-pink-darken">{{ trans.get('__JSON__.關於') }}</p>
                <p class="text-xl font-medium my-1 text-pink-darken">{{ trans.get('__JSON__.XXX XXX 已加入X年X個月') }}</p>
                <p class="text-xl font-medium my-1 text-pink-darken">{{ trans.get('__JSON__.共X則評論') }}</p>
            </div>
            <div class="flex flex-wrap items-center py-5 mx-5 border-b">
                <div class="min-w-1/6 mr-2 my-1">
                    <p class="flex">
                        <star-rating 
                            v-model="rating"
                            :increment="0.5"
                            :star-size="17"
                            :rating="1"
                            :read-only="true"
                            :show-rating="false"
                            :max-rating="5"
                        ></star-rating>
                        <span class="text-pink-darken ml-1">(1)</span>
                    </p>
                </div>
                <div class="min-w-1/6 mr-2 my-1">
                    <p class="flex">
                        <star-rating 
                            v-model="rating"
                            :increment="0.5"
                            :star-size="17"
                            :rating="1"
                            :read-only="true"
                            :show-rating="false"
                            :max-rating="4"
                        ></star-rating> 
                        <span class="text-pink-darken ml-1">(1)</span>
                    </p>
                </div>
                <div class="min-w-1/6 mr-2 my-1">
                    <p class="flex">
                        <star-rating 
                            v-model="rating"
                            :increment="0.5"
                            :star-size="17"
                            :rating="1"
                            :read-only="true"
                            :show-rating="false"
                            :max-rating="3"
                        ></star-rating>
                        <span class="text-pink-darken ml-1">(0)</span>
                    </p>
                </div>
                <div class="min-w-1/6 mr-2 my-1">
                    <p class="flex">
                        <star-rating 
                            v-model="rating"
                            :increment="0.5"
                            :star-size="17"
                            :rating="1"
                            :read-only="true"
                            :show-rating="false"
                            :max-rating="2"
                        ></star-rating>
                        <span class="text-pink-darken ml-1">(0)</span>
                    </p>
                </div>
                <div class="min-w-1/6">
                    <p class="flex">
                        <star-rating 
                            v-model="rating"
                            :increment="0.5"
                            :star-size="17"
                            :rating="1"
                            :read-only="true"
                            :show-rating="false"
                            :max-rating="1"
                        ></star-rating>
                        <span class="text-pink-darken ml-1">(0)</span>
                    </p>
                </div>
            </div>
            <div class="container p-5 w-full">
                <div class="flex flex-wrap justify-between">
                    <div class="xl:min-w-2/6 lg:min-w-1/2 md:min-w-70 sm:min-w-1/2 min-w-70 px-2 items-center flex flex-wrap shopping-summary">
                        <span class="text-xl font-medium w-max text-pink-darken">{{ trans.get('__JSON__.商品分類') }}:</span> 
                        <div class="flex-grow lg:min-w-1/2 md:min-w-2/6 sm:min-w-1/2 min-w-2/6 shopping-summary">
                            <v-select :options="items" placeholder="" :components="{OpenIndicator1}" class="py-3 px-3">
                            </v-select>
                        </div>
                    </div>
                    <div class="xl:min-w-1/4  lg:min-w-1/2 md:min-w-70 sm:min-w-1/2  min-w-70 px-2 items-center flex flex-wrap shopping-summary">
                        <span class="text-xl font-medium w-max text-pink-darken">{{ trans.get('__JSON__.排序') }}:</span>
                        <div class="flex-grow lg:min-w-1/2 md:min-w-2/6 sm:min-w-1/2 min-w-2/6 shopping-summary">
                            <v-select :options="items" placeholder="" :components="{OpenIndicator2}" class="py-3 px-3">
                            </v-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-5 py-2">
                <div class="grid grid-cols-1 gap-4">
                    <div class="col-span-1">
                        <div class="w-14 bg-white p-12"></div>
                    </div>
                    <div class="col-span-1">
                        <div class="w-14 bg-white p-12"></div>
                    </div>
                </div>
            </div>
            <div class="container px-5 py-2 sm:mb-0 mb-20">
                <div class="justify-between flex flex-grow">
                    <div></div>
                    <div class="justify-last lg:min-w-3/5 min-w-full">
                        <div class="flex items-center">
                            <div class="flex-1 min-w-1/6">
                                <button class="cursor-pointer font-bold text-base focus:outline-none focus:ring focus:border-0 bg-pink-strong w-full text-xs py-1 rounded text-white tracking-widest font-semibold inline-flex items-center justify-center"><img class="w-3" src="/images/icons/lessthan.svg"/> FIRST</button>
                            </div> 
                            <div class="mx-1  w-6/12  flex items-center justify-center shopping-summary">
                                <div class="min-w-1/2"> 
                                    <v-select :options="items" placeholder="" :components="{OpenIndicator3}" class="py-3 px-3">
                                    </v-select>
                                </div>
                                <span class="font-bold text-base text-grey">/ {{ trans.get('__JSON__.共') }} 25 {{ trans.get('__JSON__.頁') }}</span>
                            </div>
                            <div class="flex-1 w-1/6">
                                <button class="cursor-pointer font-bold text-base focus:outline-none focus:ring focus:border-0 bg-pink-strong w-full text-xs py-1 rounded text-white tracking-widest font-semibold inline-flex items-center justify-center">LAST <img class="w-3" src="/images/icons/greaterthan.svg"/></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </membership-layout>
</template>

<script>
    import MembershipLayout from '@/Layouts/MembershipLayout';
    import StarRating from 'vue-star-rating';
    import vSelect from 'vue-select';
    export default {
        components: {
            MembershipLayout,
            StarRating,
            'v-select': vSelect
        },
        props: ['meta', 'page'],
        watch: {
            meta: {
                immediate: true,
                handler(meta) {
                    document.title=meta.title + ' - ' + this.$page.appName
                }
            }
        },
        data(){
            return{
               rating: 2,
               items: ['test1', 'test2', 'test3', 'test4'],
               OpenIndicator1: {
                render: createElement => createElement('span', {
                    class: {
                        'toggle': true,
                        'caret-down': true
                    }
                }),
                },
                OpenIndicator2: {
                render: createElement => createElement('span', {
                    class: {
                        'toggle': true,
                        'caret-down': true
                    }
                }),
                },
                OpenIndicator3: {
                    render: createElement => createElement('span', {
                        class: {
                            'toggle': true,
                            'caret-down': true
                        }
                    }),
                }
            }
        },
        methods:{}
    }
</script>
<style>
    .vs__selected-options {
        border: 1px solid #e1dcdd;
        margin-left: 2px;
        padding: 6px;
        background: #aeacac;
    }
    .vs__open-indicator {
        fill: white;
    }
    .vs__actions {
        border: 1px solid #e1dcdd;
        margin-left: 2px;
        padding: 6px;
        background: #aeacac;
    }
    .vs__open-indicator {
        fill: white;
    }
</style>
