<template>
<store-front-layout>
    <div class="container mx-auto px-0 lg:px-4 xl:px-8 ">
        <div class="bg-pink-soft py-10">
            <div class="bg-pink-softstrong md:w-4/6 mx-auto">
                <div class="container my-10 bg-pink-softstrong overflow-auto  border-b border-pink-bordering">
                    <div class="text-center text-2xl font-bold sm:w-2/6 w-3/6  mx-auto border-b border-pink-700 text-pink-darken lg:py-6">{{ trans.get('__JSON__.成為加盟商專享') }}</div>
                </div>
                <div class="container px-7 pb-6 break-words">
                    <div class="grid xl:grid-cols-4 xl:gap-12 md:grid-cols-3 md:gap-8 sm:grid-cols-2 sm:gap-8 grid-cols-1 gap-8">
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.簡易順暢流程') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/1ab.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.簡單操作平台') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/2mobile.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.贈送廣告費用') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/3savings.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.提供倉存服務') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/4box.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.特定客戶群') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/5aim.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.快速送貨承諾') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/6scooter.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.貨物禮品包裝') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/7gift.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.個人化店頁面') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/8idea.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.低俑金及年費') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/Asset 9.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.可獲宣傳資源') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/Asset 10.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.後台支援服務') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/Asset 11.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.完善運輸服務') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/Asset 12.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.減少開發費用') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/Asset 13.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.免人工及租金') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/Asset 14.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.推廣至更多人') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/Asset 15.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.協助生意發展') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/Asset 16.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.清晰帳戶記錄') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/Asset 17.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.不設上架上限') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/Asset 18.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.收入及競爭力') }}
                            </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/Asset 19.svg">
                            </div>
                        </div>
                        <div class="p-3 border-8 border-pink-dark rounded-3xl rounded-bl-none">
                            <p class="underline text-center lg:text-lg text-sm font-bold text-pink-700">
                                {{ trans.get('__JSON__.多元付款方式') }} </p>
                            <div class="h-20 mt-3">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/Asset 20.svg">
                            </div>
                        </div>
                    </div>
                    <div class="container my-10 bg-pink-softstrong overflow-auto  border-b border-pink-bordering">
                        <div class="text-center text-2xl font-bold sm:w-2/6 w-3/6  mx-auto border-b border-pink-700 text-pink-darken lg:py-6">{{ trans.get('__JSON__.申請流程') }}</div>
                    </div>
                    <div class="relative">
                        <img src="/images/icons/roadmap1.svg">
                        <span class="absolute font-semibold lg:text-lg md:text-base text-sm    left-60 top-18 underline text-pink-darken xl:w-30 w-40">{{ trans.get('__JSON__.網上遞交加盟商申請表') }} </span>
                        <span class="absolute font-semibold lg:text-lg md:text-base text-sm  xl:left-13 left-6 top-1/3 underline text-pink-darken xl:w-30 w-40">{{ trans.get('__JSON__.專員跟進加盟商申請') }} </span>
                        <span class="absolute font-semibold lg:text-lg md:text-base text-sm   left-60 top-48 underline text-pink-darken xl:w-30 w-40">{{ trans.get('__JSON__.開戶') }} + {{ trans.get('__JSON__.簽約') }} + {{ trans.get('__JSON__.繳交費用') }} </span>
                        <span class="absolute font-semibold lg:text-lg md:text-base text-sm  xl:left-13 left-6 top-64 underline text-pink-darken xl:w-30 w-40">{{ trans.get('__JSON__.等待審批完成') }} </span>
                        <span class="absolute font-semibold lg:text-lg md:text-base text-sm  left-60 top-78 underline text-pink-darken xl:w-30 w-40">{{ trans.get('__JSON__.七日內可上架貨品') }}</span>
                    </div>
                 <div v-show="showNotif && ($page.jetstream.flash.length)" class="relative block w-full my-2 px-8 mt-10 py-2 border-1 border-gray-800 bg-gray-300">
                   
                <!-- <div  class="relative block w-full my-2 px-8 mt-10 py-2 border-1 border-gray-800 bg-gray-300"> -->
                      <div class="h-10 mt-2">
                                <img class="w-9/12 h-full mx-auto" src="/images/icons/successfull_check_mark.svg">
                        </div>
                            <h2 class="text-center-bold">Thank you ! </h2>
                           <h3 class="text-center-bold">Your Application was successfully Submited. </h3>
                         <v-icon name="window-close" @click="$page.jetstream.flash = false" class="absolute right-4 top-2 cursor-pointer fill-current text-black"></v-icon>
                           <p class="text-center-black">{{ $page.jetstream.flash }}</p>
                    </div>
                    <div class="sm:w-9/12 w-full mx-auto pt-16 mt-10" v-show="isSignUpFormShow">
                            <p class="text-pink-darken">{{ trans.get('__JSON__.還在等') }}？{{ trans.get('__JSON__.立即為你的商品做推廣啦') }}!</p>
                              <div class="py-16 my-10">
                                <p class="text-pink-darken text-center text-xl">{{ trans.get('__JSON__.加盟商申請') }}</p>
                                    <p class="text-pink-darken mt-4 my-2 text-lg border-b border-pink-darken">{{ trans.get('__JSON__.基本信息') }}</p>
                            <form class="py-3 mt-2" @submit.prevent="vendorRegForm"  ref="vendorRegForm">
                                <div class="px-3">
                                    <input type="text" v-model="company_name_en" v-bind:placeholder="trans.get('__JSON__.公司名稱')+' ('+trans.get('__JSON__.英語')+') *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full" >
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.company_name_en">{{ errors.company_name_en }}</span>
                                    <input type="text" v-model="company_name_ch" v-bind:placeholder="trans.get('__JSON__.公司名稱')+' ('+trans.get('__JSON__.中文')+') *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full" >
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.company_name_ch">{{ errors.company_name_ch }}</span>
                                    <select class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full" v-model="incorporation_place">
                                        <option default value="">{{ trans.get('__JSON__.成立地點') }}</option>
                                        <option v-for="country in countries" v-bind:value="country['code']+'-'+country['name']" >
                                            {{country["code"]}} - {{country["name"]}}
                                        </option>
                                    </select>
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.incorporation_place">{{ errors.incorporation_place }}</span>
                                    <input type="text"  v-model="incorporation_no" v-bind:placeholder="trans.get('__JSON__.公司註冊證書編號')" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.incorporation_no">{{ errors.incorporation_no }}</span>
                                </div>
                                <p class="text-pink-darken mt-4 my-2 text-xl font-medium border-b border-pink-darken">{{ trans.get('__JSON__.BR地址') }}</p>
                                <div class="px-3">
                                    <input type="text" v-model="business_name" v-bind:placeholder="trans.get('__JSON__.商業名稱')" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.business_name">{{ errors.business_name }}</span>

                                    <input type="text" v-model="componay_website" v-bind:placeholder="trans.get('__JSON__.公司網站')" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.componay_website">{{ errors.componay_website }}</span>
                                    <!-- <input type="text" v-bind:placeholder="trans.get('__JSON__.商業登記地址')" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full"> -->
                                    <input type="text" v-model="floor" v-bind:placeholder="trans.get('__JSON__.樓層和房間')+' *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.floor">{{ errors.floor }}</span>
                                    <input type="text"  v-model="street" v-bind:placeholder="trans.get('__JSON__.街道與建築物')+' *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.street">{{ errors.street }}</span>
                                    <input type="text" v-model="district" v-bind:placeholder="trans.get('__JSON__.區')+' *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.district">{{ errors.district }}</span>
                                    <select v-model="country" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                        <option default value="">{{ trans.get('__JSON__.國家') }} *</option>
                                        <option v-for="country in countries" v-bind:value="country['code']+'-'+country['name']" >
                                            {{country["code"]}} - {{country["name"]}}
                                        </option>
                                    </select>
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.country">{{ errors.country }}</span>

                                    <input type="text" v-model="business_registation_no"  v-bind:placeholder="trans.get('__JSON__.商業登記號碼')+' *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.business_registation_no">{{ errors.business_registation_no }}</span>
                                    <input v-model="br_date"  v-bind:placeholder="trans.get('__JSON__.BR到期日')+' *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full" type="text" onfocus="(this.type='date')">
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.br_date">{{ errors.br_date }}</span>
                                    <div class="flex px-2 items-center">
                                        <p class="w-3/6 my-1 text-pink-darken">{{ trans.get('__JSON__.BR文件上傳') }} *</p>
                                        <!-- <span class="text-pink-darken">{{ trans.get('__JSON__.上傳文件') }}</span> -->
                                        <!-- <label class="cursor-pointer p-2 text-white ml-2 bg-pink-stronger"> {{ trans.get('__JSON__.選擇文件') }} -->
                                        <!-- <input type="file"  class="w-3/6 hidden"> -->
                                        <!-- </label> -->
                                        <!-- :media="banners.en.desktop" -->

                                         <file-uploader :unlimited="false" :max="1"  collection="br_file" name="br_file"
                                                 :tokens="tokens"
                                                 notes="Supported types: jpeg, png,jpg,gif,pdf,docs,doc"
                                                 accept="image/jpeg,image/png, image/jpg, application/pdf, application/docx, application/doc"
                                                 @complete="uploaded()">
                                           </file-uploader>
                                    </div>
                                    <div class="flex px-2 mt-2 items-center">
                                        <p class="w-3/6 my-1 text-pink-darken">{{ trans.get('__JSON__.公司簡介') }} *</p>
                                        <file-uploader
                                                 :unlimited="false"
                                                 :max="1" collection="componay_photo" name="componay_photo" :tokens="tokens"
                                                 notes="Supported types: jpeg, png,jpg,gif,pdf,docs,doc"
                                                 accept="image/jpeg,image/png, image/jpg"
                                                 @complete="uploaded()">
                                             </file-uploader>
                                    </div>
                                </div>
                                <p class="text-pink-darken mt-4 my-2 text-xl font-medium border-b border-pink-darken">{{ trans.get('__JSON__.註冊人信息') }}</p>
                                <div class="px-3">
                                    <input type="text"  v-model="registrant_name" v-bind:placeholder="trans.get('__JSON__.註冊人姓名')" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.registrant_name">{{ errors.registrant_name }}</span>
                                    <input type="text"  v-model="registrant_posotion" v-bind:placeholder="trans.get('__JSON__.註冊人的職位')" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.registrant_posotion">{{ errors.registrant_posotion }}</span>
                                    <div class="w-full relative grid sm:grid-cols-3 grid-cols-2 lg:grid-cols-4 gap-2">
                                        <!-- :reduce="countrycode=> countrycode['country-code']" -->
                                        <div class="col-span-1">
                                            <v-select :options="countrycodes" :clearable="true" :searchable="true" :filterable="true" v-model="countrycode" class="v-select focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-2 py-3 bg-white float-left border-white my-2 w-full rounded-full mr-0" label="name">
                                                <template v-slot:selected-option="countrycode">
                                                    <span class="text-pink-darken font-bold">{{countrycode['code']}} </span>
                                                </template>
                                                <template v-slot:option="countrycode">
                                                    <span class="text-pink-darken hover:text-white">
                                                        {{countrycode.name}}
                                                        &nbsp;
                                                       ({{countrycode['code']}})
                                                    </span>
                                                </template>
                                            </v-select>
                                        </div>
                                        <div class="sm:col-span-2 col-span-1 lg:col-span-3 ">
                                             <input type="tel" v-model="registrant_contact_number" maxlength="12" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base sm:px-6 px-2 py-3 bg-white float-left border-white my-2 rounded-full w-full" v-bind:placeholder="trans.get('__JSON__.註冊人的聯繫電話')">

                                                <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.registrant_contact_number">{{ errors.registrant_contact_number }}</span>
                                        </div>
                                    </div>
                                    <input type="email" v-model="registrant_email"  v-bind:placeholder="trans.get('__JSON__.註冊人的電子郵件')" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.registrant_email">{{ errors.registrant_email }}</span>
                                </div>
                                <p class="text-pink-darken mt-4 my-2 text-xl font-medium border-b border-pink-darken">{{ trans.get('__JSON__.聯繫人信息') }}</p>
                                <div class="px-3">
                                    <input type="text" v-model="contact_name"  v-bind:placeholder="trans.get('__JSON__.聯絡人姓名')+' *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.contact_name">{{ errors.contact_name }}</span>
                                    <input type="text" v-model="contact_person_position" v-bind:placeholder="trans.get('__JSON__.聯繫人職位')+' *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.contact_person_position">{{ errors.contact_person_position }}</span>
                                    <div class="w-full relative grid sm:grid-cols-3 grid-cols-2 lg:grid-cols-4 gap-2">
                                        <div class="col-span-1">
                                            <!-- :reduce="countrycode=> countrycode['country-code']" -->

                                            <v-select :options="countrycodes" :clearable="true" :searchable="true" :filterable="true" v-model="countrycode_contact" class="v-select focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-2 py-3 bg-white float-left border-white my-2 w-full rounded-full mr-0" label="name">
                                                <template v-slot:selected-option="countrycode">
                                                    <span class="text-pink-darken font-bold">{{countrycode['code']}}</span>
                                                </template>
                                                <template v-slot:option="countrycode">
                                                    <span class="text-pink-darken hover:text-white">
                                                        {{countrycode.name}}
                                                        &nbsp;
                                                        ({{countrycode['code']}})
                                                    </span>
                                                </template>
                                            </v-select>
                                        </div>
                                        <div class="col-span-1 sm:col-span-2 lg:col-span-3">
                                            <input type="tel" v-model="mobileno_contact"  maxlength="12" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base sm:px-6 px-2 py-3 bg-white float-left border-white my-2 rounded-full w-full" v-bind:placeholder="trans.get('__JSON__.聯繫人號碼')+' *'">
                                            <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.mobileno_contact">{{ errors.mobileno_contact }}</span>
                                        </div>
                                    </div>
                                    <input type="email" v-model="contact_email"  v-bind:placeholder="trans.get('__JSON__.聯繫人電子郵件')+' *'" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full">
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.contact_email">{{ errors.contact_email }}</span>
                                </div>
                                <p class="text-pink-darken mt-4 my-2 text-xl font-medium border-b border-pink-darken">{{ trans.get('__JSON__.產品信息') }}</p>
                                <div class="px-3">
                                    <select class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken text-pink-darken placeholder-pink-darken text-base px-6 py-4 border-white my-2 w-full rounded-full" v-model="product_qty">
                                        <option default value="">{{ trans.get('__JSON__.產品數量類型') }}</option>
                                        <option value="1-50">1-50</option>
                                        <option value="51-100">51-100</option>
                                        <option value="101-150">101-150</option>
                                        <option value="151-200">151-200</option>
                                        <option value="200 above">{{ trans.get('__JSON__.超過200') }}</option>
                                    </select>
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.product_qty">{{ errors.product_qty }}</span>
                                    <div class="ml-4">
                                        <p class="text-pink-darken">{{ trans.get('__JSON__.網上商店體驗') }}</p>
                                        <input type="radio" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken"  v-model="online_shop_status" name="shopexperience" value="1">
                                        <label class="my-1 text-sm text-pink-darken" for="yes">{{ trans.get('__JSON__.有') }}</label><br>
                                        <input type="radio" class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken" required v-model="online_shop_status" name="shopexperience" value="0">
                                        <label class="my-1 text-sm text-pink-darken" for="no">{{ trans.get('__JSON__.沒有') }}</label><br>
                                    </div>
                                    <span class="w-full relative px-4 pb-2 text-red-500" v-if="errors.online_shop_status">{{ errors.online_shop_status }}</span>
                                </div>

                                <p class="text-pink-darken mt-12 px-4 text-center font-bold text-lg"> {{trans.get('__JSON__.负责人只需一个工作日即可回复您的申请')}}</p>
                                <input class="font-bold text-lg text-white py-4 mt-7 bg-pink-stronger my-2 w-full rounded-full cursor-pointer focus:outline-none" type="submit" v-bind:value="trans.get('__JSON__.提交')" >

                                <div v-if="Object.keys(this.$page.errors).length" class="block w-full py-4 pl-4 border border-red-700 mb-8">
                                    <h3 class="text-2xl text-red-700">Oops! There are some errors</h3>
                                    <ul>
                                        <li v-for="(error, index) in this.$page.errors">
                                            <span class="text-red-700">{{ error }}</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="ml-4 my-4">
                                    <p class="text-pink-darken"> <span class="cursor-pointer" @click="terms_conditionsopen">{{ trans.get('__JSON__.條款和條件') }}</span> + <span class="cursor-pointer" @click="privacy_policyopen">{{ trans.get('__JSON__.隱私政策聲明') }}</span></p>
                                    <input type="checkbox" checked class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken my-4" value="terms_privacy">
                                    <label class="my-4 text-sm text-pink-darken" for="terms_privacy">{{ trans.get('__JSON__.接受条款和条件') }}</label><br>
                                    <p class="text-pink-darken">{{ trans.get('__JSON__.接受提供的信息') }}</p>
                                    <input type="checkbox" checked class="focus:ring-2 focus:ring-pink-darken focus:border-pink-darken my-4" value="inforcheck">
                                    <label class="my-4 text-sm text-pink-darken" for="inforcheck">{{ trans.get('__JSON__.接受条款和条件') }}</label><br>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal :show="terms_conditions" @close="terms_conditions=false">
        <template #content>
            <div v-if="trans.locale == 'en'" v-html="termsconditions_english" class="p-5 height-full h-screen overflow-y-auto"></div>
            <div v-if="trans.locale == 'zh-CN'" v-html="termsconditions_chinese_simplified" class="p-5 height-full h-screen overflow-y-auto"></div>
            <div v-if="trans.locale == 'zh-HK'" v-html="termsconditions_chinese_traditional" class="p-5 height-full h-screen overflow-y-auto"></div>
        </template>
    </modal>
    <modal :show="privacy_policy" @close="privacy_policy=false">
        <template #content>
            <div v-if="trans.locale == 'en'" v-html="privacy_policy_english" class="p-5 height-full h-screen overflow-y-auto"></div>
            <div v-if="trans.locale == 'zh-CN'" v-html="privacy_policy_simplified" class="p-5 height-full h-screen overflow-y-auto"></div>
            <div v-if="trans.locale == 'zh-HK'" v-html="privacy_policy_traditional" class="p-5 height-full h-screen overflow-y-auto"></div>
        </template>
    </modal>

</store-front-layout>
</template>

<script>

    import StoreFrontLayout from '@/Layouts/StoreFrontLayout'
    import vSelect from 'vue-select'
    import Welcome from '@/Jetstream/Welcome'
    import LoginSidebar from '@/StoreTemplates/LoginSidebar'
    import Countrycodeswithnames from '../../../../CountryNamesWithCode.json'
    import JetActionSection from '@/Jetstream/ActionSection'
    import JetButton from '@/Jetstream/Button'
    import Modal from '@/Jetstream/DialogModal'
    import FileUploader from 'laravel-file-uploader';

    export default {
        components: {
            JetActionSection,
            JetButton,
            StoreFrontLayout,
            'v-select': vSelect,
            Modal,
            FileUploader,
        },
        props: ['meta', 'errors', 'countrycodes', 'countries',  'termsconditions_english', 'termsconditions_chinese_simplified','termsconditions_chinese_traditional','page', 'privacy_policy_english', 'privacy_policy_simplified', 'privacy_policy_traditional'],
        watch: {
            meta: {
                immediate: true,
                handler(meta) {
                    document.title=meta.title + ' - ' + this.$page.appName
                },
            },

        },
        data(){
            return{

                countrycode_contact: null,
                isSignUpFormShow:true,
                tokens: [],
                countrycode: null,
                countrycode_contact: null,
                registrant_contact_number:'',
                mobileno_contact: '',
                countrynames: Countrycodeswithnames,
                terms_conditions: false,
                privacy_policy: false,
                company_name_en:null,
                company_name_ch:null,
                incorporation_place:'',
                incorporation_no:null,
                business_name:null,
                componay_website:null,
                floor:null,
                street:null,
                district:null,
                country:'',
                business_registation_no:null,
                br_date:null,
                registrant_name:null,
                registrant_posotion:'',
                registrant_email:null,
                contact_name:null,
                contact_person_position:null,
                contact_email:null,
                product_qty:'',
                online_shop_status:'',

            }
        },

       computed: {
        showNotif: function () {
            if( this.$page.jetstream.flash.length > 0){
                this.isSignUpFormShow = false;
              this.vendorRegResetForm();
            }
             return typeof this.$page.jetstream.flash !== 'undefined' && this.$page.jetstream.flash;
        },
    },

        methods:{
            terms_conditionsopen() {
                this.terms_conditions=true;
            },
            privacy_policyopen(){
                this.privacy_policy=true
            },

            uploaded: function () {
                console.log(this.tokens);
            },



        vendorRegResetForm() {
            this.countrycode = {
                'code': '+852'
            };
            this.countrycode_contact = {
                'code': '+852'
            };
            this.mobileno = null;
            this.mobileno_contact = null;
            this.countrynames = Countrycodeswithnames;
            this.terms_conditions = false;
            this.privacy_policy = false;
            this.company_name_en = null;
            this.company_name_ch = null;
            this.incorporation_place = '';
            this.registrant_posotion = '';
            this.incorporation_no = null;
            this.business_name = null;
            this.componay_website = null;
            this.floor = null;
            this.street = null;
            this.district = null;
            this.country = '';
            this.business_registation_no = null;
            this.br_date = null;
            this.registrant_name = null;
            this.registrant_posotin = '';
            this.registrant_email = null;
            this.contact_name = null;
            this.contact_person_position = null;
            this.contact_email = null;
            this.product_qty = '';
            this.online_shop_status = '';
        },


            vendorRegForm() {
                const params = {
                    company_name_en: this.company_name_en,
                    company_name_ch: this.company_name_ch,
                    incorporation_place:this.incorporation_place,
                    incorporation_no:this.incorporation_no,
                    business_name:this.business_name,
                    componay_website:this.componay_website,
                    floor:this.floor,
                    street:this.street,
                    district:this.district,
                    country:this.country,
                    business_registation_no:this.business_registation_no,
                    br_date:this.br_date,
                    tokens: this.tokens,
                    registrant_name:this.registrant_name,
                    registrant_posotion:this.registrant_posotion,
                    countrycode: this.countrycode['code'],
                    countrycode_contact: this.countrycode_contact['code'],
                    registrant_contact_number: parseInt( this.registrant_contact_number),
                    mobileno_contact: parseInt(this.mobileno_contact),
                   // registrant_contact_number:this.registrant_contact_number,
                    // mobileno_contacts: this.mobileno_contact,
                    registrant_email:this.registrant_email,
                    contact_name:this.contact_name,
                    contact_person_position:this.contact_person_position,
                    contact_email:this.contact_email,
                    product_qty :this.product_qty,
                    online_shop_status:this.online_shop_status
                };

               this.$inertia.post('/vendor-registation', params, {
                preserveScroll: true,
                resetOnSuccess: true,
            });

            },

        },
        mounted() {
            this.countrycode={'code':'+852'};
            this.countrycode_contact={'code':'+852'};


        }
    }
</script>


<style module>
</style>
